Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(tests): Resolve test infrastructure issues
  packages/cli/package.json
  packages/yawl/test/yawl-events.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(v6): 10-agent swarm completes all fixes and optimizations
  AGENT-10-FINAL-VALIDATION.md
  AGENT-2-CLI-FIX.md
  AGENT-3-YAWL-FIX.md
  AGENT-4-BROWSER-FIX.md
  AGENT-5-INTEGRATION-REPORT.md
  AGENT-6-PERFORMANCE-REPORT.md
  AGENT-7-DOCUMENTATION-VALIDATION.md
  AGENT-8-CODE-QUALITY-REPORT.md
  AGENT-9-COVERAGE-REPORT.md
  packages/cli/src/cli/commands/graph.mjs
  packages/cli/src/cli/commands/query.mjs
  packages/cli/test/cli/decision-fabric.test.mjs
  packages/core/test/logger.test.mjs
  packages/core/test/recovery.test.mjs
  packages/streaming/run-tests.mjs
  packages/streaming/src/rdf-stream-parser.mjs
  packages/streaming/test-n3-parser.mjs
  packages/streaming/test-no-data-listener.mjs
  packages/streaming/test-simple-stream.mjs
  packages/streaming/test-synthetic-rdf.mjs
  packages/streaming/test/streaming.test.mjs
  packages/streaming/test/v6-streaming.test.mjs
  packages/streaming/vitest.config.mjs
  packages/v6-core/src/delta/index.mjs
  packages/v6-core/test/browser/browser-compat.test.mjs
  packages/yawl/src/case-core.mjs
  packages/yawl/src/case-lifecycle.mjs
  packages/yawl/src/case-rdf.mjs
  packages/yawl/src/engine.mjs
  packages/yawl/src/task-rdf.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Remove .claude-flow and .swarm from git tracking
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

docs: Final 10-agent swarm synthesis report with decision point
  FINAL-10-AGENT-SYNTHESIS.md
Due: prettier --write

docs: Add architecture review and agent-generated documentation
  docs/v6/ARCHITECTURE_REVIEW.md
  packages/diataxis-kit/ARTIFACTS/diataxis/inventory.json
  packages/diataxis-kit/ARTIFACTS/diataxis/unrdf-workspace/diataxis.json
  packages/diataxis-kit/OUT/@unrdf/core/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/@unrdf/federation/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/@unrdf/hooks/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/@unrdf/oxigraph/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/unrdf-workspace/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/unrdf-workspace/how-to/howto-howto-use-unrdf-workspace.md
Due: prettier --write

chore: Stop tracking auto-generated runtime artifacts
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Add benchmark execution results from 10-agent swarm performance validation
  benchmark-results.json
Due: prettier --write

docs: Add comprehensive BREAKING_CHANGES.md for v6
  BREAKING_CHANGES.md
Due: prettier --write

chore: Clean up KGC extension imports
  CHANGELOG.md
  package.json
  packages/cli/src/commands/graph/validate.mjs
  packages/kgc-cli/test/ecosystem.test.mjs
  packages/v6-compat/package.json
  packages/v6-core/package.json
  src/cli/commands/graph/list.mjs
  src/cli/commands/graph/validate.mjs
  src/composables/use-canon.mjs
  src/knowledge-engine/lite.mjs
  src/project-engine/materialize-apply.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Add comprehensive production validation report
  VALIDATION_REPORT.md
Due: prettier --write

feat: Complete all v6 blockers via 10-agent hyper-advanced swarm
  packages/core/test/config.test.mjs
  packages/dark-matter/package.json
  packages/federation/src/federation/consensus-manager.mjs
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/src/hooks/effect-sandbox.mjs
  packages/hooks/src/hooks/file-resolver.mjs
  packages/hooks/src/hooks/policy-pack.mjs
  packages/hooks/src/hooks/security/path-validator.mjs
  packages/hooks/test/policy-compiler.test.mjs
  packages/kgc-cli/src/lib/latex/swiftlatex-engine.mjs
  packages/ml-versioning/src/version-store.mjs
  packages/ml-versioning/test/versioning.test.mjs
  packages/oxigraph/test/query-cache.test.mjs
  packages/rdf-graphql/test/graphql.test.mjs
  packages/v6-compat/package.json
  packages/v6-compat/src/adapters.mjs
  packages/v6-compat/src/lint-rules.mjs
  packages/v6-compat/src/schema-generator.mjs
  packages/yawl-kafka/package.json
  packages/yawl-kafka/src/examples/analytics-pipeline.mjs
  packages/yawl-kafka/src/index.mjs
  packages/yawl-kafka/src/producer.mjs
  packages/yawl-kafka/src/schemas.mjs
  packages/yawl-kafka/test/kafka.test.mjs
  packages/yawl/package.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Add comprehensive final status report for v6 recovery swarm
  V6-RECOVERY-FINAL-STATUS.md
Due: prettier --write

feat: Add v6 recovery orchestration plans and all generated Zod schemas
  V6-RECOVERY-EXECUTIVE-SUMMARY.md
  V6-RECOVERY-METRICS.txt
  V6-RECOVERY-ORCHESTRATION-PLAN.md
  V6-RECOVERY-PHASE-ASSIGNMENTS.md
  packages/v6-compat/scripts/generate-v6-core-schemas.mjs
  packages/v6-compat/src/index.schema.mjs
  packages/v6-core/src/cli/commands/grammar.schema.mjs
  packages/v6-core/src/cli/commands/index.schema.mjs
  packages/v6-core/src/cli/commands/receipt.schema.mjs
  packages/v6-core/src/cli/commands/thesis.schema.mjs
  packages/v6-core/src/cli/nouns.schema.mjs
  packages/v6-core/src/cli/spine.schema.mjs
  packages/v6-core/src/cli/verbs.schema.mjs
  packages/v6-core/src/delta/index.schema.mjs
  packages/v6-core/src/delta/kgc-receipts.schema.mjs
  packages/v6-core/src/delta/reconcile.schema.mjs
  packages/v6-core/src/delta/schema.schema.mjs
  packages/v6-core/src/docs/latex-generator.schema.mjs
  packages/v6-core/src/docs/pipeline.schema.mjs
  packages/v6-core/src/docs/thesis-builder.schema.mjs
  packages/v6-core/src/grammar/compiler.schema.mjs
  packages/v6-core/src/grammar/grammar-receipts.schema.mjs
  packages/v6-core/src/grammar/index.schema.mjs
  packages/v6-core/src/grammar/parser.schema.mjs
  packages/v6-core/src/grammar/runtime-gate.schema.mjs
  packages/v6-core/src/receipts/index.schema.mjs
  packages/v6-core/src/receipts/indexing-receipts.schema.mjs
  packages/v6-core/src/receipts/merkle/anchor.schema.mjs
  packages/v6-core/src/receipts/merkle/proofchain.schema.mjs
  packages/v6-core/src/receipts/merkle/tree.schema.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Add remaining v6-core schema files (index and receipt-pattern)
  packages/v6-core/src/index.schema.mjs
  packages/v6-core/src/receipt-pattern.schema.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: Add v6.0.0 release orchestration plan (10-agent swarm)
  docs/UNRDF-V6-RELEASE-ORCHESTRATION.md
Due: prettier --write

docs: Adversarial PM gap analysis for YAWL package
  packages/yawl/GAP-ANALYSIS-ADVERSARIAL-PM.md
Due: prettier --write

feat: Complete 10-agent atomvm gap closure with RDF integration
  ATOMVM-GAP-ANALYSIS.md
  ATOMVM-GAP-CLOSURE-REPORT.md
  packages/atomvm/docs/integration-test-guide.md
  packages/atomvm/package.json
  packages/atomvm/src/hot-code-loader.mjs
  packages/atomvm/src/index.mjs
  packages/atomvm/src/message-validator.mjs
  packages/atomvm/src/otel-instrumentation.mjs
  packages/atomvm/src/oxigraph-bridge.mjs
  packages/atomvm/src/query-cache.mjs
  packages/atomvm/src/rdf-validator.mjs
  packages/atomvm/src/sla-monitor.mjs
  packages/atomvm/src/sparql-pattern-matcher.mjs
  packages/atomvm/src/triple-stream-batcher.mjs
  packages/atomvm/test/hot-code-loader.test.mjs
  packages/atomvm/test/integration-core.test.mjs
  packages/atomvm/test/integration-streaming.test.mjs
  packages/atomvm/test/message-validator.test.mjs
  packages/atomvm/test/otel-instrumentation.test.mjs
  packages/atomvm/test/oxigraph-bridge.test.mjs
  packages/atomvm/test/query-cache-quick.mjs
  packages/atomvm/test/query-cache.test.mjs
  packages/atomvm/test/rdf-validator.test.mjs
  packages/atomvm/test/sla-monitor.test.mjs
  packages/atomvm/test/sparql-pattern-matcher.test.mjs
  packages/atomvm/test/triple-stream-batcher.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Add executive summary and OTEL tracing example
  ATOMVM-GAP-ANALYSIS-EXECUTIVE-SUMMARY.md
  examples/otel-tracing-example.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

refactor(yawl): split yawl-cancellation.mjs into maintainable modules
  packages/yawl/src/cancellation/circuit-breaker.mjs
  packages/yawl/src/cancellation/index.mjs
  packages/yawl/src/cancellation/manager.mjs
  packages/yawl/src/cancellation/receipt-logger.mjs
  packages/yawl/src/cancellation/region-manager.mjs
  packages/yawl/src/cancellation/schemas.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(yawl): Add comprehensive OpenTelemetry instrumentation
  packages/yawl/PERFORMANCE-REPORT.md
  packages/yawl/package.json
  packages/yawl/src/api/safe-expression-evaluator.mjs
  packages/yawl/src/api/workflow-api-core.mjs
  packages/yawl/src/api/workflow-api-execution.mjs
  packages/yawl/src/api/workflow-execution.mjs
  packages/yawl/src/otel.mjs
  packages/yawl/src/receipt-core.mjs
  packages/yawl/src/resources/yawl-resources.mjs
  packages/yawl/test/FUZZING_RESULTS.md
  packages/yawl/test/fuzzing-cancellation.test.mjs
  packages/yawl/test/performance-baseline.json
  packages/yawl/test/performance-baseline.test.mjs
  packages/yawl/test/performance-regression.test.mjs
  packages/yawl/test/run-fuzzing-standalone.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Complete Phase 4 production validation - CONDITIONAL APPROVAL
  PHASE-4-FINAL-VALIDATION-RESULTS.md
  V6-PRODUCTION-READINESS-REPORT.md
  build-gate-status.txt
Due: prettier --write

feat(yawl): Add 138 integration tests for 3 untested exports
  packages/yawl/TEST-INTEGRATION-REPORT.md
  packages/yawl/package.json
  packages/yawl/src/receipt-core.mjs
  packages/yawl/src/workflow-rdf.mjs
  packages/yawl/test/blockchain-receipts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Add 10-agent validation reports and artifacts
  AGENT-5-PERFORMANCE-REPORT.md
  AGENT-8-INTEGRATION-TEST-REPORT.md
  benchmark-v6-performance.mjs
  performance-benchmark-results.txt
  security-audit-report.md
  test/integration-agent-8-e2e.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs(yawl): Add error handling verification report
  packages/yawl/ERROR-HANDLING-VERIFICATION-REPORT.md
Due: prettier --write

docs: Add 10-agent adversarial PM gap analysis final reports
  packages/yawl/CORRECTED-PRODUCTION-ASSESSMENT.md
  packages/yawl/DEPENDENCY-CLEANUP-SUMMARY.md
  packages/yawl/EXECUTIVE-SUMMARY.md
  packages/yawl/docs/stress-test-deliverables.md
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
