Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

core: add JSDoc to interchangeable-part and transaction-core
  packages/core/src/interchangeable-part.mjs
  packages/core/src/utils/transaction-core.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs(serverless): add JSDoc to bundler and DynamoDB storage modules
  packages/serverless/src/deploy/lambda-bundler.mjs
  packages/serverless/src/storage/dynamodb-adapter.mjs
  packages/serverless/src/storage/dynamodb-core.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ml-versioning): use parsed locals in getVersion return instead of re-parsing
  packages/ml-versioning/src/version-store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): make sparql-pattern-matcher timing bounds robust on shared runners
  packages/atomvm/test/sparql-pattern-matcher.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): give logger performanceTimer assertions realistic timing tolerance
  packages/core/test/logger.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Add JSDoc to admitted Raft coordinator
  packages/consensus/src/raft/admitted-raft-coordinator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

streaming: add JSDoc to checkpointed-pipeline and shacl-core exports
  packages/streaming/src/checkpointed-pipeline.mjs
  packages/streaming/src/shacl-core.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

streaming: remove unused imports/bindings in shacl-core node test
  packages/streaming/test/shacl-core.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Fix pictl-semantics lint: remove unused imports/bindings, underscore ignored params
  packages/pictl-semantics/src/index.mjs
  packages/pictl-semantics/src/ontology-loader.mjs
  packages/pictl-semantics/src/quorum.mjs
  packages/pictl-semantics/src/result-validator.mjs
  packages/pictl-semantics/test/quorum.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs(v6-compat): add JSDoc to schema-codec exports
  packages/v6-compat/src/schema-codec.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(v6-compat): remove unused imports and prefix ignored arg in integration test
  packages/v6-compat/test/integration.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(cli): clear lint findings (unused imports/bindings, quality JSDoc)
  packages/cli/src/cli/commands/doctor/checks/quality.mjs
  packages/cli/src/cli/commands/pack.mjs
  packages/cli/src/cli/commands/publish.mjs
  packages/cli/src/cli/commands/telco.mjs
  packages/cli/test/commands/doctor/fixes.test.mjs
  packages/cli/test/commands/doctor/quality.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

build: declare typescript where tsc runs; scope cli/temporal-discovery declaration builds to their own src
  packages/atomvm/package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/composables/package.json
  packages/graph-analytics/package.json
  packages/kgc-4d/package.json
  packages/kgc-multiverse/package.json
  packages/oxigraph/package.json
  packages/receipts/package.json
  packages/temporal-discovery/package.json
  packages/temporal-discovery/tsconfig.json
  packages/validation/package.json
  pnpm-lock.yaml
Due: prettier --write

test(observability): best-of-N for emit latency assertion (bound unchanged)
  packages/observability/test/custom-events.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(lint): reattach N3 JSDoc, correct interchangeable-part doc, preserve empty previousHash coercion
  packages/core/src/interchangeable-part.mjs
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/kgc-probe/.probe-write-test-1736937000000
  packages/ml-versioning/src/version-store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: restore tracked kgc-probe fixture removed by a test run
  packages/kgc-probe/.probe-write-test-1736937000000
Due: none

ci: fix playground lint flag, declare @eslint/js where configs import it, refresh interchangeable-parts bench receipt
  benchmarks/interchangeable-parts/bench-receipt.json
  packages/kgc-multiverse/package.json
  packages/receipts/eslint.config.mjs
  packages/receipts/package.json
  playground/package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test: best-of-N for test-utils and zkp wall-clock assertions (bounds unchanged)
  packages/test-utils/test/example-helpers.test.mjs
  packages/zkp/test/sparql-zkp.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-multiverse): resolve 32 eslint errors exposed by @eslint/js
  packages/kgc-multiverse/eslint.config.mjs
  packages/kgc-multiverse/src/cli-10k.mjs
  packages/kgc-multiverse/src/composition.mjs
  packages/kgc-multiverse/src/parallel-executor.mjs
  packages/kgc-multiverse/src/q-star.mjs
  packages/kgc-multiverse/src/universe-manager.mjs
  packages/kgc-multiverse/test/composition.test.mjs
  packages/kgc-multiverse/test/guards.test.mjs
  packages/kgc-multiverse/test/morphism.test.mjs
  packages/kgc-multiverse/test/parallel-executor.test.mjs
  packages/kgc-multiverse/test/q-star.test.mjs
  packages/kgc-multiverse/test/universe-manager.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

style: prettier-format nine files this PR added or changed
  packages/kgc-cli/src/lib/registry.mjs
  packages/kgc-probe/src/cli.mjs
  packages/knowledge-engine/src/hook-executor.mjs
  packages/knowledge-engine/src/observability-schemas.mjs
  packages/knowledge-engine/src/validation-functions.mjs
  packages/ml-versioning/src/tf.mjs
  packages/project-engine/src/file-roles.mjs
  packages/project-engine/src/initialize.mjs
  packages/project-engine/src/project-model.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci: make node --test package scripts survive 'pnpm -r test -- --coverage' on Node 20; best-of-N hook bulk benchmarks
  packages/diataxis-kit/package.json
  packages/federation/package.json
  packages/hooks/test/benchmarks/hook-overhead.test.mjs
  packages/kgc-probe/package.json
  packages/kgc-runtime/package.json
  packages/kgc-swarm/package.json
  packages/rdf-graphql/package.json
  packages/serverless/package.json
  scripts/run-node-tests.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

ci: route test:node scripts through run-node-tests so test:coverage passes on Node 20
  packages/atomvm/package.json
  packages/core/package.json
  packages/fusion/package.json
  packages/receipts/package.json
  packages/streaming/package.json
  packages/v6-compat/package.json
  packages/v6-core/package.json
Due: prettier --write

test(zkp): best-of-7 for the sub-millisecond compile-scaling ratio (bound unchanged)
  packages/zkp/test/circuit-compiler.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: package-matrix findings - browser install, CI-proof version test, portable fusion path, knowledge-engine ReferenceErrors
  .github/workflows/package-matrix.yml
  packages/cli/test/main-entrypoint.test.mjs
  packages/fusion/test/kgc-docs-atlas.test.mjs
  packages/knowledge-engine/src/observability.mjs
  packages/knowledge-engine/src/query.mjs
  packages/knowledge-engine/test/observability-cache-maxsize.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: add CHANGELOG with v26.9.28 release notes
  CHANGELOG.md
Due: prettier --write

fix: repair broken package imports, builds and lint found by the package matrix
  benchmarks/integration.test.mjs
  examples/knowledge-rag/src/rag-pipeline.mjs
  packages/codegen/src/index.mjs
  packages/collab/src/crdt/rdf-crdt.mjs
  packages/kgc-4d-playground/next.config.mjs
  packages/kgc-4d-playground/tsconfig.json
  packages/kgn/build.config.mjs
  packages/knowledge-engine/src/ai-enhanced-search.mjs
  packages/knowledge-engine/src/browser.mjs
  packages/knowledge-engine/src/canonicalize.mjs
  packages/knowledge-engine/src/chatman-engine.mjs
  packages/knowledge-engine/src/chatman-operator.mjs
  packages/knowledge-engine/src/formation-theorems.mjs
  packages/knowledge-engine/src/knowledge-hook-manager.mjs
  packages/knowledge-engine/src/lockchain-writer-browser.mjs
  packages/knowledge-engine/src/observability.mjs
  packages/knowledge-engine/src/parse.mjs
  packages/knowledge-engine/src/reason.mjs
  packages/knowledge-engine/src/resolution-layer.mjs
  packages/knowledge-engine/src/transaction.mjs
  packages/knowledge-engine/src/validate.mjs
  packages/knowledge-engine/test/chatman-direct-test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(streaming): explicit timeout for the two 10k-validation memory-bound tests
  packages/streaming/test/validator-cache.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(event-automation): use one timestamp for receipt hash and receipt
  packages/event-automation/src/receipt-tracker.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: ignore .artifacts/ package-matrix output
  .gitignore
Due: none

fix(kgn): keep workspace packages external in the unbuild bundle
  packages/kgn/build.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

style(knowledge-engine): prettier-format transaction.mjs
  packages/knowledge-engine/src/transaction.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(scripts): import existsSync instead of calling require() in an ES module
  scripts/monitoring/collect-benchmark-metrics.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-4d-playground): add @/* alias to tsconfig and externalize oxigraph on the server
  packages/kgc-4d-playground/next.config.mjs
  packages/kgc-4d-playground/tsconfig.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

sa2a-diataxis: bind repository manifest
  .sa2a/manifest.json
Due: prettier --write

chore(scripts): drop unused readdirSync import
  scripts/monitoring/collect-benchmark-metrics.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(deps): patch 196 of 260 advisories via bounded pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
