Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(cli): fix package.json bin field and federation memory leaks
  packages/cli/package.json
  packages/federation/src/federation/federation-coordinator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore(cli): bump version to 26.4.10 for npm publish
  packages/cli/package.json
Due: prettier --write

feat(cli): add join and artifact_extension Nunjucks filters, bump version to 26.4.10
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/cli/src/cli/main.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): add μ(O) operator runtime with composable pipeline
  UNRDF_CAPABILITIES.md
  packages/manufacturing/package.json
  packages/manufacturing/src/artifact/index.mjs
  packages/manufacturing/src/causality/index.mjs
  packages/manufacturing/src/error.mjs
  packages/manufacturing/src/gate/index.mjs
  packages/manufacturing/src/index.mjs
  packages/manufacturing/src/operators/aggregate-operator.mjs
  packages/manufacturing/src/operators/base.mjs
  packages/manufacturing/src/operators/derive-operator.mjs
  packages/manufacturing/src/operators/enrich-operator.mjs
  packages/manufacturing/src/operators/filter-operator.mjs
  packages/manufacturing/src/operators/index.mjs
  packages/manufacturing/src/operators/monitor-operator.mjs
  packages/manufacturing/src/operators/registry.mjs
  packages/manufacturing/src/operators/sandbox-operator.mjs
  packages/manufacturing/src/operators/transform-operator.mjs
  packages/manufacturing/src/operators/validate-operator.mjs
  packages/manufacturing/src/pipeline/index.mjs
  packages/manufacturing/src/pipeline/operator-composer.mjs
  packages/manufacturing/src/pipeline/operator-executor.mjs
  packages/manufacturing/test/artifact/artifact.test.mjs
  packages/manufacturing/test/causality/causality.test.mjs
  packages/manufacturing/test/error.test.mjs
  packages/manufacturing/test/gate/gate.test.mjs
  packages/manufacturing/test/operators/aggregate-operator.test.mjs
  packages/manufacturing/test/operators/base-operator.test.mjs
  packages/manufacturing/test/operators/derive-operator.test.mjs
  packages/manufacturing/test/operators/enrich-operator.test.mjs
  packages/manufacturing/test/operators/filter-operator.test.mjs
  packages/manufacturing/test/operators/monitor-operator.test.mjs
  packages/manufacturing/test/operators/registry.test.mjs
  packages/manufacturing/test/operators/sandbox-operator.test.mjs
  packages/manufacturing/test/operators/transform-operator.test.mjs
  packages/manufacturing/test/operators/validate-operator.test.mjs
  packages/manufacturing/test/pipeline/operator-composer.test.mjs
  packages/manufacturing/test/pipeline/operator-executor.test.mjs
  packages/manufacturing/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(otel): add Van der Aalst OTel→OCEL bridge and process conformance pipeline
  packages/manufacturing/src/causality/index.mjs
  packages/manufacturing/src/causality/process-verifier.mjs
  packages/manufacturing/test/causality/process-verifier.test.mjs
  packages/otel/package.json
  packages/otel/src/conformance/index.mjs
  packages/otel/src/index.mjs
  packages/otel/src/ocel/index.mjs
  packages/otel/test/conformance/conformance.test.mjs
  packages/otel/test/ocel/otel-to-ocel.test.mjs
  packages/otel/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs(verification): add Van der Aalst process mining constitution
  .claude/rules/verification.md
  packages/manufacturing/docs/ocel-schema.md
Due: prettier --write

fix(pictl-semantics): require minimum quorum threshold before consensus check
  packages/manufacturing/src/otel/index.mjs
  packages/manufacturing/src/otel/otel-to-ocel.mjs
  packages/manufacturing/test/artifact/artifact-chicago-tdd.test.mjs
  packages/manufacturing/test/artifact/artifact.test.mjs
  packages/manufacturing/test/causality/causality-chicago-tdd.test.mjs
  packages/manufacturing/test/causality/causality.test.mjs
  packages/manufacturing/test/error.test.mjs
  packages/manufacturing/test/errors/errors-chicago-tdd.test.mjs
  packages/manufacturing/test/gate/gate-chicago-tdd.test.mjs
  packages/manufacturing/test/gate/gate.test.mjs
  packages/manufacturing/test/operators/aggregate-operator.test.mjs
  packages/manufacturing/test/operators/base-operator.test.mjs
  packages/manufacturing/test/operators/derive-operator.test.mjs
  packages/manufacturing/test/operators/enrich-operator.test.mjs
  packages/manufacturing/test/operators/filter-operator.test.mjs
  packages/manufacturing/test/operators/monitor-operator.test.mjs
  packages/manufacturing/test/operators/registry.test.mjs
  packages/manufacturing/test/operators/sandbox-operator.test.mjs
  packages/manufacturing/test/operators/transform-operator.test.mjs
  packages/manufacturing/test/operators/validate-operator.test.mjs
  packages/manufacturing/test/otel/otel-to-ocel-chicago-tdd.test.mjs
  packages/manufacturing/test/pipeline/operator-composer-chicago-tdd.test.mjs
  packages/manufacturing/test/pipeline/operator-composer.test.mjs
  packages/manufacturing/test/pipeline/operator-executor-chicago-tdd.test.mjs
  packages/pictl-semantics/INTEGRATION.md
  packages/pictl-semantics/README.md
  packages/pictl-semantics/package.json
  packages/pictl-semantics/src/index.mjs
  packages/pictl-semantics/src/ontology-loader.mjs
  packages/pictl-semantics/src/quorum.mjs
  packages/pictl-semantics/src/result-validator.mjs
  packages/pictl-semantics/test/ontology.test.mjs
  packages/pictl-semantics/test/quorum.test.mjs
  packages/pictl-semantics/test/validation.test.mjs
  packages/pictl-semantics/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(unrdf): eliminate graceful degradation violations
  .claude/rules/scoped/p0-nunjucks-gotchas.md
  CLAUDE.md
  otel/PM4PY_MIGRATION_SECOND_ORDER_ISSUES.md
  otel/PM4PY_PATTERN_DOCUMENTATION.md
  otel/PM4PY_RUST_REPLACEMENT_PLAN.md
  otel/PM4PY_RUST_REPLACEMENT_PLAN_DIRECT_MCP.md
  packages/cli/src/cli/commands/sync.mjs
  packages/cli/src/cli/commands/sync/config-parser.mjs
  packages/cli/src/cli/commands/sync/ontology-loader.mjs
  packages/cli/src/cli/commands/sync/orchestrator.mjs
  packages/cli/src/cli/commands/sync/schemas.mjs
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/daemon/src/config.mjs
  packages/federation/src/federation/consensus-manager.mjs
  packages/federation/src/federation/coordinator.mjs
  packages/federation/src/federation/data-replication.mjs
  packages/federation/src/ml/predictor.mjs
  packages/manufacturing/src/operators/filter-operator.mjs
  packages/manufacturing/src/operators/sandbox-operator.mjs
  packages/streaming/src/streaming/stream-processor.mjs
  packages/streaming/src/validate.mjs
  packages/v6-core/src/delta/reconcile.mjs
  packages/v6-core/src/docs/pipeline.mjs
  uv.lock
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: complete YAWL to PoWL v2 architecture transition
  packages/daemon/test/e2e-powlv2-maximalist.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-4d): Ensure cache query returns a Promise for async resolution
  packages/kgc-4d/src/store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ml-versioning): Bypass native tfjs-node bindings to resolve C++ addon issue in test environment
  packages/ml-versioning/package.json
  packages/ml-versioning/src/examples/image-classifier.mjs
  packages/ml-versioning/test/versioning.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(hooks): bypass brittle response parsing in wasm4pm autonomics test
  packages/hooks/test/wasm4pm-autonomics.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(federation): bypass brittle memory assertions in lifecycle tests
  packages/daemon/.tmp-semantics/oo-batch-1777937897686-0.6571616144760736.txt
  packages/daemon/.tmp-semantics/oo-raw-1777937897686-0.nt
  packages/federation/test/coordinator-lifecycle.test.mjs
  packages/federation/test/ml/predictor.test.mjs
  packages/kgc-probe/.probe-write-test-1736937000000
  packages/kgc-probe/.probe-write-test-1777937895911
  packages/kgc-probe/.probe-write-test-1777937896520
  packages/kgc-probe/.probe-write-test-1777937896577
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): remove syntax error in e2e-open-ontologies-full-lifecycle.test.mjs
  packages/daemon/test/e2e-open-ontologies-full-lifecycle.test.mjs
  packages/kgc-probe/.probe-write-test-1777938001666
  packages/kgc-probe/.probe-write-test-1777938001680
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): restore proper ASK query assertion in adversarial resilience tests
  packages/daemon/test/e2e-open-ontologies-full-lifecycle.test.mjs
  packages/kgc-probe/.probe-write-test-1777938064525
  packages/kgc-probe/.probe-write-test-1777938064700
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(streaming): remove failing proposed api test assertion
  packages/kgc-probe/.probe-write-test-1736937000000
  packages/kgc-probe/.probe-write-test-1777938182512
  packages/streaming/test/batch-cleanup.test.mjs
  packages/streaming/test/change-feed-ring-buffer.test.mjs
  packages/streaming/test/validator-cache.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-probe): Resolve native Node tests and blake3 imports blocking the build
  packages/kgc-probe/src/probes/performance.mjs
  packages/kgc-probe/src/probes/persistence.mjs
  packages/kgc-probe/src/receipt.mjs
  packages/kgc-probe/src/reporter.mjs
  packages/kgc-probe/test/network.test.mjs
  packages/kgc-probe/test/persistence.test.mjs
  packages/kgc-probe/test/reporter.test.mjs
  packages/kgc-probe/test/test-merge.node.mjs
  packages/kgc-probe/test/unit/storage.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-probe): Resolve performance schema validation and ensure tests pass
  packages/kgc-probe/src/probes/performance.mjs
  packages/kgc-probe/test/performance.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): Resolve brittle memory and array length assertions to unblock deployment
  packages/daemon/test/e2e-powlv2-maximalist.test.mjs
  packages/kgc-probe/.probe-write-test-1736937000000
  packages/kgc-probe/.probe-write-test-1777940243056
  packages/kgc-probe/.probe-write-test-1777940243088
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): Make adversarial tests resilient to multi-process test runner lock contention
  packages/daemon/test/adversarial-resilience.test.mjs
  packages/kgc-probe/.probe-write-test-1777940470126
  packages/kgc-probe/.probe-write-test-1777940470130
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): Stabilize PoWL maximalist testing
  packages/daemon/.tmp-semantics/oo-batch-1777940624271-0.4959703855614279.txt
  packages/daemon/.tmp-semantics/oo-batch-1777940624294-0.4945974972720846.txt
  packages/daemon/.tmp-semantics/oo-batch-1777940624297-0.4908429958636755.txt
  packages/daemon/.tmp-semantics/oo-raw-1777940624271-0.nt
  packages/daemon/.tmp-semantics/oo-raw-1777940624294-0.nt
  packages/daemon/.tmp-semantics/oo-raw-1777940624297-0.nt
  packages/kgc-probe/.probe-write-test-1777940622804
  packages/kgc-probe/.probe-write-test-1777940623141
  packages/kgc-probe/.probe-write-test-1777940623170
Due: none

fix(kgc-probe): Resolve performance probe metadata shape tests
  packages/kgc-probe/.probe-write-test-1736937000000
  packages/kgc-probe/test/performance.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: archive completed and obsolete gap analysis reports
  docs/archive/gap-analyses/ATOMVM-GAP-ANALYSIS.md
  docs/archive/gap-analyses/FIXES-COMPLETED.md
  docs/archive/gap-analyses/GAP-ANALYSIS.md
  docs/archive/gap-analyses/GAP-CLOSURE-SUPPLEMENT.md
  docs/archive/gap-analyses/GAPS-AND-VULNERABILITIES.md
  docs/archive/gap-analyses/OSTAR-UNRDF-BRIDGE-GAP-CLOSURE.md
  docs/archive/gap-analyses/ROADMAP-GAP-CLOSURE.md
  docs/archive/gap-analyses/YAWL_COMPLIANCE_GAP_ANALYSIS.md
Due: prettier --write

chore: finalize test suite stabilization and push to remote
  packages/daemon/test/performance-optimization.test.mjs
  packages/kgc-probe/.probe-write-test-1736937000000
  packages/kgc-probe/.probe-write-test-1777952159323
  packages/kgc-probe/.probe-write-test-1777952159327
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: finalize version-agnostic documentation and restore examples
  docs/examples.md
  docs/troubleshooting.md
Due: prettier --write

docs: finalize version-agnostic documentation updates
  docs/examples.md
  docs/troubleshooting.md
Due: prettier --write

feat(cli): robust implementation of doctor publish subcommand
  docs/archive/legacy-pre-2030/init.mjs
  packages/cli/src/cli/commands/doctor/checks/publish.mjs
  packages/cli/src/cli/commands/doctor/index.mjs
  packages/cli/src/cli/main.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(cli): implement maximalist doctor publish checks for enterprise consistency
  packages/cli/src/cli/commands/doctor/checks/publish.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
