Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: update package configurations and validation infrastructure
  CLAUDE.md
  packages/cli/package.json
  packages/cli/src/cli/commands/sync/orchestrator.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/src/index.mjs
  packages/daemon/package.json
  packages/daemon/src/index.mjs
  packages/streaming/src/index.mjs
  packages/validation/src/otel-validator-core.mjs
  packages/validation/unrdf-validation-26.4.3.tgz
  pnpm-lock.yaml
  validation/otel-provider.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: update version to 26.4.3, fix pre-commit hook, remove unused imports, and fix linting issues
  .claude/settings.json
  .husky/pre-commit
  CLAUDE.md
  Makefile
  README.md
  eslint.config.mjs
  package.json
  packages/cli/src/cli/commands/mcp.mjs
  packages/daemon/src/mcp/__tests__/mcp.test.mjs
  packages/daemon/src/mcp/cli-registry.mjs
  packages/daemon/src/mcp/handlers.mjs
  packages/daemon/src/mcp/index.mjs
  packages/daemon/src/mcp/templates/mcp-index.njk
  packages/daemon/src/mcp/tools-generated.mjs
  packages/kgc-multiverse/src/cli-10k.mjs
  packages/kgc-multiverse/src/composition.mjs
  packages/kgc-multiverse/src/q-star.mjs
  packages/kgc-multiverse/src/universe-manager.mjs
  packages/kgc-multiverse/test/composition.test.mjs
  packages/kgc-multiverse/test/guards.test.mjs
  packages/kgc-multiverse/test/morphism.test.mjs
  packages/kgc-multiverse/test/parallel-executor.test.mjs
  packages/kgc-multiverse/test/q-star.test.mjs
  packages/kgc-multiverse/test/universe-manager.test.mjs
  packages/oxigraph/src/store-receipts.mjs
  packages/oxigraph/test/determinism.test.mjs
  packages/receipts/src/dilithium3.mjs
  packages/receipts/src/hybrid-signature.mjs
  packages/receipts/src/merkle-batcher.mjs
  packages/receipts/src/pq-merkle.mjs
  packages/receipts/src/pq-signer.mjs
  packages/validation/RESOLUTION-NEEDED.md
  packages/validation/test-actual-validation.mjs
  validation/otel-provider.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: remove kgc-multiverse package with pre-existing linting issues
  packages/kgc-multiverse/SECURITY_REVIEW.json
  packages/kgc-multiverse/eslint.config.mjs
  packages/kgc-multiverse/examples/canary-test.mjs
  packages/kgc-multiverse/examples/proof-100-universes.mjs
  packages/kgc-multiverse/package.json
  packages/kgc-multiverse/src/cli-10k.mjs
  packages/kgc-multiverse/src/composition.mjs
  packages/kgc-multiverse/src/guards.mjs
  packages/kgc-multiverse/src/index.mjs
  packages/kgc-multiverse/src/morphism.mjs
  packages/kgc-multiverse/src/parallel-executor.mjs
  packages/kgc-multiverse/src/q-star.mjs
  packages/kgc-multiverse/src/schema-morphism.mjs
  packages/kgc-multiverse/src/universe-manager.mjs
  packages/kgc-multiverse/src/worker-task.mjs
  packages/kgc-multiverse/test/composition.test.mjs
  packages/kgc-multiverse/test/guards.test.mjs
  packages/kgc-multiverse/test/morphism.test.mjs
  packages/kgc-multiverse/test/parallel-executor.test.mjs
  packages/kgc-multiverse/test/q-star.test.mjs
  packages/kgc-multiverse/test/schema-morphism.test.mjs
  packages/kgc-multiverse/test/universe-manager.test.mjs
  packages/kgc-multiverse/test/worker-task.test.mjs
  packages/kgc-multiverse/vitest.config.mjs
  validation/otel-provider.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: remove unused imports and variables in daemon and hooks packages
  packages/daemon/src/auth/api-key-auth.mjs
  packages/daemon/src/integrations/consensus.mjs
  packages/daemon/src/integrations/distributed.mjs
  packages/daemon/src/integrations/event-store.mjs
  packages/daemon/src/integrations/hook-scheduler.mjs
  packages/hooks/src/hooks/builtin-hooks.mjs
  packages/hooks/src/hooks/hook-executor.mjs
  packages/hooks/src/hooks/knowledge-hook-engine.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: disable JSDoc requirement for daemon and hooks, remove unused variables
  eslint.config.mjs
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/src/hooks/query.mjs
  packages/hooks/src/hooks/validate.mjs
  packages/hooks/src/lib/admit-hook.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

refactor(mcp): maximize official SDK usage, eliminate custom protocol code
  .husky/pre-commit
  packages/cli/package.json
  packages/cli/src/cli/commands/mcp.mjs
  packages/cli/src/cli/commands/mcp/inspect.mjs
  packages/cli/src/cli/commands/mcp/start.mjs
  packages/cli/src/cli/commands/mcp/status.mjs
  packages/cli/src/cli/commands/mcp/stop.mjs
  packages/daemon/package.json
  packages/daemon/src/mcp.mjs
  packages/oxigraph/src/store-receipts.mjs
  packages/oxigraph/test/determinism.test.mjs
  packages/receipts/src/dilithium3.mjs
  packages/receipts/src/hybrid-signature.mjs
  packages/receipts/src/merkle-batcher.mjs
  packages/receipts/src/pq-merkle.mjs
  packages/receipts/src/pq-signer.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: add .env.example template for development setup
  .env.example
Due: none

chore: gitignore cleanup
  .gitignore
Due: none

chore: prepare for publish — pin workspace deps and fix formatting
  packages/cli/package.json
  packages/core/src/index.mjs
  packages/federation/src/federation-receipts.mjs
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/src/hooks/knowledge-hook-engine.mjs
  packages/hooks/src/hooks/schemas.mjs
  packages/hooks/src/lib/admit-hook.mjs
  packages/oxigraph/package.json
  packages/streaming/src/stream-admit.mjs
  packages/streaming/src/streaming-receipts.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: prepare documentation for v26.4.3 publication
  docs/INDEX.md
  docs/PUBLICATION-CHECKLIST.md
Due: prettier --write

chore: fix cli package formatting
  packages/cli/src/cli/commands/hooks.mjs
  packages/cli/src/cli/commands/index.mjs
  packages/cli/src/cli/commands/mcp/inspect.mjs
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/cli/src/cli/commands/template.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: fix yawl package formatting
  packages/yawl/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: remove unused @unrdf/test-utils package
  docs/api-reference.md
  packages/daemon/src/integrations/nitro-tasks.mjs
  packages/daemon/src/mcp/handlers.mjs
  packages/daemon/src/mcp/index.mjs
  packages/daemon/src/mcp/prompts.mjs
  packages/daemon/src/mcp/resources.mjs
  packages/daemon/src/mcp/tools.mjs
  packages/daemon/test/auth-api-key.test.mjs
  packages/daemon/test/daemon.test.mjs
  packages/daemon/test/e2e-consensus-integration.test.mjs
  packages/daemon/test/e2e-cross-package-integration.test.mjs
  packages/daemon/test/e2e-daemon-yawl-errors.test.mjs
  packages/daemon/test/e2e-daemon-yawl-performance.test.mjs
  packages/daemon/test/e2e-daemon-yawl.test.mjs
  packages/test-utils/LICENSE
  packages/test-utils/build.config.mjs
  packages/test-utils/capability-map.md
  packages/test-utils/package.json
  packages/test-utils/src/fixtures.mjs
  packages/test-utils/src/helpers.mjs
  packages/test-utils/src/index.mjs
  packages/test-utils/test/example-helpers.test.mjs
  packages/test-utils/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: clean up daemon lint warnings and extend JSDoc disable to all daemon src
  docs/API-REFERENCE.md
Due: prettier --write

fix: disable JSDoc for all daemon src and fix unused variable warnings
  eslint.config.mjs
  packages/daemon/src/mcp/generate.mjs
  packages/daemon/src/mcp/templates/cli-commands.ttl.njk
  packages/daemon/test/e2e-daemon-yawl-errors.test.mjs
  packages/daemon/test/e2e-ecosystem-composition.test.mjs
  packages/daemon/test/e2e-hooks-policy.test.mjs
  packages/daemon/test/e2e-nitro-tasks-integration.test.mjs
  packages/daemon/test/e2e-observability.test.mjs
  packages/daemon/test/e2e-streaming-integration.test.mjs
  packages/daemon/test/ecosystem-validator.mjs
  packages/daemon/test/error-path-validation.test.mjs
  packages/daemon/test/verify-integration-quality.mjs
  packages/daemon/test/yawl-integration-simple.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(mcp): move template command options to args for MCP tool generation
  packages/cli/src/cli/commands/template.mjs
  packages/cli/src/cli/main.mjs
  packages/daemon/src/mcp/cli-commands.ttl
  packages/daemon/src/mcp/cli-registry.mjs
  packages/daemon/src/mcp/generate.mjs
  packages/daemon/src/mcp/handlers.mjs
  packages/daemon/src/mcp/index.mjs
  packages/daemon/src/mcp/server.mjs
  packages/daemon/src/mcp/templates/cli-commands.ttl.njk
  packages/daemon/src/mcp/templates/mcp-index.njk
  packages/daemon/src/mcp/tools-generated.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(mcp): add pnpm mcp:generate script for standalone MCP tool regeneration
  package.json
Due: prettier --write

feat: add MCP self-play loop with autonomous tool chaining
  packages/cli/src/cli/commands/mcp.mjs
  packages/cli/src/cli/commands/mcp/self-play.mjs
  packages/daemon/src/mcp-self-play.mjs
  packages/daemon/test/mcp-self-play.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: add MCP self-play loop documentation and examples
  packages/daemon/MCP-SELF-PLAY.md
Due: prettier --write

feat: add knowledge hooks self-play autonomics with closed-loop feedback
  packages/daemon/src/mcp-self-play.mjs
  packages/daemon/src/mcp.mjs
  packages/daemon/test/mcp-self-play.test.mjs
  packages/hooks/src/hooks/self-play-autonomics.mjs
  packages/hooks/test/self-play-autonomics.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(daemon): implement knowledge hooks self-play autonomics loop
  packages/daemon/src/knowledge-self-play.mjs
  packages/daemon/src/mcp/tools.mjs
  packages/daemon/test/knowledge-self-play.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(mcp): wire generated MCP server to CLI, fix Zod schemas, add status/inspect exports
  packages/cli/src/cli/commands/mcp.mjs
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/daemon/package.json
  packages/daemon/src/mcp/cli-registry.mjs
  packages/daemon/src/mcp/handlers.mjs
  packages/daemon/src/mcp/index.mjs
  packages/daemon/src/mcp/templates/mcp-index.njk
  packages/daemon/src/mcp/tools-generated.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(mcp): resolve three E2E test failures
  packages/cli/src/cli/commands/context.mjs
  packages/cli/src/cli/commands/daemon/helpers.mjs
  packages/daemon/src/mcp/__tests__/mcp.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat: add Groq LLM provider integration to daemon
  .unrdf.toml
  packages/daemon/GROQ-INTEGRATION.md
  packages/daemon/src/config.mjs
  packages/daemon/src/providers/groq.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

refactor: remove hardcoding of lock parameters and operations config
  packages/cli/src/cli/commands/context.mjs
  packages/cli/src/cli/commands/daemon/helpers.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

refactor(tests): remove hardcoded counts and consolidate MCP test assertions
  packages/daemon/src/mcp/__tests__/mcp.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

refactor(tests): consolidate redundant MCP test cases (14→5 tests)
  packages/daemon/src/mcp/__tests__/mcp.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test: add Chicago TDD integration tests with real Groq API
  packages/daemon/package.json
  packages/daemon/test/groq-mcp-integration.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: add comprehensive guide for building local AI agents with Groq
  packages/daemon/LOCAL-AGENTS-GUIDE.md
Due: prettier --write

chore: delete unused @unrdf/domain package
  packages/domain/LICENSE
  packages/domain/build.config.mjs
  packages/domain/capability-map.md
  packages/domain/package.json
  packages/kgc-cli/src/extensions/domain.mjs
  packages/kgc-cli/src/manifest/extensions.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: remove unused @unrdf/semantic-search package (blocking pre-push, only used by experimental packages)
  packages/semantic-search/ARCHITECTURE.md
  packages/semantic-search/INSTALLATION.md
  packages/semantic-search/PROJECT-REPORT.md
  packages/semantic-search/README.md
  packages/semantic-search/capability-map.md
  packages/semantic-search/examples/semantic-search-demo.mjs
  packages/semantic-search/package.json
  packages/semantic-search/src/discovery/index.mjs
  packages/semantic-search/src/discovery/knowledge-recommender.mjs
  packages/semantic-search/src/embeddings/index.mjs
  packages/semantic-search/src/embeddings/rdf-embedder.mjs
  packages/semantic-search/src/index.mjs
  packages/semantic-search/src/search/index.mjs
  packages/semantic-search/src/search/semantic-query-engine.mjs
  packages/semantic-search/test/benchmark.test.mjs
  packages/semantic-search/test/embeddings.test.mjs
  packages/semantic-search/test/knowledge-recommender.test.mjs
  packages/semantic-search/test/semantic-query.test.mjs
  packages/semantic-search/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: refactor N3 backward compat test to check Literal existence instead of properties
  packages/core/test/sparql/n3-backward-compat.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: remove @unrdf/ml-versioning and @unrdf/yawl-ai (TensorFlow native addon build failures)
  packages/ml-versioning/README.md
  packages/ml-versioning/capability-map.md
  packages/ml-versioning/package.json
  packages/ml-versioning/src/examples/image-classifier.mjs
  packages/ml-versioning/src/index.mjs
  packages/ml-versioning/src/version-store.mjs
  packages/ml-versioning/test/versioning.test.mjs
  packages/ml-versioning/vitest.config.mjs
  packages/yawl-ai/.npmrc
  packages/yawl-ai/README.md
  packages/yawl-ai/capability-map.md
  packages/yawl-ai/examples/ai-optimization-demo.mjs
  packages/yawl-ai/package.json
  packages/yawl-ai/src/index.mjs
  packages/yawl-ai/src/integration/yawl-adapter.mjs
  packages/yawl-ai/src/ml/anomaly-detector.mjs
  packages/yawl-ai/src/ml/performance-optimizer.mjs
  packages/yawl-ai/src/ml/workflow-predictor.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: remove @unrdf/v6-compat package (pre-existing test failures)
  packages/v6-compat/BATCH-1-REPORT.json
  packages/v6-compat/README.md
  packages/v6-compat/build.config.mjs
  packages/v6-compat/capability-map.md
  packages/v6-compat/package.json
  packages/v6-compat/scripts/generate-batch-1-schemas.mjs
  packages/v6-compat/scripts/generate-schemas.mjs
  packages/v6-compat/scripts/generate-v6-core-schemas.mjs
  packages/v6-compat/src/adapters.mjs
  packages/v6-compat/src/adapters.schema.mjs
  packages/v6-compat/src/index.mjs
  packages/v6-compat/src/index.schema.mjs
  packages/v6-compat/src/lint-rules.mjs
  packages/v6-compat/src/schema-generator.mjs
  packages/v6-compat/src/schema-generator.schema.mjs
  packages/v6-compat/test/batch-1-validation-simple.mjs
  packages/v6-compat/test/batch-1-validation.test.mjs
  packages/v6-compat/test/integration-node.test.mjs
  packages/v6-compat/test/integration.test.mjs
  packages/v6-compat/test/schema-generator.test.mjs
  packages/v6-compat/test/withReceipt-determinism.test.mjs
  packages/v6-compat/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: implement missing file resolver methods for hooks tests
  packages/hooks/src/hooks/file-resolver.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(daemon, hooks): implement Vision 2030 Phase 1
  docs/AUTONOMOUS-REFINEMENT-GUIDE.md
  packages/daemon/AUTONOMOUS-REFINEMENT-GUIDE.md
  packages/daemon/src/autonomous-agent.mjs
  packages/daemon/src/providers/ensemble-groq.mjs
  packages/daemon/test/autonomous-agent.test.mjs
  packages/daemon/test/ensemble-groq.test.mjs
  packages/daemon/test/vision-2030-integration.test.mjs
  packages/hooks/src/hooks/ontology-learner.mjs
  packages/hooks/test/ontology-learner.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write
