Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: Update CLAUDE.md with current repository state
  CLAUDE.md
Due: prettier --write

fix: Resolve all sync module test failures and CLI blocking issues
  packages/cli/src/cli/commands/sync/config-parser.mjs
  packages/cli/src/cli/commands/sync/schemas.mjs
  packages/cli/src/cli/commands/sync/sparql-executor.mjs
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/cli/test/cli/decision-fabric.test.mjs
  packages/cli/test/e2e/sync-e2e.test.mjs
  packages/cli/test/fixtures/decision-fabric/invalid.json
  packages/cli/test/sync/config-parser.test.mjs
  packages/cli/test/sync/sparql-executor.test.mjs
  packages/cli/test/sync/template-renderer.test.mjs
  packages/decision-fabric/src/bb8020-steps/step4-pattern-matching.mjs
  packages/decision-fabric/src/bb8020-steps/step9-static-analysis.mjs
  packages/decision-fabric/src/engine.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs(diataxis): Complete sync command documentation suite
  docs/diataxis/explanation/sync-architecture.md
  docs/diataxis/explanation/sync-template-patterns.md
  docs/diataxis/how-to/sync-add-entity.md
  docs/diataxis/how-to/sync-custom-filters.md
  docs/diataxis/how-to/sync-watch-mode.md
  docs/diataxis/reference/sync-cli.md
  docs/diataxis/reference/sync-config.md
  docs/diataxis/reference/sync-filters.md
  docs/diataxis/tutorials/sync-first-api.md
  docs/diataxis/tutorials/sync-multi-format.md
Due: prettier --write

refactor(chatman-equation): Use @unrdf/kgn instead of duplicate tera-engine
  packages/chatman-equation/generate-docs.mjs
  packages/chatman-equation/package.json
  packages/tera-engine/.npmignore
  packages/tera-engine/README.md
  packages/tera-engine/eslint.config.mjs
  packages/tera-engine/package.json
  packages/tera-engine/src/api.mjs
  packages/tera-engine/src/engine.mjs
  packages/tera-engine/src/filters.mjs
  packages/tera-engine/src/index.mjs
  packages/tera-engine/src/loaders.mjs
  packages/tera-engine/src/schemas.mjs
  packages/tera-engine/test/engine.test.mjs
  packages/tera-engine/test/filters.test.mjs
  packages/tera-engine/test/integration.test.mjs
  packages/tera-engine/test/loaders.test.mjs
  packages/tera-engine/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(daemon): Add uptime simulation, benchmarks, and chaos engineering
  packages/cli/src/cli/commands/daemon.mjs
  packages/cli/src/cli/commands/daemon/uptime.mjs
  packages/cli/src/cli/commands/daemon/uptime/benchmark.mjs
  packages/cli/src/cli/commands/daemon/uptime/helpers.mjs
  packages/cli/src/cli/commands/daemon/uptime/index.mjs
  packages/cli/src/cli/commands/daemon/uptime/report.mjs
  packages/cli/src/cli/commands/daemon/uptime/schemas.mjs
  packages/cli/src/cli/commands/daemon/uptime/simulate.mjs
  packages/daemon/benchmarks/06-uptime-simulation.bench.mjs
  packages/daemon/benchmarks/07-chaos-engineering.bench.mjs
  packages/daemon/benchmarks/08-recovery-time.bench.mjs
  packages/daemon/benchmarks/load/burst-traffic.bench.mjs
  packages/daemon/benchmarks/load/concurrent-load.bench.mjs
  packages/daemon/benchmarks/load/throughput.bench.mjs
  packages/daemon/docs/BENCHMARKING_GUIDE.md
  packages/daemon/docs/CHAOS_ENGINEERING.md
  packages/daemon/docs/UPTIME_SIMULATION.md
  packages/daemon/src/degradation/bulkhead.helpers.mjs
  packages/daemon/src/degradation/bulkhead.mjs
  packages/daemon/src/degradation/circuit-breaker.mjs
  packages/daemon/src/degradation/degradation.schema.mjs
  packages/daemon/src/degradation/fallback-handler.mjs
  packages/daemon/src/degradation/index.mjs
  packages/daemon/src/monitoring/alerting.mjs
  packages/daemon/src/monitoring/alerting.schema.mjs
  packages/daemon/src/monitoring/health-check.mjs
  packages/daemon/src/monitoring/health-check.schema.mjs
  packages/daemon/src/monitoring/index.mjs
  packages/daemon/src/monitoring/metrics-collector.mjs
  packages/daemon/src/monitoring/metrics-collector.schema.mjs
  packages/daemon/src/uptime-simulation.mjs
  packages/daemon/src/uptime/incident-log.mjs
  packages/daemon/src/uptime/index.mjs
  packages/daemon/src/uptime/sla-reporter.mjs
  packages/daemon/src/uptime/uptime-tracker.mjs
  packages/daemon/src/uptime/uptime.schema.mjs
  packages/daemon/test/stability/chaos-recovery.test.mjs
  packages/daemon/test/stability/long-running.test.mjs
  packages/daemon/test/stability/resource-exhaustion.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Complete v6.0.0-rc.2 final GO/NO-GO assessment
  FINAL_RELEASE_DECISION_v6.0.0-rc.2.md
  RC2_DECISION_SUMMARY.md
  RC3_BLOCKER_FIXES.md
  RC3_RELEASE_ISSUE_TEMPLATE.md
Due: prettier --write

fix: Restore 80/20 vitest config after main merge
  packages/yawl/test/architecture.test.mjs
  packages/yawl/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(daemon): Complete v6 release readiness validation
  packages/daemon/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(cli): Complete unrdf sync command implementation
  .github/workflows/ci.yml
  .github/workflows/cli-sync-tests.yml
  packages/chatman-equation/ggen.toml
  packages/cli/ERROR_HANDLING_ENHANCEMENTS.md
  packages/cli/QUICKSTART-SYNC.md
  packages/cli/README.md
  packages/cli/docs/sync-tutorial.md
  packages/cli/examples/sync/README.md
  packages/cli/examples/sync/advanced-ggen.toml
  packages/cli/examples/sync/basic-ggen.toml
  packages/cli/examples/sync/ontology/schema.ttl
  packages/cli/examples/sync/schema.ttl
  packages/cli/examples/sync/templates/README.md
  packages/cli/examples/sync/templates/constants.njk
  packages/cli/examples/sync/templates/entities.njk
  packages/cli/examples/sync/templates/entity-types.njk
  packages/cli/examples/sync/templates/zod-schemas.njk
  packages/cli/package.json
  packages/cli/src/cli/commands/sync/ontology-loader.mjs
  packages/cli/src/cli/commands/sync/orchestrator.mjs
  packages/cli/src/cli/commands/sync/sparql-executor.mjs
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/cli/test/manual/QUICKSTART.md
  packages/cli/test/manual/README.md
  packages/cli/test/manual/SUMMARY.md
  packages/cli/test/manual/test-sync.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(daemon): 10-agent parallel v6 remediation (9/10 blockers resolved)
  packages/daemon/CHANGELOG.md
  packages/daemon/benchmarks/benchmarks-2026-01-19T19-50-06.json
  packages/daemon/package.json
  packages/daemon/src/daemon-optimized.mjs
  packages/daemon/src/daemon.mjs
  packages/daemon/src/index.mjs
  packages/daemon/src/integrations/federation-query-schemas.mjs
  packages/daemon/src/integrations/federation-query.mjs
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
  packages/daemon/src/integrations/streaming.mjs
  packages/daemon/src/lru-cache-optimized.mjs
  packages/daemon/src/middleware/csp-utils.mjs
  packages/daemon/src/middleware/sanitization-patterns.mjs
  packages/daemon/src/middleware/security-defaults.mjs
  packages/daemon/src/middleware/security-headers.mjs
  packages/daemon/src/middleware/security-schemas.mjs
  packages/daemon/src/security-audit.mjs
  packages/daemon/src/utils/audit-utils.mjs
  packages/daemon/src/utils/credential-detection.mjs
  packages/daemon/src/utils/injection-detection.mjs
  packages/daemon/src/utils/path-validation.mjs
  packages/daemon/test/auth-api-key.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(daemon): resolve all 6 failing tests - 900/900 passing
  packages/daemon/src/auth/api-key-auth.mjs
  packages/daemon/src/integrations/federation-query.mjs
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
  packages/daemon/src/integrations/receipts-merkle.mjs
  packages/daemon/test/e2e-federation-query.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: add missing index files, source modules, and tests for incomplete packages (batch 1)
  packages/caching/test/caching.test.mjs
  packages/cli/src/commands/index.mjs
  packages/cli/src/index.mjs
  packages/composables/src/graph.mjs
  packages/composables/src/index.mjs
  packages/diataxis-kit/src/index.mjs
  packages/docs/src/index.mjs
  packages/kgc-substrate/test/kgc-substrate.test.mjs
  packages/nextra/src/index.mjs
  packages/project-engine/src/index.mjs
  packages/react/src/ai-semantic/embeddings-manager.mjs
  packages/react/src/ai-semantic/nlp-query-builder.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: snapshot local changes (ggen parent save)
  CODE-QUALITY-REPORT.md
  SECURITY-AUDIT-REPORT.md
  docs/API-REFERENCE.md
  docs/CAPABILITY-BASIS.md
  docs/EXAMPLES.md
Due: prettier --write

fix: Update extension count test after LaTeX removal
  packages/kgc-cli/test/ecosystem.test.mjs
  packages/kgc-cli/test/extensions/yawl-extensions.test.mjs
  packages/observability/test/distributed-tracing.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

refactor: Make extension count test dynamic based on manifest
  packages/kgc-cli/test/ecosystem.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: Bump all packages to v26.4.2 and add unified Makefile publishing workflow
  Makefile
  packages/decision-fabric/package.json
  packages/diataxis-kit/package.json
  packages/engine-gateway/package.json
  packages/kgn/package.json
  packages/v6-core/package.json
Due: prettier --write

fix: simplify oxigraph determinism tests to use proper RDF terms
  packages/oxigraph/src/store-receipts.mjs
  packages/oxigraph/test/determinism.test.mjs
  packages/validation/README.md
  packages/validation/package.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(examples): Add comprehensive FIBO JTBD governance case study with all 6 priorities
  examples/FIBO-CASE-STUDY-INDEX.md
  examples/FIBO-JTBD-GOVERNANCE-README.md
  examples/fibo-hooks-config.yaml
  examples/fibo-jtbd-governance.mjs
  examples/fibo-ontology-snippet.nt
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(atomvm): Add comprehensive hooks integration tests for all 6 priorities
  packages/atomvm/package.json
  packages/atomvm/playground/erlang/src/fibo_hooks.erl
  packages/atomvm/playground/erlang/src/hooks.erl
  packages/atomvm/src/hooks-bridge.mjs
  packages/atomvm/src/index.mjs
  packages/atomvm/test/hooks-atomvm-integration.test.mjs
  packages/atomvm/test/hooks-bridge.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

archive(comprehensive-wip): quarantine tracked WIP and test artifacts
  unrdf-archive/COMPREHENSIVE-ARCHIVAL-README.md
  unrdf-archive/stale-artifacts/atomvm-proofs/README.md
  unrdf-archive/stale-artifacts/atomvm-proofs/beam-pattern-matching.erl
  unrdf-archive/stale-artifacts/atomvm-proofs/beam-serialization-roundtrip.erl
  unrdf-archive/stale-artifacts/atomvm-proofs/poka-yoke-rdf-beam-serializer.test.mjs
  unrdf-archive/stale-artifacts/atomvm-proofs/poka-yoke-sealed-state.test.mjs
  unrdf-archive/stale-artifacts/atomvm-proofs/poka-yoke-zod-triple-validation.test.mjs
  unrdf-archive/stale-artifacts/chatman-equation-generated/reference/chatman-equation-api.md
  unrdf-archive/stale-artifacts/chatman-equation-generated/tutorials/getting-started.md
  unrdf-archive/stale-artifacts/hooks-proofs/README.md
  unrdf-archive/stale-artifacts/hooks-proofs/policy-controlled-workflow-standalone.mjs
  unrdf-archive/stale-artifacts/hooks-proofs/policy-controlled-workflow.mjs
  unrdf-archive/test-outputs/atomvm-playwright-report/data/7a33d5db6370b6de345e990751aa1f1da65ad675.png
  unrdf-archive/test-outputs/atomvm-playwright-report/index.html
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-14d50-oad-real-AtomVM-WASM-module-chromium/error-context.md
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-14d50-oad-real-AtomVM-WASM-module-chromium/test-failed-1.png
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-44af0-AtomVM-execution-capability-chromium/error-context.md
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-44af0-AtomVM-execution-capability-chromium/test-failed-1.png
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-57a1a-alization-errors-gracefully-chromium/error-context.md
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-57a1a-alization-errors-gracefully-chromium/test-failed-1.png
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-5a563-y-end-to-end-execution-flow-chromium/error-context.md
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-5a563-y-end-to-end-execution-flow-chromium/test-failed-1.png
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-623b8-ule-is-available-in-browser-chromium/error-context.md
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-623b8-ule-is-available-in-browser-chromium/test-failed-1.png
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-8eaa3-le-when-Run-Example-clicked-chromium/error-context.md
  unrdf-archive/test-outputs/atomvm-test-results/erlang-simulation-Real-Ato-8eaa3-le-when-Run-Example-clicked-chromium/test-failed-1.png
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(hooks,cli): Implement L5 maturity features and RDF-native effects
  .gitignore
  VALIDATION_REPORT.md
  examples/ATOMVM-HOOKS-INTEGRATION-GUIDE.md
  examples/atomvm-fibo-hooks-config.yaml
  examples/atomvm-fibo-hooks-demo.mjs
  packages/cli/build.config.mjs
  packages/cli/src/cli/commands/hooks.mjs
  packages/cli/src/cli/commands/index.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/src/index.mjs
  packages/cli/test/hooks-fibo-integration.test.mjs
  packages/hooks/API-REFERENCE.md
  packages/hooks/ARCHITECTURE.md
  packages/hooks/DEPLOYMENT.md
  packages/hooks/EXAMPLES.md
  packages/hooks/README.md
  packages/hooks/package.json
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/src/hooks/knowledge-hook-engine.mjs
  packages/hooks/src/hooks/schemas.mjs
  packages/hooks/test/v6-features.test.mjs
  packages/validation/package.json
  packages/validation/test-80-20.mjs
  packages/validation/test/test.mjs
  packages/validation/test/vitest.config.mjs
  packages/validation/unrdf-validation-26.4.3.tgz
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: add 80/20 test coverage for @unrdf/validation
  packages/validation/package.json
  packages/validation/test-80-20.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(hooks): Implement O* Innovation 5 - Composable Hooks Marketplace with RDF/SPARQL/N3/SHACL
  packages/hooks/examples/hooks-marketplace.mjs
  packages/hooks/src/lib/admit-hook.mjs
  packages/hooks/test/admit-hook.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: Complete documentation for O* Innovations 4-6
  DOCS-SUMMARY.txt
  docs/ARCHITECTURE.md
  docs/EXAMPLES-DETAILED.md
  docs/INNOVATIONS-README.md
  docs/INTEGRATION.md
  docs/api-reference.md
Due: prettier --write

feat(streaming): add stream-admit with BLAKE3 receipt chaining
  examples/streaming-admission.mjs
  packages/streaming/src/stream-admit.mjs
  packages/streaming/test/stream-admit.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

wip(mcp): scaffold MCP server and CLI command (tools are stubs)
  packages/cli/src/cli/commands/mcp.mjs
  packages/cli/test/commands/mcp.test.mjs
  packages/daemon/src/mcp/.unrdf.toml
  packages/daemon/src/mcp/README.md
  packages/daemon/src/mcp/__tests__/mcp.test.mjs
  packages/daemon/src/mcp/cli-commands.ttl
  packages/daemon/src/mcp/cli-registry.mjs
  packages/daemon/src/mcp/index.mjs
  packages/daemon/src/mcp/prompts.mjs
  packages/daemon/src/mcp/resources.mjs
  packages/daemon/src/mcp/server.mjs
  packages/daemon/src/mcp/templates/mcp-cli-registry.njk
  packages/daemon/src/mcp/templates/mcp-handlers.njk
  packages/daemon/src/mcp/templates/mcp-index.njk
  packages/daemon/src/mcp/templates/mcp-tool-defs.njk
  packages/daemon/src/mcp/tools-generated.mjs
  packages/daemon/src/mcp/tools.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write
