Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(daemon): prove Merkle verification across tree shapes
  packages/daemon/test/kgc-4d-merkle-proof.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(generator): remove unresolved dead export template path
  scripts/unrdf-generate-integration.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(gates): execute documentation validation and receipt all ten gates
  scripts/production-gates-validator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ci): cancel stale runs and bind full gate evidence
  .github/workflows/autofix.yml
  .github/workflows/checks.yml
  .github/workflows/thesis-validation.yml
  scripts/production-gates-validator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(daemon): make status history append-only and harden Merkle proofs
  packages/daemon/src/integrations/kgc-4d-merkle.mjs
  packages/daemon/src/integrations/kgc-4d-sourcing.mjs
  packages/daemon/src/integrations/kgc-4d-validation.mjs
  packages/daemon/test/event-chain.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ci): unify exact-head runs and register daemon tests
  .github/workflows/autofix.yml
  .github/workflows/checks.yml
  .github/workflows/thesis-validation.yml
  packages/daemon/test/event-chain.node.test.mjs
  packages/daemon/test/event-chain.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(daemon): admit deterministic evidence and verify ledger projections
  packages/daemon/src/integrations/kgc-4d-sourcing.mjs
  packages/daemon/src/integrations/kgc-4d-validation.mjs
  packages/daemon/test/event-chain.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(receipts): bind workflows and gate evidence to exact head
  .github/workflows/autofix.yml
  .github/workflows/checks.yml
  .github/workflows/materialize-agent-tree.yml
  .github/workflows/thesis-validation.yml
  scripts/production-gates-validator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(daemon): publish event evidence subpaths and bounded contract
  packages/daemon/docs/kgc-4d-sourcing.md
  packages/daemon/package.json
  packages/daemon/test/public-surface.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: close remaining executable WIP surfaces (#100)
  .github/workflows/autofix.yml
  .github/workflows/checks.yml
  .github/workflows/materialize-agent-tree.yml
  .github/workflows/thesis-validation.yml
  packages/cli/src/cli/commands/doctor/checks/quality.mjs
  packages/core/test/sparql/semantic-query.test.mjs
  packages/daemon/benchmarks/placeholder.mjs
  packages/daemon/docs/kgc-4d-sourcing.md
  packages/daemon/package.json
  packages/daemon/src/integrations/kgc-4d-merkle.mjs
  packages/daemon/src/integrations/kgc-4d-sourcing.mjs
  packages/daemon/src/integrations/kgc-4d-validation.mjs
  packages/daemon/test/event-chain.test.mjs
  packages/daemon/test/kgc-4d-merkle-proof.test.mjs
  packages/daemon/test/public-surface.test.mjs
  packages/daemon/test/verify-integration-quality.mjs
  packages/kgc-4d-playground/app/api/multiverse/merge/route.mjs
  packages/kgc-4d-playground/lib/server/multiverse.mjs
  packages/kgc-4d-playground/lib/server/multiverse.test.mjs
  packages/kgc-4d/test/4d-time-travel-validation.test.mjs
  packages/kgc-swarm/src/consensus/distributed-orchestrator.mjs
  packages/kgc-swarm/test/consensus/distributed-orchestrator.test.mjs
  packages/kgn/src/base/macro-templates.js.bak
  scripts/audit-wip.mjs
  scripts/production-gates-validator.mjs
  scripts/unrdf-generate-integration.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

ci: ERRC refactor workflows into validation evidence delivery
  .github/workflows/atomvm-armstrong-alive.yml
  .github/workflows/atomvm-runtime-alive.yml
  .github/workflows/autofix.yml
  .github/workflows/cache-optimization.yml
  .github/workflows/capability-docs.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/cli-sync-tests.yml
  .github/workflows/code-quality.yml
  .github/workflows/delivery.yml
  .github/workflows/dependency-update.yml
  .github/workflows/deploy-benchmark-dashboard.yml
  .github/workflows/deploy-book.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/evidence.yml
  .github/workflows/ggen-legacy-package-admission.yml
  .github/workflows/materialize-agent-tree.yml
  .github/workflows/nextjs.yml
  .github/workflows/otel-weaver-validate.yml
  .github/workflows/package-matrix.yml
  .github/workflows/perf.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/quality-gates.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/thesis-validation.yml
  .github/workflows/unrdf-sync-integration.yml
Due: prettier --write

fix(lint): restore root eslintrc compatibility bridge
  .eslintrc.cjs
Due: none

fix(validation): repair OTEL provider state teardown
  validation/otel-provider.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ci): use documented comprehensive evidence validator
  .github/workflows/evidence.yml
Due: prettier --write

fix(lint): admit mjs package sources
  packages/graph-analytics/package.json
Due: prettier --write

fix(lint): admit kgc cli mjs sources
  packages/kgc-cli/package.json
Due: prettier --write

fix(lint): separate test complexity policy from source
  .eslintrc.json
Due: prettier --write

revert(lint): keep historical package policy outside CI refactor
  .eslintrc.json
Due: prettier --write

revert(lint): leave graph analytics debt out of CI refactor
  packages/graph-analytics/package.json
Due: prettier --write

revert(lint): leave kgc cli policy outside CI refactor
  packages/kgc-cli/package.json
Due: prettier --write

revert(lint): remove exploratory legacy config bridge
  .eslintrc.cjs
Due: none

refactor(ci): admit impact-selected workspace validation
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): bind evidence concurrency to exact subject
  .github/workflows/evidence.yml
Due: prettier --write

feat: manufacture package readiness with ggen
  .github/workflows/package-matrix.yml
  eslint.config.mjs
  ggen.toml
  ontology/unrdf-package-factory.ttl
  packs/unrdf-production/package.toml
  packs/unrdf-production/queries/factory.rq
  packs/unrdf-production/templates/eslint.config.mjs.tera
  packs/unrdf-production/templates/verify-workspace-packages.mjs.tera
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: close first generated lint edge
  packages/graph-analytics/src/paths/relationship-finder.mjs
  packs/unrdf-production/templates/eslint.config.mjs.tera
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

refactor: keep ggen lint production-scoped
  eslint.config.mjs
  packs/unrdf-production/templates/eslint.config.mjs.tera
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: invoke canonical ggen binary
  .github/workflows/package-matrix.yml
Due: prettier --write

fix: run ggen in its admitted nightly capsule
  .github/workflows/package-matrix.yml
  eslint.config.mjs
  packs/unrdf-production/templates/eslint.config.mjs.tera
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: align package and quality execution capsules
  .github/workflows/package-matrix.yml
  .github/workflows/quality.yml
Due: prettier --write

refactor: ERRC package factory through ggen
  .github/workflows/ggen-legacy-package-admission.yml
  .github/workflows/unrdf-sync-integration.yml
  ggen.toml
  scripts/ggen-legacy-package-admission.mjs
  scripts/unrdf-generate-integration.mjs
  scripts/unrdf-package-discovery.mjs
  scripts/verify-workspace-packages.mjs
  src/unrdf-dependency-resolver.mjs
  src/unrdf-package-registry.mjs
  templates/package-exports.mjs.tera
  test/package-factory.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: separate product standing from ggen projection authority
  .github/workflows/unrdf-sync-integration.yml
  scripts/unrdf-generate-integration.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: preserve observation defects through release standing
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: refuse execution on projection drift
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: install ggen through authenticated asset API
  .github/workflows/unrdf-sync-integration.yml
Due: prettier --write

fix: order ggen identity inference deterministically
  ggen.toml
Due: none

refactor: align package validation with graph topology
  .github/workflows/unrdf-sync-integration.yml
  src/unrdf-package-validator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(atomvm): add OCEL peer runtime endpoint
  packages/atomvm/examples/erlang/atomvm_ocel_peer.erl
Due: none

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
