Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: formalize UNRDF Telco pattern CLI implementation
  docs/patterns/UNRDF-TELCO-IMPLEMENTATION.md
Due: prettier --write

feat(cli): implement 'unrdf telco' diagnostic and control suite
  packages/cli/src/cli/commands/telco.mjs
  packages/cli/src/cli/main.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Universe freeze at 2026-05-05T20:11:05.556Z
  snapshot.nq
Due: none

fix(cli): resolve schema and dependency logic errors in telco suite
  packages/cli/src/cli/commands/telco.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(cli): add NPM registry and scope permission validation to doctor publish
  packages/cli/src/cli/commands/doctor/checks/publish.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(namespace): bind unrdf to chatmangpt.com
  .chatmangpt/namespace.toml
Due: none

test: add executable workspace package matrix
  .github/workflows/package-matrix.yml
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: establish package-level execution receipts
  packages/caching/test/caching.test.mjs
  packages/diataxis-kit/src/index.mjs
  packages/hooks/examples/policy-hooks/src/index.mjs
  packages/integration-tests/vitest.config.mjs
  packages/kgc-substrate/test/kgc-substrate.test.mjs
  packages/project-engine/src/index.mjs
  packages/validation/package.json
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: restore package entrypoint closure
  .github/workflows/package-matrix.yml
  packages/decision-fabric/src/operators.mjs
  packages/domain/src/index.mjs
  packages/engine-gateway/package.json
  packages/engine-gateway/src/gateway.mjs
  packages/engine-gateway/src/index.mjs
  packages/engine-gateway/src/operation-detector.mjs
  packages/engine-gateway/src/validators.mjs
  packages/engine-gateway/test/gateway.test.mjs
  packages/hooks/examples/hook-chains/src/index.mjs
  packages/kgc-swarm/src/compressor.mjs
  packages/kgc-swarm/src/guardian.mjs
  packages/kgc-swarm/src/tracker.mjs
  packages/kgn/build.config.mjs
  packages/kgn/package.json
  packages/v6-core/src/deltagate.mjs
  packages/v6-core/src/receipts.mjs
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore(agent): add temporary exact-tree materializer
  .github/workflows/materialize-agent-tree.yml
Due: prettier --write

chore(agent): expose exact-tree artifact on PR events
  .github/workflows/materialize-agent-tree.yml
Due: prettier --write

feat: bind UNRDF package manufacture to ggen-legacy
  ggen.toml
Due: none

feat: verify partial standing for every package
  scripts/ggen-legacy-package-admission.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci: receipt partial standing for every package
  .github/workflows/ggen-legacy-package-admission.yml
Due: prettier --write

fix(composables): restore public package entrypoint
  packages/composables/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(composables): add graph composables
  packages/composables/src/graph.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(composables): add delta stream composable
  packages/composables/src/delta.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(knowledge-engine): restore observability schemas
  packages/knowledge-engine/src/schemas.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(playground): restore application import aliases
  packages/kgc-4d-playground/jsconfig.json
Due: prettier --write

fix(kgc-tools): enforce input admission before execution
  packages/kgc-tools/src/tool-wrapper.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(oxigraph): use valid ESM namespace import
  packages/oxigraph/src/store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(serverless): emit deterministic lambda entrypoint
  packages/serverless/src/deploy/lambda-bundler.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(substrate): bind commitments to canonical universe graph
  packages/kgc-substrate/src/KnowledgeStore.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(consensus): separate membership from connectivity
  packages/consensus/src/raft/admitted-raft-coordinator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(consensus): export admitted coordinator
  packages/consensus/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add deterministic capability ledger
  packages/core/src/capability-ledger.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add tamper-evident receipt chains
  packages/core/src/receipt-chain.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add deterministic execution plans
  packages/core/src/execution-plan.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): verify capability control plane
  packages/core/test/capability-control-plane.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): export capability control plane
  packages/core/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): publish capability subpath exports
  packages/core/package.json
Due: prettier --write

feat(core): add content-addressed evidence store
  packages/core/src/evidence-store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add capability dependency graph
  packages/core/src/capability-graph.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add typed admission boundaries
  packages/core/src/admission-boundary.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add exact command verifier
  packages/core/src/command-verifier.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add clean replay runner
  packages/core/src/replay-runner.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): verify capability runtime
  packages/core/test/capability-runtime.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): export full capability runtime
  packages/core/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): expose capability runtime subpaths
  packages/core/package.json
Due: prettier --write

fix(kgc-docs): prove actual documentation bytes
  packages/kgc-docs/src/prove.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix
