Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(perf): Establish v6.0.0 performance baseline and regression detection
  benchmarks/compare-baseline.mjs
  benchmarks/example-v6.0.0-regression.json
  benchmarks/example-v6.0.0-results.json
  benchmarks/v6.0.0-baseline.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Generate complete capability maps using 10 hyper-advanced agents
  POKA-YOKE-INDEX.md
  docs/api-capability-maps.md
  docs/capability-basis.md
  docs/capability-map-summary.md
  docs/capability-map/README.md
  docs/capability-map/core.md
  docs/capability-map/oxigraph.md
  docs/capability-performance.json
  docs/capability-quick-ref.md
  docs/performance-analysis.md
  docs/poka-yoke-capability-map.md
  docs/synthesis/CAPABILITY-BASIS.md
  docs/synthesis/COMPOSITION-LATTICE.md
  docs/synthesis/EVIDENCE-INDEX.md
  docs/synthesis/INTEGRATION-ROADMAP-80-20.md
  docs/synthesis/README-SYNTHESIS.md
  docs/synthesis/SYNTHESIS-VERIFICATION-REPORT.md
  docs/templates/ADR-CAPABILITY-MAP-DESIGN.md
  docs/templates/CAPABILITY-MAP-TEMPLATE.md
  docs/templates/CAPABILITY-MAP-USAGE-GUIDE.md
  docs/templates/DELIVERY-SUMMARY.md
  docs/templates/README.md
  packages/diataxis-kit/ARTIFACTS/diataxis/@unrdf/atomvm/diataxis.json
  packages/diataxis-kit/OUT/@unrdf/atomvm/tutorials/tutorial-tutorial-first-steps.md
Due: prettier --write

fix: Remediate 7 command injection vulnerabilities in execSync calls
  packages/atomvm/scripts/build.mjs
  packages/core/src/utils/lockchain-writer.mjs
  packages/decision-fabric/src/bb8020-steps/step8-syntax-validation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: Post-merge cleanup - docs structure and dependency sync
  docs/src/README.md
  package.json
  packages/kgc-cli/src/extensions/kgc-probe.mjs
  packages/kgc-cli/src/lib/latex/cache/USAGE-EXAMPLE.mjs
  packages/kgc-cli/src/lib/latex/cache/bundle.mjs
  packages/kgc-cli/src/lib/latex/controller/pass-loop.mjs
  packages/kgc-cli/src/lib/latex/controller/pass-loop.test.mjs
  packages/kgc-cli/src/lib/latex/engine/run.mjs
  packages/kgc-cli/src/lib/latex/vfs/normalize.mjs
  packages/kgc-docs/docs/src/README.md
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Update CLAUDE.md with comprehensive v6.0.0 documentation
  CLAUDE.md
  V6_ARCHITECTURE_REPORT.md
  docs/architecture/UNRDF-CORE-ARCHITECTURE.md
Due: prettier --write

feat(v6): Complete v6 implementation with 10 concurrent agents
  packages/v6-compat/src/adapters.mjs
  packages/v6-compat/src/schema-generator.mjs
  packages/v6-compat/test/integration.test.mjs
  packages/v6-compat/test/withReceipt-determinism.test.mjs
  packages/v6-compat/vitest.config.mjs
  packages/v6-core/TEST_SUMMARY.md
  packages/v6-core/VALIDATION-REPORT.md
  packages/v6-core/package.json
  packages/v6-core/src/cli/commands/delta.mjs
  packages/v6-core/src/cli/commands/grammar.mjs
  packages/v6-core/src/cli/commands/receipt.mjs
  packages/v6-core/src/cli/commands/thesis.mjs
  packages/v6-core/src/cli/index.mjs
  packages/v6-core/src/delta/index.mjs
  packages/v6-core/src/delta/store.mjs
  packages/v6-core/src/docs/index.mjs
  packages/v6-core/src/docs/latex-generator.mjs
  packages/v6-core/src/docs/latex-generator.schema.mjs
  packages/v6-core/src/docs/thesis-builder.mjs
  packages/v6-core/src/docs/thesis-builder.schema.mjs
  packages/v6-core/src/grammar/index.mjs
  packages/v6-core/src/receipts/index.mjs
  packages/v6-core/test/delta/delta-cli-integration.test.mjs
  packages/v6-core/test/delta/delta-store.test.mjs
  packages/v6-core/test/determinism/determinism.test.mjs
  packages/v6-core/test/integration/integration.test.mjs
  packages/v6-core/test/integration/v6-smoke.test.mjs
  packages/v6-core/test/receipts/receipt-comprehensive.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: 70 epics from 10 hyper-advanced agents for v6 rewrite
  epics/ARCH-EPICS.md
  epics/CAP-EPICS.md
  epics/DOCS-EPICS.md
  epics/EPIC-INDEX.md
  epics/PERF-EPICS.md
  epics/PROD-EPICS.md
  epics/QUAL-EPICS.md
  epics/RCPT-EPICS.md
  epics/SAFE-EPICS.md
  epics/WASM-EPICS.md
Due: prettier --write

feat(v6): MAXIMUM quality implementation with 10 concurrent agents
  packages/v6-core/package.json
  packages/v6-core/src/browser/receipt-store.mjs
  packages/v6-core/src/cli/index.mjs
  packages/v6-core/src/cli/spine.mjs
  packages/v6-core/src/cli/verbs.mjs
  packages/v6-core/src/delta/gate.mjs
  packages/v6-core/src/delta/index.mjs
  packages/v6-core/src/delta/kgc-receipts.mjs
  packages/v6-core/src/delta/reconcile.mjs
  packages/v6-core/src/docs/index.mjs
  packages/v6-core/src/docs/latex-generator.mjs
  packages/v6-core/src/docs/pipeline.mjs
  packages/v6-core/src/docs/template-renderer.mjs
  packages/v6-core/src/docs/thesis-builder-impl.mjs
  packages/v6-core/src/docs/thesis-builder.mjs.backup
  packages/v6-core/src/grammar/compiler.mjs
  packages/v6-core/src/grammar/grammar-receipts.mjs
  packages/v6-core/src/grammar/index.mjs
  packages/v6-core/src/grammar/parser.mjs
  packages/v6-core/src/grammar/parser/n3.mjs
  packages/v6-core/src/grammar/parser/owl.mjs
  packages/v6-core/src/grammar/parser/shacl.mjs
  packages/v6-core/src/grammar/parser/shex.mjs
  packages/v6-core/src/grammar/parser/sparql.mjs
  packages/v6-core/src/grammar/parser/utils.mjs
  packages/v6-core/src/grammar/runtime-gate.mjs
  packages/v6-core/src/index.mjs
  packages/v6-core/src/receipt-pattern.mjs
  packages/v6-core/src/receipts/execution-receipt.mjs
  packages/v6-core/src/receipts/indexing-receipts.mjs
  packages/v6-core/test/browser/receipt-store.test.mjs
  packages/v6-core/test/delta/adapters.test.mjs
  packages/v6-core/test/docs/latex-generator.test.mjs
  packages/v6-core/test/docs/thesis-builder.test.mjs
  packages/v6-core/test/implementations.test.mjs
  packages/v6-core/test/validation/zod-schemas.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(v6): 100% test pass rate achieved with 10 concurrent agents
  packages/v6-core/src/delta/index.mjs
  packages/v6-core/src/docs/index.mjs
  packages/v6-core/src/docs/thesis-builder-impl.mjs
  packages/v6-core/src/docs/thesis-builder.mjs.backup
  packages/v6-core/src/grammar/index.mjs
  packages/v6-core/src/receipts/index.mjs
  packages/v6-core/src/receipts/with-receipt.mjs
  packages/v6-core/test/integration/v6-smoke.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(.claude): Add comprehensive Claude Code configuration
  .claude/helpers/count-stats.mjs
  .claude/helpers/validate-file.mjs
  .claude/hooks/post-edit.sh
  .claude/hooks/pre-edit.sh
  .claude/hooks/session-start.sh
  .claude/rules/agent-quality.md
  .claude/rules/code-quality.md
  .claude/rules/testing-standards.md
  .claude/settings.local.json.template
  .claude/skills/concurrent-agents/SKILL.md
  .claude/skills/rdf-operations/SKILL.md
  .claude/skills/testing-patterns/SKILL.md
  .claude/skills/v6-development/SKILL.md
  .claude/skills/zod-validation/SKILL.md
  .claude/templates/agent-template.md
  .claude/templates/command-template.md
  .claude/templates/skill-template.md
  .mcp.json.template
  docs/claude-code-research-summary.md
  docs/claude-code-settings-guide.md
  docs/claude-code-settings-reference.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(ggen): Set up ontology-driven code generation infrastructure
  ggen.toml
  schema/domain.ttl
  schema/project-structure.ttl
  src/generated/.manifest
  src/generated/ONTOLOGY_REFERENCE.md
  src/generated/PACKAGES.md
  src/generated/README.md
  src/generated/unrdf-types.mjs
  templates/documentation-reference.tera
  templates/mjs-module-index.tera
  templates/package-readme.tera
  templates/packages-manifest.tera
  templates/typescript-interface.tera
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs(ggen): Add comprehensive GGEN setup and usage guide
  GGEN_SETUP.md
Due: prettier --write

feat(ggen): Setup ontology-driven code generation for UNRDF
  ggen.toml
  ggen/EXAMPLES.md
  ggen/QUICK-REFERENCE.md
  ggen/README.md
  ggen/templates/package-documentation.tera
  ggen/templates/package-manifest.tera
  ggen/templates/package-readme.tera
  ggen/templates/packages-index.tera
  ggen/templates/ts-interfaces.tera
  schemas/unrdf-packages.ttl
Due: prettier --write

docs(ggen): Add practical examples and extension guide
  GGEN_EXAMPLES.md
Due: prettier --write

feat(ggen): Integrate real packages - 59 UNRDF packages indexed in RDF ontology
  ggen/scripts/sync-packages.mjs
  schemas/unrdf-packages.ttl
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(ggen): Working code generators - 57 packages, real artifacts, zero stubs
  docs/generated/dependencies.json
  docs/generated/packages.md
  docs/generated/stats.json
  ggen/EXAMPLES.md
  ggen/QUICK-REFERENCE.md
  ggen/README.md
  ggen/generated/index.js
  ggen/generated/index.mjs
  ggen/generated/package.json
  ggen/generated/packages.mjs
  ggen/generated/packages.ts
  ggen/scripts/generate-docs.mjs
  ggen/scripts/generate-index.mjs
  ggen/scripts/generate-types.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(ggen): Add package validation and compatibility analysis - all 57 packages valid
  docs/generated/compatibility-matrix.json
  docs/generated/validation-report.json
  ggen/scripts/validate-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(ggen): Implement next-level package system with working code
  scripts/ggen-generate-integration.mjs
  src/generated/GENERATION_STATS.json
  src/generated/package-exports.mjs
  src/unrdf-dependency-resolver.mjs
  src/unrdf-package-hooks.mjs
  src/unrdf-package-registry.mjs
  src/unrdf-package-system.mjs
  src/unrdf-package-validator.mjs
  test/unrdf-package-system.test.mjs
  verify-package-system.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(ggen): Next level integration - working runtime systems
  ggen/generated/di-container.mjs
  ggen/generated/execution-env.mjs
  ggen/generated/metadata-cache.mjs
  ggen/generated/package-launcher.mjs
  ggen/generated/package-resolver.mjs
  ggen/generated/runtime-loader.mjs
  ggen/generated/utilities.mjs
  ggen/scripts/generate-runtime.mjs
  ggen/scripts/generate-utilities.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(runtime): Implement next-level orchestration system with health monitoring and module federation
  src/unrdf-module-federation.mjs
  src/unrdf-package-health-monitor.mjs
  src/unrdf-package-optimizer.mjs
  src/unrdf-runtime-orchestrator.mjs
  test-orchestrator-live.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(ggen): Bleeding-edge dependency integration - AI, vectors, CRDT, job queues
  ggen/generated/ai-integration.mjs
  ggen/generated/graph-analysis.mjs
  ggen/generated/job-queue.mjs
  ggen/generated/observability.mjs
  ggen/generated/optimization-engine.mjs
  ggen/generated/realtime-sync.mjs
  ggen/generated/utilities.mjs
  ggen/generated/vector-db.mjs
  ggen/scripts/generate-advanced-analytics.mjs
  ggen/scripts/generate-bleeding-edge.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(ggen): Self-aware coherence systems - semantic analysis, execution graphs, contradiction detection
  ggen/generated/contradiction-manifest.mjs
  ggen/generated/integrations-required.mjs
  ggen/generated/missing-integrations.mjs
  ggen/generated/self-observing-system.mjs
  ggen/generated/semantic-extractor.mjs
  ggen/generated/unified-execution-graph.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(verification): Implement verification engine and coherence-driven repair system
  src/unrdf-coherence-repair.mjs
  src/unrdf-runtime-orchestrator.mjs
  src/unrdf-verification-engine.mjs
  test-coherence-repair.mjs
  test-verification-engine.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(learning): Implement coherence learning system with pattern discovery and repair prediction
  src/unrdf-coherence-learning.mjs
  src/unrdf-coherence-repair.mjs
  test-coherence-learning.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(mitigation): Implement adaptive pressure mitigation system for strategic system healing
  src/unrdf-pressure-mitigation.mjs
  src/unrdf-runtime-orchestrator.mjs
  test-pressure-mitigation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test: Add comprehensive full-system integration test demonstrating all 10 layers
  test-full-integration.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat: Add mega-prompt autonomous research swarm orchestration system
  MEGA-PROMPT-SWARM-README.md
  evidence-scoring-rubric.mjs
  evidence-validator.mjs
  swarm-mega-prompt-roles.mjs
  swarm-orchestration-plan.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Execute mega-prompt autonomous swarm - real evidence gathering and validation
  MEGA-PROMPT-EVIDENCE-ANALYSIS.md
  evidence-all-prepared.json
  evidence-phase-1-prepared.json
  evidence-phase-1.json
  evidence-phase-2.json
  evidence-report-final.json
  prepare-evidence.mjs
  run-validator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Complete mega-prompt autonomous swarm with comprehensive LaTeX thesis
  MEGA-PROMPT-THESIS.tex
Due: none

docs: Add comprehensive implementation completion summary
  IMPLEMENTATION_COMPLETE.md
Due: prettier --write

docs: Add holographic orchestration framework (corrected from mechanical metaphors)
  HOLOGRAPHIC_FRAMEWORK.md
Due: prettier --write

feat: Reference implementation - Receipt Merkle Chain Validator (holographic precipitation)
  reference-impl/00-axioms-substrate.mjs
  reference-impl/01-receipt-validator.mjs
  reference-impl/02-formal-verification.test.mjs
  reference-impl/README.md
  reference-implementation-spec.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Complete integration guide - holographic precipitation thesis to production system
  REFERENCE_IMPLEMENTATION_INTEGRATION.md
Due: prettier --write

chore: Project completion summary - thesis to production system
  FINAL_PROJECT_SUMMARY.md
Due: prettier --write
