Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

test(semantic-parts): cover delta and exact semantic classes
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): collect exact repository facts from git
  packages/manufacturing/src/git-repository-facts.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): export ERRC repository-fact accounting
  packages/manufacturing/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(manufacturing): execute Git repository-fact court
  packages/manufacturing/test/git-repository-facts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): add ERRC repository receipt CLI
  packages/manufacturing/bin/errc-receipt.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): expose ERRC receipt CLI and modules
  packages/manufacturing/package.json
Due: prettier --write

feat(semantic-parts): project admitted graph to marketplace RDF vocabulary
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(semantic-parts): verify deterministic RDF projection
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(semantic-parts): return ranked alternatives from inverted index
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(semantic-parts): prove indexed and scan query equivalence
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

bench(semantic-parts): measure ranked indexed retrieval
  packages/semantic-parts/bench/semantic-parts.bench.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(parts): gate that actually executes the interchangeable-parts falsifiers
  .github/workflows/interchangeable-parts-alive.yml
  package.json
  packages/atomvm/test/part-admission-broker-falsifiers.test.mjs
  packages/atomvm/vitest.config.mjs
  packages/core/vitest.config.mjs
  packages/manufacturing/vitest.config.mjs
  packages/receipts/vitest.config.mjs
  scripts/test-interchangeable-parts.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(v26.9.25): manufacture exact-subject ERRC repository receipts (#111)
  packages/manufacturing/bin/errc-receipt.mjs
  packages/manufacturing/package.json
  packages/manufacturing/src/git-repository-facts.mjs
  packages/manufacturing/src/index.mjs
  packages/manufacturing/src/repository-fact-accounting.mjs
  packages/manufacturing/test/git-repository-facts.test.mjs
  packages/manufacturing/test/repository-fact-accounting.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(semantic-parts): add transport-neutral CodeGraph release reader protocol
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(semantic-parts): cover exact CodeGraph release reader protocol
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(semantic-parts): make perf falsifiers survive loaded CI runners
  packages/semantic-parts/test/semantic-parts.perf.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(interchangeable-parts): pin per-suite gate counts, bind raw host context in tests, freeze broker bindings
  packages/atomvm/src/part-admission-broker.mjs
  packages/atomvm/test/part-admission-broker.test.mjs
  packages/receipts/test/substitution-receipt.test.mjs
  scripts/test-interchangeable-parts.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

v26.9.25 production closure (#110)
  packages/semantic-parts/bench/fixture.mjs
  packages/semantic-parts/bench/receipt-v26.9.26.json
  packages/semantic-parts/bench/semantic-parts.bench.mjs
  packages/semantic-parts/package.json
  packages/semantic-parts/src/index.mjs
  packages/semantic-parts/test/semantic-parts.adversarial.test.mjs
  packages/semantic-parts/test/semantic-parts.perf.test.mjs
  packages/semantic-parts/test/semantic-parts.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(semantic-parts): bind prior-art candidates to immutable suppliers
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(semantic-parts): falsify prior-art admission laundering
  packages/semantic-parts/test/epr-candidate.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): gate prior-art candidates through canonical substitution law
  packages/manufacturing/src/prior-art-substitution.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(manufacturing): falsify semantic-to-behavioral equivalence laundering
  packages/manufacturing/test/prior-art-substitution.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): export EPR substitution bridge
  packages/manufacturing/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): expose prior-art substitution bridge
  packages/manufacturing/package.json
Due: prettier --write

fix(semantic-parts): refuse stale indexes and make indexed queries pay off
  packages/semantic-parts/bench/receipt-v26.9.26.json
  packages/semantic-parts/src/index.mjs
  packages/semantic-parts/test/semantic-parts.index-adversarial.test.mjs
  packages/semantic-parts/test/semantic-parts.perf.test.mjs
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(semantic-parts): carry #110 hardening forward, court-test the headline guards, gate formatting
  packages/semantic-parts/bench/fixture.mjs
  packages/semantic-parts/bench/receipt-v26.9.26.json
  packages/semantic-parts/bench/semantic-parts.bench.mjs
  packages/semantic-parts/package.json
  packages/semantic-parts/src/index.mjs
  packages/semantic-parts/test/semantic-parts.adversarial.test.mjs
  packages/semantic-parts/test/semantic-parts.court.test.mjs
  packages/semantic-parts/test/semantic-parts.index-adversarial.test.mjs
  packages/semantic-parts/test/semantic-parts.perf.test.mjs
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(semantic-parts): court2 falsifiers for three mutants surviving 8d17d36a
  packages/semantic-parts/test/semantic-parts.court2.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(interchangeable-parts): refuse non-canonical records, total law, adversarial falsifiers + bench bound
  .github/workflows/interchangeable-parts-alive.yml
  benchmarks/interchangeable-parts/bench-receipt.json
  packages/atomvm/test/part-admission-broker-adversarial.test.mjs
  packages/atomvm/vitest.config.mjs
  packages/core/src/interchangeable-part.mjs
  packages/core/test/interchangeable-part-canonical.test.mjs
  packages/core/vitest.config.mjs
  scripts/bench-interchangeable-parts.mjs
  scripts/test-interchangeable-parts.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(core): own-property resource ceilings, injective part digests, bench receipt subject
  benchmarks/interchangeable-parts/bench-receipt.json
  packages/atomvm/test/part-admission-broker-adversarial.test.mjs
  packages/core/src/interchangeable-part.mjs
  packages/core/test/interchangeable-part-canonical.test.mjs
  scripts/bench-interchangeable-parts.mjs
  scripts/test-interchangeable-parts.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(otel): add Git swarm OCEL 2.0 projection
  packages/otel/src/ocel/git-swarm.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(otel): cover Git swarm OCEL projection
  packages/otel/test/ocel/git-swarm.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(otel): export Git swarm OCEL primitives
  packages/otel/src/ocel/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

build(otel): depend on core RDF projection primitives
  packages/otel/package.json
Due: prettier --write

feat(otel): add exact swarm subject admission consumer
  packages/otel/src/ocel/swarm-contracts.mjs
  packages/otel/src/ocel/swarm-contracts.schema.json
  packages/otel/src/ocel/swarm-exact-subject.rq
  packages/otel/test/ocel/swarm-contracts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: remove husky hooks
  .husky/pre-commit
  .husky/pre-push
  .husky/pre-push.disabled
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(serverless,federation): restore OpenAPI version, validate bundler paths, run node:test files
  packages/daemon/src/middleware/rate-limiter.mjs
  packages/federation/package.json
  packages/federation/vitest.config.mjs
  packages/serverless/package.json
  packages/serverless/src/api/api-gateway-config.mjs
  packages/serverless/src/deploy/lambda-bundler.mjs
  packages/serverless/test/api-gateway-config.test.mjs
  packages/serverless/test/lambda-bundler.test.mjs
  packages/serverless/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(rdf-graphql): use oxigraph load options, add rdf prefix, fix root resolver signature
  packages/rdf-graphql/src/adapter.mjs
  packages/rdf-graphql/src/schema-generator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix
