Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(ggen-sync): lineage edge 05 [3c860656dd91]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

feat(ggen-sync): lineage edge 06 [356f997a4f42]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

feat(ggen-sync): lineage edge 07 [8cc71a6e5dcc]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

feat(ggen-sync): lineage edge 08 [900e98f25f5e]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

feat(ggen-sync): lineage edge 09 [0933588077dc]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

feat(ggen-sync): lineage edge 10 [f83c4757c999]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

chore(ggen-input): advance admitted lineage input to edge 10
  .ggen/project2-lineage/ontology.ttl
Due: none

docs(v26.9.16): define unrdf RFC closure contract
  docs/jira/v26.9.16/RFC-CLOSURE.md
Due: prettier --write

feat(v26.9.16): add admitted AtomVM idle-estate scheduler
  packages/atomvm/src/idle-estate.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(v26.9.16): export AtomVM idle-estate control plane
  packages/atomvm/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(v26.9.16): add idle-estate Chicago falsifiers
  packages/atomvm/test/idle-estate-chicago.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(v26.9.16): add focused AtomVM idle-estate court
  .github/workflows/v26-9-16-rfc-closure.yml
Due: prettier --write

feat(gall): bind AtomVM jobs to exact work-order identity
  packages/atomvm/src/idle-estate.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(gall): keep edge execution candidate-only and authority-free
  packages/atomvm/test/idle-estate-chicago.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

core: add consequence-preserving interchangeable part law
  packages/core/src/interchangeable-part.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

core: export interchangeable part admission API
  packages/core/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): falsify interchangeable part substitution drift
  packages/core/test/interchangeable-part.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

manufacturing: project artifacts into deterministic part passports
  packages/manufacturing/src/part-passport.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

manufacturing: export part passport projection
  packages/manufacturing/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(manufacturing): prove artifact-bound part passport projection
  packages/manufacturing/test/artifact/interchangeable-part.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

receipts: bind part substitution admission to replayable evidence
  packages/receipts/src/substitution-receipt.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

receipts: export substitution receipt API
  packages/receipts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(receipts): bind substitution receipts to exact candidate and host
  packages/receipts/test/substitution-receipt.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

atomvm: enforce receipted part admission before actuation
  packages/atomvm/src/part-admission-broker.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

atomvm: export mandatory part admission broker
  packages/atomvm/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): prove zero unreceipted interchangeable-part actuation
  packages/atomvm/test/part-admission-broker.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(semantic-parts): package.json
  packages/semantic-parts/package.json
Due: prettier --write

feat(semantic-parts): index.mjs
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(semantic-parts): semantic-parts.test.mjs
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(semantic-parts): canonicalize aliases deterministically
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(semantic-parts): prove edge-order determinism
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(semantic-parts): admit workspace package in pnpm lock
  pnpm-lock.yaml
Due: prettier --write

fix(semantic-parts): harden admission and add benchmark receipt
  packages/semantic-parts/bench/fixture.mjs
  packages/semantic-parts/bench/receipt-v26.9.26.json
  packages/semantic-parts/bench/semantic-parts.bench.mjs
  packages/semantic-parts/package.json
  packages/semantic-parts/src/index.mjs
  packages/semantic-parts/test/semantic-parts.adversarial.test.mjs
  packages/semantic-parts/test/semantic-parts.perf.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(atomvm): adversarial falsifiers for mandatory part-admission broker
  packages/atomvm/test/part-admission-broker-falsifiers.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(semantic-parts): add deterministic inverted index
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(semantic-parts): cover indexed candidate retrieval
  packages/semantic-parts/test/semantic-parts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

bench(semantic-parts): measure inverted-index retrieval
  packages/semantic-parts/bench/semantic-parts.bench.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(manufacturing): add exact-subject ERRC repository accounting
  packages/manufacturing/src/repository-fact-accounting.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(manufacturing): falsify ERRC ownership and determinism
  packages/manufacturing/test/repository-fact-accounting.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(semantic-parts): add semantic delta and exact signature classes
  packages/semantic-parts/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
