Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(atomvm): add OCEL v2 communication log
  packages/atomvm/src/browser/ocel-v2.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): add direct WebRTC peer transport
  packages/atomvm/src/browser/webrtc-link.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): wire AtomVM peers into OCEL explorer
  packages/atomvm/src/browser/explorer-app.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): enable COI on static Pages hosting
  packages/atomvm/public/coi-serviceworker.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): make OCEL peer explorer the browser surface
  packages/atomvm/index.html
Due: none

build(atomvm): make explorer Pages-base aware
  packages/atomvm/vite.config.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): run explorer against production preview
  packages/atomvm/playwright.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): prove two WASM peers communicate through OCEL
  packages/atomvm/test/playwright/ocel-p2p.spec.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): replace demo assertions with explorer smoke
  packages/atomvm/test/playwright/atomvm.spec.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): remove obsolete runtime-demo browser test
  packages/atomvm/test/playwright/erlang-simulation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): remove obsolete demo browser smoke
  packages/atomvm/test/playwright/verify-working.spec.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(atomvm): prove browser P2P OCEL runtime ALIVE
  .github/workflows/atomvm-browser-p2p-alive.yml
Due: prettier --write

fix(atomvm): bind exact identities into browser receipt
  .github/workflows/atomvm-browser-p2p-alive.yml
Due: prettier --write

ci(pages): deploy and browser-verify AtomVM OCEL explorer
  .github/workflows/deploy-book.yml
Due: prettier --write

test(atomvm): allow deployed-origin browser replay
  packages/atomvm/playwright.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ci): require bash for AtomVM browser verifier
  .github/workflows/atomvm-browser-p2p-alive.yml
Due: prettier --write

fix(pages): require bash for AtomVM runtime build
  .github/workflows/deploy-book.yml
Due: prettier --write

ci(atomvm): bind Pages workflow into browser proof scope
  .github/workflows/atomvm-browser-p2p-alive.yml
Due: prettier --write

fix(ci): align AtomVM browser rail with pnpm 10 lockfile
  .github/workflows/atomvm-browser-p2p-alive.yml
Due: prettier --write

fix(pages): align deploy rail with pnpm 10 lockfile
  .github/workflows/deploy-book.yml
Due: prettier --write

fix(atomvm): remove stale root runtime symlink
  packages/atomvm/public/AtomVM.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(atomvm): remove stale root wasm symlink
  packages/atomvm/public/AtomVM.wasm
Due: none

fix(atomvm): return lossless string runtime receipts
  packages/atomvm/examples/erlang/atomvm_ocel_peer.erl
Due: none

fix(atomvm): decode lossless runtime receipts
  packages/atomvm/src/browser/ocel-v2.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(r83): bind unrdf to R78 TCPS capital
  verification/r83-tcps-ready-set/subject.json
Due: prettier --write

test(r83): add unrdf TCPS falsifiers
  verification/r83-tcps-ready-set/cases.json
Due: prettier --write

test(r83): add fail-closed unrdf consumer court
  verification/r83-tcps-ready-set/verify.py
Due: none

ci(r83): qualify unrdf against exact R78 producer
  .github/workflows/r83-tcps-ready-set-consumer.yml
Due: prettier --write

fix(r83): honor UNRDF checkout supply-chain policy
  .github/workflows/r83-tcps-ready-set-consumer.yml
Due: prettier --write

fix(r83): materialize exact subjects without malformed gitlink traversal
  .github/workflows/r83-tcps-ready-set-consumer.yml
Due: prettier --write

fanout(r88): admit unrdf R86 capsule subject
  verification/r88-qualification-capsule/subject.json
Due: prettier --write

fanout(r88): encode unrdf capsule falsifiers
  verification/r88-qualification-capsule/cases.json
Due: prettier --write

fanout(r88): add unrdf exact-subject court
  verification/r88-qualification-capsule/verify.py
Due: none

fanout(r88): qualify unrdf through canonical R86
  .github/workflows/r88-r86-qualification-capsule.yml
Due: prettier --write

fanout(r88): bypass unrdf malformed submodule checkout transport
  .github/workflows/r88-r86-qualification-capsule.yml
Due: prettier --write

feat(r83): assimilate R78 TCPS ready-set capital
  .github/workflows/r83-tcps-ready-set-consumer.yml
  verification/r83-tcps-ready-set/cases.json
  verification/r83-tcps-ready-set/subject.json
  verification/r83-tcps-ready-set/verify.py
Due: prettier --write

feat(ggen-sync): lineage edge 01 [8645acb66391]
  .ggen/project2-lineage/.ggen/packs.lock
  .ggen/project2-lineage/generated/propagation/plan.json
  .ggen/project2-lineage/generated/propagation/qualification_court.py
  .ggen/project2-lineage/ggen.toml
  .ggen/project2-lineage/ontology.ttl
Due: prettier --write

feat(ggen-sync): lineage edge 02 [2d71c90c9c29]
  .ggen/project2-lineage/generated/propagation/plan.json
  .ggen/project2-lineage/ontology.ttl
Due: prettier --write

feat(ggen-sync): lineage edge 03 [cc0b41307d62]
  .ggen/project2-lineage/generated/propagation/plan.json
  .ggen/project2-lineage/ontology.ttl
Due: prettier --write

feat(ggen-sync): lineage edge 04 [97f2a6ac4f17]
  .ggen/project2-lineage/generated/propagation/plan.json
Due: prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
