Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(core): add deterministic policy engine
  packages/core/src/policy-engine.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add deterministic snapshots
  packages/core/src/snapshot.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add bounded ttl cache
  packages/core/src/bounded-cache.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add hash-chained event log
  packages/core/src/event-log.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): add fenced lease registry
  packages/core/src/lease.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): verify state primitives
  packages/core/test/state-primitives.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(core): export state primitives
  packages/core/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: transport dense capability tranche
  .agent-density/part-00
  .agent-density/part-01
  .agent-density/part-02
  .agent-density/part-03
  .agent-density/part-04
  .agent-density/part-05
  .agent-density/part-06
  .agent-density/part-07
  .agent-density/part-08
  .agent-density/part-09
  .agent-density/part-10
  .agent-density/part-11
  .agent-density/part-12
  .agent-density/part-13
  .agent-density/part-14
  .agent-density/part-15
  .agent-density/part-16
  .agent-density/part-17
  .agent-density/part-18
  .agent-density/part-19
  .agent-density/part-20
  .agent-density/part-21
  .agent-density/part-22
  .github/workflows/apply-dense-capabilities.yml
Due: prettier --write

ci: execute dense capability transport on PR head
  .github/workflows/apply-dense-capabilities.yml
Due: prettier --write

chore: transport dense capability tranche two
  .agent-density2/part-00
  .agent-density2/part-01
  .agent-density2/part-02
  .agent-density2/part-03
  .github/workflows/apply-dense2-capabilities.yml
Due: prettier --write

fix: correct dense tranche two transport
  .agent-density3/armored-13
  .agent-density3/armored-14
  .agent-density3/armored-15
  .agent-density3/armored-16
  .agent-density3/raw-00
  .agent-density3/raw-01
  .agent-density3/raw-02
  .agent-density3/raw-03
  .agent-density3/raw-04
  .agent-density3/raw-05
  .agent-density3/raw-06
  .agent-density3/raw-07
  .agent-density3/raw-08
  .agent-density3/raw-09
  .agent-density3/raw-10
  .agent-density3/raw-11
  .agent-density3/raw-12
  .github/workflows/apply-dense3-capabilities.yml
Due: prettier --write

feat: implement transactional, checkpointed, federated, and receipt capabilities
  .agent-density2/part-00
  .agent-density2/part-01
  .agent-density2/part-02
  .agent-density2/part-03
  .agent-density3/armored-13
  .agent-density3/armored-14
  .agent-density3/armored-15
  .agent-density3/armored-16
  .agent-density3/raw-00
  .agent-density3/raw-01
  .agent-density3/raw-02
  .agent-density3/raw-03
  .agent-density3/raw-04
  .agent-density3/raw-05
  .agent-density3/raw-06
  .agent-density3/raw-07
  .agent-density3/raw-08
  .agent-density3/raw-09
  .agent-density3/raw-10
  .agent-density3/raw-11
  .agent-density3/raw-12
  .github/workflows/apply-dense2-capabilities.yml
  .github/workflows/apply-dense3-capabilities.yml
  packages/core/package.json
  packages/core/src/index.mjs
  packages/core/src/utils/transaction-core.mjs
  packages/core/test/transaction-core.node.test.mjs
  packages/federation/package.json
  packages/federation/src/federation/query-planner-core.mjs
  packages/federation/src/index.mjs
  packages/federation/test/query-planner-core.node.test.mjs
  packages/receipts/package.json
  packages/receipts/src/index.mjs
  packages/receipts/src/receipt-verifier.mjs
  packages/receipts/test/receipt-verifier.node.test.mjs
  packages/streaming/package.json
  packages/streaming/src/checkpointed-pipeline.mjs
  packages/streaming/src/index.mjs
  packages/streaming/test/checkpointed-pipeline.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(hooks): add deterministic non-actuating intent planner
  packages/hooks/src/hooks/intent-planner.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(runtime): add deterministic execution capsule core
  packages/kgc-runtime/src/capsule-core.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(daemon): add hardened request security gateway
  packages/daemon/src/security-gateway.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(knowledge-engine): add incremental RDF graph index
  packages/knowledge-engine/src/incremental-index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(runtime): verify capsule integrity and replay
  packages/kgc-runtime/test/capsule-core.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(hooks): verify deterministic intent planning
  packages/hooks/test/intent-planner.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(daemon): verify security gateway boundaries
  packages/daemon/test/security-gateway.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(knowledge-engine): verify incremental graph indexing
  packages/knowledge-engine/test/incremental-index.node.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): add receipted swarm federation
  packages/atomvm/src/swarm-cluster.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): verify swarm federation receipts
  packages/atomvm/test/swarm-cluster.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): export swarm cluster control plane
  packages/atomvm/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): add ten executable innovation checkpoints
  packages/atomvm/src/innovation-checkpoints.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): verify ten innovation checkpoints
  packages/atomvm/test/innovation-checkpoints.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): export innovation checkpoint verifier
  packages/atomvm/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs(atomvm): rewrite package guide for federation and evidence
  packages/atomvm/README.md
Due: prettier --write

docs(atomvm): explain federated swarm control plane
  packages/atomvm/docs/explanation/federated-swarm-control-plane.md
Due: prettier --write

docs(atomvm): add checkpoint API reference
  packages/atomvm/docs/reference/innovation-checkpoints.md
Due: prettier --write

feat(atomvm): add real process broker
  packages/atomvm/src/process-broker.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): add runtime swarm probe
  packages/atomvm/examples/erlang/swarm_probe.erl
Due: none

feat(atomvm): verify real runtime cluster
  packages/atomvm/scripts/verify-runtime-cluster.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): cover process broker boundary
  packages/atomvm/test/process-broker.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(atomvm): export process broker
  packages/atomvm/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(atomvm): build and execute real runtime cluster
  .github/workflows/atomvm-runtime-alive.yml
Due: prettier --write

fix(atomvm): use PackBEAM contract
  packages/atomvm/scripts/build.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(atomvm): run exact-head runtime verifier on PR
  .github/workflows/atomvm-runtime-alive.yml
Due: prettier --write

fix(atomvm): remove undeclared build dependency
  packages/atomvm/scripts/build.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(atomvm): return successful startup atom
  packages/atomvm/examples/erlang/swarm_probe.erl
Due: none

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
