Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: Add FinOps Fabric E2E JTBD tests and coherence proofs
  docs/finops-fabric-coherence-proof.md
  docs/finops-fabric-e2e-jtbd-tests.md
  docs/finops-fabric-quick-reference.md
Due: prettier --write

docs: Add @unrdf/daemon E2E JTBD test suite - 80/20 gap closure
  packages/daemon/ERROR_PATH_VALIDATION_SUMMARY.md
  packages/daemon/docs/INDEX.md
  packages/daemon/docs/INTEGRATION_COVERAGE_MATRIX.md
  packages/daemon/docs/README.md
  packages/daemon/docs/SLO-README.md
  packages/daemon/docs/e2e-jtbd-guide.md
  packages/daemon/docs/error-path-scenarios.md
  packages/daemon/docs/error-path-validation.md
  packages/daemon/docs/runbooks/README.md
  packages/daemon/docs/runbooks/SUMMARY.md
  packages/daemon/docs/runbooks/jtbd-1-deploy-new-control.md
  packages/daemon/docs/runbooks/jtbd-2-audit-verification.md
  packages/daemon/docs/runbooks/jtbd-3-failure-diagnosis.md
  packages/daemon/docs/runbooks/jtbd-4-compliance-ownership.md
  packages/daemon/docs/runbooks/jtbd-5-minimal-blast-radius.md
  packages/daemon/docs/runbooks/jtbd-6-long-term-correctness.md
  packages/daemon/docs/slo-constraint-analysis.md
  packages/daemon/docs/slo-definitions.md
  packages/daemon/docs/slo-monitoring-guide.md
  packages/daemon/docs/slo-tracking-sheet.csv
  packages/daemon/test/e2e-jtbd.test.mjs
  packages/daemon/test/error-path-validation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Complete daemon+yawl integration with all tests passing (100% pass rate)
  packages/daemon/docs/runbooks/yawl-operation.md
  packages/daemon/docs/yawl-error-handling.md
  packages/daemon/docs/yawl-integration-coverage-matrix.md
  packages/daemon/docs/yawl-integration-guide.md
  packages/daemon/docs/yawl-patterns-cookbook.md
  packages/daemon/docs/yawl-slo-definitions.md
  packages/daemon/src/integrations/yawl.mjs
  packages/daemon/test/e2e-daemon-yawl-errors.test.mjs
  packages/daemon/test/e2e-daemon-yawl-performance.test.mjs
  packages/daemon/test/e2e-daemon-yawl.test.mjs
  packages/daemon/test/yawl-integration-simple.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Add daemon listener error resilience and comprehensive integration quality verification
  packages/daemon/docs/INTEGRATION-QUALITY-REPORT.md
  packages/daemon/src/daemon.mjs
  packages/daemon/test/e2e-edge-cases.test.mjs
  packages/daemon/test/verify-integration-quality.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: Refine receipts merkle tree implementation with improved validation
  packages/daemon/src/integrations/receipts-merkle.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: Add comprehensive 7-day commit review with 10-agent analysis
  COMMIT_REVIEW_7DAYS_2026-01-11.md
Due: prettier --write

feat: Add comprehensive combinatorial explosion research across 10 dimensions
  COMPLEXITY_VISUALIZATION.md
  DELTA_CONTRACT_COMBINATORIAL_ANALYSIS.md
  HOOK-POLICY-COMPOSITION-EXPLOSION-ANALYSIS.md
  RESEARCH_SUMMARY.md
  RESEARCH_TEST_COMBINATORIAL_EXPLOSIONS.md
  docs/research/consensus-state-space-analysis.md
  docs/research/consensus-state-space-summary.md
  docs/research/cross-package-integration-matrix.md
  research-nitro-task-scheduling-permutations.md
  research-nitro-task-scheduling-summary.txt
  scripts/README-integration-matrix-analysis.md
  scripts/analyze-import-patterns.mjs
  scripts/analyze-integration-matrix.mjs
  scripts/analyze-layer-violations.mjs
  scripts/visualize-integration-matrix.mjs
  yawl-path-explosion-analysis.md
  yawl-path-explosion-summary.txt
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Complete PhD thesis documentation for all UNRDF packages
  MEGA-PROMPT-THESIS.tex
  packages/hooks/docs/thesis/EXTENSION_SUMMARY.md
  packages/hooks/docs/thesis/knowledge-hooks-phd-thesis.tex
  thesis/packages/agent_10_packages.tex
  thesis/packages/agent_3_packages.tex
  thesis/packages/agent_4_packages.tex
  thesis/packages/agent_5_packages.tex
  thesis/packages/agent_6_packages.tex
  thesis/packages/agent_7_packages.tex
  thesis/packages/agent_8_packages.tex
  thesis/packages/agent_9_packages.tex
Due: prettier --write

feat: Implement 80/20 test consolidation with 3-tier strategy
  TEST-CONSOLIDATION-README.md
  docs/testing/80-20-test-strategy.md
  package.json
  test-consolidation-80-20.mjs
  vitest.config.essential.mjs
  vitest.config.fast.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Add adversarial YAWL evaluation reports
  YAWL_EXECUTION_SEMANTICS_EVALUATION.md
  YAWL_PATTERN_COMPLIANCE_REPORT.md
  packages/daemon/package.json
  packages/yawl/ADVERSARIAL-EXCEPTION-HANDLING-EVALUATION.md
  packages/yawl/ADVERSARIAL-WORKLIST-EVALUATION.md
Due: prettier --write

feat: Complete 10-agent adversarial YAWL evaluation
  ADVERSARIAL_EVALUATION_SYNTHESIS.md
  FINAL_ADVERSARIAL_YAWL_EVALUATION.md
  YAWL_ARCHITECTURAL_DEVIATIONS.md
  YAWL_COMPLIANCE_GAP_ANALYSIS.md
  YAWL_COMPLIANCE_VERIFICATION.md
  YAWL_FMEA_ASSESSMENT.md
  YAWL_MISSING_PATTERNS_DETAILED.md
  YAWL_PERFORMANCE_DELTA.md
  YAWL_REMEDIATION_ROADMAP.md
  YAWL_VALIDATION_RESULTS.md
  pnpm-lock.yaml
  yawl-lint-output.txt
  yawl-test-output.txt
Due: prettier --write

docs: agent retention analysis - recommend top 10 of 94 agents
  AGENT-RETENTION-ANALYSIS.md
Due: prettier --write

docs: Add final consolidation summary
  TEST_CONSOLIDATION_FINAL_SUMMARY.md
Due: prettier --write

feat(cli): Implement 'unrdf sync' command for RDF API code generation
  examples/openapi/ggen.toml
  examples/openapi/ontology/blog-api.ttl
  examples/openapi/templates/jsdoc-types.njk
  examples/openapi/templates/zod-entities.njk
  packages/cli/package.json
  packages/cli/src/cli/commands/sync.mjs
  packages/cli/src/cli/commands/sync/config-parser.mjs
  packages/cli/src/cli/commands/sync/index.mjs
  packages/cli/src/cli/commands/sync/ontology-loader.mjs
  packages/cli/src/cli/commands/sync/orchestrator.mjs
  packages/cli/src/cli/commands/sync/schemas.mjs
  packages/cli/src/cli/commands/sync/sparql-executor.mjs
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/templates/sync/openapi/openapi-info.njk
  packages/cli/templates/sync/openapi/openapi-paths.njk
  packages/cli/templates/sync/openapi/openapi-schemas.njk
  packages/cli/templates/sync/openapi/openapi-spec.njk
  packages/cli/templates/sync/types/jsdoc-entities.njk
  packages/cli/templates/sync/types/jsdoc-guards.njk
  packages/cli/templates/sync/types/jsdoc-index.njk
  packages/cli/templates/sync/types/jsdoc-requests.njk
  packages/cli/templates/sync/zod/zod-entities.njk
  packages/cli/templates/sync/zod/zod-index.njk
  packages/cli/templates/sync/zod/zod-requests.njk
  packages/cli/test/cli/commands/sync/integration-sparql-executor.mjs
  packages/cli/test/cli/commands/sync/sparql-executor.test.mjs
  packages/cli/test/cli/commands/sync/verify-sparql-executor.mjs
  packages/cli/test/sync/config-parser.test.mjs
  packages/cli/test/sync/template-renderer.test.mjs
  packages/cli/vitest.config.mjs
  packages/daemon/package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Enhance test documentation for parse-contract and query-contract
  test/knowledge-engine/parse-contract.test.mjs
  test/knowledge-engine/query-contract.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat: Complete 10-agent Java YAWL engine internals research
  INTERFACE_B_API_IMPLEMENTATION.md
  YAWL_CONCURRENCY_MODEL.md
  YNETRUNNER_EXECUTION_MECHANICS.md
  YPERSISTENCEMANAGER_DB_INTERNALS.md
  YRESOURCESERVICE_ALLOCATION_MECHANICS.md
  YWORKITEM_STATE_MACHINE.md
  packages/yawl/YDATAHANDLER_EVALUATION_MECHANICS.md
  packages/yawl/YENGINE_IMPLEMENTATION_DETAILS.md
  packages/yawl/YEXCEPTIONSERVICE_HANDLING_MECHANICS.md
  packages/yawl/YSPECIFICATION_LOADING_INTERNALS.md
Due: prettier --write

fix: Complete all Priority 1 fixes for <5s SLA
  packages/cli/src/cli/commands/convert.mjs
  packages/cli/src/cli/commands/graph.mjs
  packages/cli/src/cli/commands/query.mjs
  packages/cli/test/cli/decision-fabric.test.mjs
  packages/core/src/types.schema.mjs
  packages/diff.mjs
  packages/knowledge-engine/hook-executor.mjs
  packages/knowledge-engine/utils/circuit-breaker.mjs
  packages/knowledge-engine/utils/ring-buffer.mjs
  packages/project-engine/index.mjs
  packages/v6-compat/src/schema-generator.schema.mjs
  packages/v6-compat/test/integration-node.test.mjs
  proofs/poka-yoke/05-atomic-delta.test.mjs
  src/knowledge-engine/knowledge-substrate-core.mjs
  src/narrative-state-chain/store.mjs
  src/narrative-state-chain/types.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat: Complete 10-agent adversarial YAWL evaluation
  packages/yawl/INTERFACE_B_API_IMPLEMENTATION.md
  packages/yawl/src/compensation/compensation-executor.mjs
  packages/yawl/src/compensation/compensation-patterns.mjs
  packages/yawl/src/compensation/compensation-registry.mjs
  packages/yawl/src/compensation/index.mjs
  packages/yawl/src/compensation/saga-coordinator.mjs
  packages/yawl/src/compensation/state-snapshots.mjs
  packages/yawl/src/data/aggregation-functions.mjs
  packages/yawl/src/data/data-slicing.mjs
  packages/yawl/src/data/data-validation.mjs
  packages/yawl/src/data/type-coercion.mjs
  packages/yawl/src/data/xpath-compatibility.mjs
  packages/yawl/src/engine-core.mjs
  packages/yawl/src/engine.mjs
  packages/yawl/src/persistence/kgc-persistence-adapter.mjs
  packages/yawl/src/recovery/receipt-log-reader.mjs
  packages/yawl/src/recovery/state-reconstructor.mjs
  packages/yawl/src/worklets/worklet-context.mjs
  packages/yawl/src/worklets/worklet-registry.mjs
  packages/yawl/src/worklets/worklet-runner.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(sync): Map RDF format names to file extensions for Oxigraph
  examples/openapi/lib/schemas/entities.mjs
  examples/openapi/lib/types/entities.mjs
  packages/cli/src/cli/commands/sync/ontology-loader.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: Complete final test fixes for <5s SLA
  packages/cli/test/cli/decision-fabric.test.mjs
  packages/v6-core/test/implementations.test.mjs
  packages/yawl/test/architecture.test.mjs
  proofs/poka-yoke/02-receipt-immutability.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: Convert remaining node:test files to vitest
  proofs/poka-yoke/01-sealed-universe.test.mjs
  src/multi-swarm/coordination.mjs
  test/cli.test.mjs
  test/receipts.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: Add fallbacks for undefined benchmark results
  benchmarks/integration.test.mjs
  benchmarks/test-output/integration-test-results.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(sync): Complete sync command with tests, docs, and watch mode
  examples/openapi/golden/lib/schemas/entities.mjs
  examples/openapi/golden/lib/types/entities.mjs
  examples/openapi/verify.mjs
  packages/cli/docs/sync-command.md
  packages/cli/src/cli/commands/sync.mjs
  packages/cli/test/cli/sync.test.mjs
  packages/cli/test/e2e/sync-e2e.test.mjs
  packages/cli/test/sync/ontology-loader.test.mjs
  packages/cli/test/sync/orchestrator.test.mjs
  packages/cli/test/sync/sparql-executor.test.mjs
  packages/cli/test/sync/templates.test.mjs
  packages/decision-fabric/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: Correct test assertion for distributeWork return value
  src/multi-swarm/__tests__/coordination.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: Skip 2 negative tests blocked by Zod validation
  src/admission/admission-engine.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: Complete 80/20 test consolidation final summary
  TEST_CONSOLIDATION_COMPLETE.md
  benchmarks/test-output/integration-test-results.json
Due: prettier --write
