Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: correct blake3 import and BLAKE3 hash generation, fix YAML syntax error
  DAEMON-OTEL-IMPLEMENTATION.md
  DAEMON-OTEL-VERIFICATION.md
  OTEL-WEAVER-COMPLETE.md
  VERIFICATION-SUMMARY.md
  docs/telemetry/OTEL-WEAVER-INTEGRATION.md
  package.json
  packages/daemon/OTEL-ENVIRONMENT.md
  packages/daemon/custom-conventions.yaml
  packages/hooks/API-REFERENCE.md
  packages/hooks/FEATURE-STATUS.md
  packages/hooks/MIGRATION-GUIDE.md
  packages/hooks/QUICKSTART-HOOKS.md
  packages/hooks/SECURITY-DISCLOSURE.md
  packages/hooks/examples/atomvm-fibo-hooks-demo.mjs
  packages/hooks/examples/delta-monitoring-example.mjs
  packages/hooks/examples/n3-reasoning-example.mjs
  packages/hooks/examples/shacl-repair-example.mjs
  packages/hooks/examples/window-condition-example.mjs
  packages/hooks/package.json
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/src/hooks/knowledge-hook-engine.mjs
  packages/hooks/src/hooks/self-play-autonomics.mjs
  packages/hooks/src/index.mjs
  packages/hooks/src/policy-compiler.mjs
  packages/hooks/test/blake3-receipts.test.mjs
  packages/hooks/test/delta-conditions.test.mjs
  packages/hooks/test/n3-reasoning-integration.test.mjs
  packages/hooks/test/shacl-annotate-serialization.test.mjs
  packages/hooks/test/shacl-repair-mode.test.mjs
  packages/hooks/test/shacl-serialization.test.mjs
  packages/hooks/test/v6-features.test.mjs
  packages/hooks/test/window-condition.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: remove incomplete Datalog stub from condition-evaluator, enhance N3 reasoning tests
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/test/blake3-receipts.test.mjs
  packages/hooks/test/delta-conditions.test.mjs
  packages/hooks/test/n3-reasoning-integration.test.mjs
  packages/hooks/test/shacl-annotate-serialization.test.mjs
  packages/hooks/test/shacl-repair-mode.test.mjs
  packages/hooks/test/v6-features.test.mjs
  packages/hooks/test/window-condition.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(otel): add complete observability stack with 11 services
  OTEL-WEAVER-COMPLETE.md
  docs/internal/telemetry/OTEL-WEAVER-INTEGRATION.md
  otel/alert-rules.yml
  otel/alertmanager.yml
  otel/custom-conventions.yaml
  otel/docker-compose.yml
  otel/grafana-provisioning/dashboards/dashboards.yml
  otel/grafana-provisioning/dashboards/unrdf-otel.json
  otel/grafana-provisioning/datasources/datasources.yml
  otel/loki.yaml
  otel/otel-collector-config.yaml
  otel/pm4py-analyze.py
  otel/pm4py-process-mining.ipynb
  otel/pm4py/Dockerfile
  otel/pm4py/pm4py-analyze.py
  otel/pm4py/pm4py-process-mining.ipynb
  otel/prometheus.yml
  otel/promtail.yaml
  otel/run-process-mining.sh
  otel/tempo.yaml
  otel/thesis-observability-process-mining-knowledge-graphs.md
  packages/atomvm/.tsbuildinfo
  packages/core/docs/OTEL-INSTRUMENTATION.md
  packages/daemon/README.md
  packages/kgc-probe/.probe-write-test-1775292260102
  packages/kgc-probe/.probe-write-test-1775292260349
  packages/kgc-probe/.probe-write-test-1775292260361
Due: prettier --write

fix: remove hardcoded operation count from daemon list test
  packages/cli/test/daemon-cli.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(otel): update semantic conventions and add AI telemetry metadata
  packages/daemon/src/autonomous-agent.mjs
  packages/daemon/src/autonomous-refinement-engine.mjs
  packages/daemon/src/integrations/otel-sdk.mjs
  packages/daemon/src/mcp/otel-instrumentation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): resolve test failures blocking publish
  packages/daemon/src/auth/api-key-auth.mjs
  packages/daemon/src/daemon.mjs
  packages/daemon/src/integrations/federation-query.mjs
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
  packages/daemon/src/integrations/streaming.mjs
  packages/daemon/test/daemon.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: CVE-2012-2459 mitigation - include batch size in merkle root hash to prevent odd-leaf duplication attacks
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: update OTEL stack config, hooks docs, and CLAUDE.md gotchas
  CLAUDE.md
  otel/WEAVER-VALIDATION-REPORT.md
  otel/alert-rules.yml
  otel/alloy-config.yaml
  otel/docker-compose.alloy-addition.yml
  otel/docker-compose.yml
  otel/faro/README.md
  otel/faro/faro-init.js
  otel/grafana-provisioning/dashboards/service-graph.json
  otel/grafana-provisioning/dashboards/trace-to-metrics.json
  otel/loki-rules/rate-limit-errors.yaml
  otel/loki.yaml
  otel/openllmetry/README.md
  otel/openllmetry/instrumentation.mjs
  otel/otel-collector-config.yaml
  otel/scripts/auto-dashboard.py
  otel/scripts/pm4py-conformance-gate.sh
  otel/scripts/trace-baseline.sh
  otel/synthetic-traces/__pycache__/synthetic-trace-gen.cpython-314.pyc
  otel/synthetic-traces/synthetic-trace-gen.py
  otel/thesis-observability-process-mining-knowledge-graphs.md
  packages/hooks/API-REFERENCE.md
  packages/hooks/CHANGELOG.md
  packages/hooks/FEATURE-STATUS.md
  packages/hooks/QUICKSTART-HOOKS.md
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

revert: simplify CVE-2012-2459 mitigation implementation - existing odd-leaf hashing should suffice
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

debug: add error logging for merkle proof verification
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(tests): relax flaky performance thresholds for CI parallel load
  packages/core/test/integration/store-integration.test.mjs
  packages/hooks/test/policy-compiler.test.mjs
  packages/hooks/test/security/sandbox-restrictions.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: include batch size in single-leaf merkle tree root hash for CVE-2012-2459 consistency
  packages/daemon/src/integrations/receipts-merkle-tree.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: remove hardcoded values from MCP command tests, add run method to main command
  packages/cli/src/cli/commands/mcp.mjs
  packages/cli/test/commands/mcp.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon/test): prevent flaky tamper detection test when hash ends in 'a'
  packages/daemon/test/e2e-receipts-merkle.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(streaming/test): fix missing vi import and Transform stream pausing
  packages/streaming/test/change-feed-ring-buffer.test.mjs
  packages/streaming/test/v6-streaming.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(streaming/test): skip intentionally-failing memory leak documentation test
  packages/streaming/test/batch-cleanup.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon/test): fix remaining flaky hash tamper tests (last-char already matches)
  packages/daemon/test/e2e-receipts-merkle.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(workspace): exclude kgc-probe from test:fast (consistent with lint exclusion)
  package.json
Due: prettier --write

docs(claude): update version, package count, publish cmd, and gotchas
  CLAUDE.md
Due: prettier --write

fix(hooks/test): relax 1K operations benchmark threshold 50ms→500ms for CI
  packages/hooks/test/benchmarks/hook-overhead.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(hooks/test): relax remaining flaky performance thresholds for CI parallel load
  packages/hooks/test/benchmarks/hook-overhead.test.mjs
  packages/hooks/test/policy-compiler.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: update navigation to reference diataxis package-specific documentation
  CLAUDE.md
  docs/README.md
  docs/diataxis/README.md
Due: prettier --write

docs: add complete daemon architecture explanation and update CLI commands reference
  docs/diataxis/cli/reference/commands.md
  docs/diataxis/daemon/explanation/01-daemon-architecture.md
  docs/diataxis/hooks/explanation/01-two-hook-systems.md
  docs/diataxis/hooks/explanation/README.md
Due: prettier --write

fix: relax hooks benchmark thresholds for CI parallel load
  packages/hooks/test/benchmarks/browser/browser-performance.test.mjs
  packages/hooks/test/benchmarks/hook-overhead.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(federation): add getMetrics/getMetricsJSON exports and fix unreachable status test
  packages/federation/src/federation/metrics.mjs
  packages/federation/src/index.mjs
  packages/federation/test/federation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(hooks): relax throughput degradation threshold for CI parallel load
  packages/hooks/test/builtin-hooks-advanced.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: update for v26.4.7 release
  CHANGELOG.md
  CLAUDE.md
  playground/BLUE-OCEAN-THESIS.md
  playground/INTEGRATION-VALIDATION-SUMMARY.md
  playground/OTEL-K8S-DEPLOYMENT-GUIDE.md
  playground/V26.4.7-VERIFICATION-STATUS.md
Due: prettier --write

fix(cli): format code with prettier
  packages/cli/src/cli/commands/daemon/helpers.mjs
  packages/cli/src/cli/commands/hooks.mjs
  packages/cli/src/cli/commands/mcp/self-play.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(hooks): format code with prettier
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/src/hooks/effect-executor.mjs
  packages/hooks/src/hooks/hook-chain-compiler.mjs
  packages/hooks/src/hooks/hook-executor.mjs
  packages/hooks/src/hooks/self-play-autonomics.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(core): format code with prettier
  packages/core/src/utils/schemas.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(yawl): format code with prettier
  packages/yawl/src/worklets/worklet-registry.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: 80/20 optimize README.md
  .husky/pre-push.disabled
  README.md
Due: prettier --write

feat(cli): add comprehensive doctor command with health checks
  packages/cli/docs/doctor-command.md
  packages/cli/package.json
  packages/cli/src/cli/commands/doctor/checks/env.mjs
  packages/cli/src/cli/commands/doctor/checks/integration.mjs
  packages/cli/src/cli/commands/doctor/checks/kubernetes.mjs
  packages/cli/src/cli/commands/doctor/checks/otel.mjs
  packages/cli/src/cli/commands/doctor/checks/quality.mjs
  packages/cli/src/cli/commands/doctor/checks/system.mjs
  packages/cli/src/cli/commands/doctor/fixes/index.mjs
  packages/cli/src/cli/commands/doctor/formatters/human.mjs
  packages/cli/src/cli/commands/doctor/formatters/json.mjs
  packages/cli/src/cli/commands/doctor/formatters/yaml.mjs
  packages/cli/src/cli/commands/doctor/index.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/test/commands/doctor.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore(release): prepare for v26.4.8 release
  CHANGELOG.md
  packages/cli/package.json
Due: prettier --write
