Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(sidecar): migrate schemas and error handling to Zod v4 (record key type, .issues, message option, omit on refined object)
  sidecar/app/components/hooks/HookForm.vue
  sidecar/app/schemas/common.mjs
  sidecar/app/schemas/hooks.mjs
  sidecar/app/schemas/runtime.mjs
  sidecar/server/api/admin/byzantine-operation.post.mjs
  sidecar/server/api/hooks/evaluate.post.mjs
  sidecar/server/middleware/04.request-validation.mjs
  sidecar/server/utils/response.mjs
  sidecar/server/utils/validation.mjs
  sidecar/server/utils/vault-client.mjs
  sidecar/sidecar/config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(sidecar): port Express-style authorization/rate-limit middleware and admin handlers to h3; enforce 429 (limiter rejects with non-Error RateLimiterRes)
  sidecar/server/api/admin/rate-limits.get.mjs
  sidecar/server/api/admin/roles.post.mjs
  sidecar/server/middleware/02.authorization.mjs
  sidecar/server/middleware/03.rate-limit.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(sidecar): missing SandboxError, elliptic CJS import, wrong proto path, index default export; declare undeclared deps, Zod ^4.1.13, drop unused n3
  sidecar/package.json
  sidecar/server/utils/auth.mjs
  sidecar/server/utils/errors.mjs
  sidecar/server/utils/security-headers.mjs
  sidecar/sidecar/client.mjs
  sidecar/sidecar/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(scripts): validate-diataxis.js used ESM imports in a commonjs package; use require
  scripts/validate-diataxis.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation,otel,scripts): restore swept literals, dangling imports, unawaited sandbox run
  otel/faro/faro-init.js
  otel/grafana-provisioning/dashboards/auto-generated.json
  otel/pm4py-mcp/pm4py_mcp.egg-info/requires.txt
  scripts/generate-hook-benchmark-dashboard.mjs
  validation/browser-features.validation.mjs
  validation/context.validation.mjs
  validation/isolated-vm-security.validation.mjs
  validation/knowledge-engine.validation.mjs
  validation/knowledge-hooks-api.validation.mjs
  validation/lockchain-integrity.validation.mjs
  validation/performance-profiling.validation.mjs
  validation/policy-packs.validation.mjs
  validation/sandbox-invariant.mjs
  validation/transaction-manager.validation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(otel): bridge admitted OCEL receipts to Git Notes transport
  packages/otel/src/ocel/git-notes-receipt.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(tools): kgc CLI swallowed the next flag after boolean options; tests wrote into tracked var/ and tools/ files
  tools/kgc.mjs
  tools/kgc.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation): otel-provider referenced undefined spanCollectors/spanExporter, so every validation suite failed with 'spanCollectors is not defined'
  validation/otel-provider.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(kgn): run tests/ suites under vitest and fix the BDD harness
  packages/kgn/.gitignore
  packages/kgn/package.json
  packages/kgn/tests/base-standalone-verify.test.js
  packages/kgn/tests/base-templates-verify.test.js
  packages/kgn/tests/bdd/bdd-test-runner.js
  packages/kgn/tests/bdd/cross-os/cross-platform-test-matrix.js
  packages/kgn/tests/bdd/fixtures/render-text.js
  packages/kgn/tests/bdd/fixtures/test-data-factory.js
  packages/kgn/tests/bdd/golden/frontmatterParsing.golden.txt
  packages/kgn/tests/bdd/permutation/permutation-test-runner.js
  packages/kgn/tests/bdd/run-bdd-tests.test.js
  packages/kgn/tests/kgen-engine.bdd.test.js
  packages/kgn/tests/template-bdd.test.js
  packages/kgn/vitest.config.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(kgn): scope loop/set variables, nest blocks, add formatDate/items/length/groupBy filters
  packages/kgn/src/core/filters.js
  packages/kgn/src/core/kgen-engine.js
  packages/kgn/src/core/parser.js
  packages/kgn/src/core/renderer.js
  packages/kgn/src/parser/variables.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: lockfile for kgn diff devDependency
  pnpm-lock.yaml
Due: prettier --write

fix(kgc-swarm): failure-check cadence, PBFT suspicion refutation, unhandled broadcast rejections
  packages/kgc-swarm/src/consensus/byzantine.mjs
  packages/kgc-swarm/src/consensus/membership.mjs
  packages/kgc-swarm/test/consensus/membership.test.mjs
  packages/kgc-swarm/test/consensus/raft.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation,scripts,otel): replace hardcoded /home/user/unrdf and /Users/sac/unrdf paths with paths derived from the script location
  otel/scripts/trace-baseline.sh
  scripts/analyze-integration-matrix.mjs
  scripts/benchmark-hooks.mjs
  scripts/final-oxigraph-refactor.mjs
  scripts/refactor-examples-oxigraph.mjs
  scripts/refactor-test-files.mjs
  validation/migration-examples.mjs
  validation/otel-composition-validator.mjs
  validation/thesis-validation.mjs
  validation/validate-corrections.sh
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation): api-alignment-check crashed on removed @unrdf/yawl package; skip missing packages with a warning
  validation/api-alignment-check.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation): browser-validation imported undeclared @rdfjs/data-model; use @unrdf/oxigraph dataFactory
  validation/browser-validation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation): cross-reference-check aborted on a dangling symlink; report it as an error and continue
  validation/cross-reference-check.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(validation): walkthrough-1 test used removed createKnowledgeSubstrateCore API and cwd-relative core path
  validation/walkthrough-tests/walkthrough-1.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(decision-fabric): separate core set from Pareto frontier, broaden causal extraction, injectable clock
  packages/decision-fabric/README.md
  packages/decision-fabric/src/engine.mjs
  packages/decision-fabric/src/pareto-analyzer.mjs
  packages/decision-fabric/src/socratic-agent.mjs
  packages/decision-fabric/test/decision-fabric.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(validation): integration-test n3 check matched comments/docs and used cwd-relative paths
  validation/integration-test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(data): restore schema/ontology version literals clobbered by the sweep
  playground/docs/CAPABILITY-REGISTRY.jsonld
  playground/ontologies/papers-thesis.ttl
  playground/ontologies/playground.ttl
  research/claude-code-capabilities/agent-02-hooks-governance-report.json
  research/claude-code-capabilities/agent-05-mcp-report.json
  research/claude-code-capabilities/capability-lattice.json
  research/claude-code-capabilities/novelty-metrics.json
Due: prettier --write

test(kgc-4d): turn cfe-iec-loop script into real vitest tests
  packages/kgc-4d/test/simulation/cfe-iec-loop.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(playground): make the Nitro API server and its tests actually run
  playground/.gitignore
  playground/assets/index-D_ryMEPs.js
  playground/assets/index-X8b7Z_4p.css
  playground/examples/hooks-runtime.mjs
  playground/hooks-showcase/app/layout-new.jsx
  playground/hooks-showcase/app/layout.jsx
  playground/html.meta.json.gz
  playground/nitro.config.mjs
  playground/package.json
  playground/server/lib/auth.mjs
  playground/server/lib/data-state.mjs
  playground/server/lib/hooks-state.mjs
  playground/server/lib/hooks.mjs
  playground/server/lib/store.mjs
  playground/server/routes/api/data/[id].delete.mjs
  playground/server/routes/api/data/[id].get.mjs
  playground/server/routes/api/data/[id].mjs
  playground/server/routes/api/data/[id]/query.mjs
  playground/server/routes/api/data/index.mjs
  playground/server/routes/api/hooks/[id].delete.mjs
  playground/server/routes/api/hooks/[id].get.mjs
  playground/server/routes/api/hooks/[id].mjs
  playground/server/routes/api/hooks/[id]/evaluate.mjs
  playground/server/routes/api/hooks/[id]/plan.mjs
  playground/server/routes/api/hooks/index.mjs
  playground/src/hooks.mjs
  playground/test-results.html
  playground/test-results.json
  playground/test/api.test.mjs
  playground/test/hooks.test.mjs
  playground/test/integration.config.mjs
  playground/test/setup.mjs
  playground/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(playground): CLI generate writes output, Zod v4 issues, version from package.json
  playground/.eslintrc.json
  playground/src/cli.mjs
  playground/src/cli/commands/config.mjs
  playground/src/cli/commands/meta.mjs
  playground/src/cli/commands/papers.mjs
  playground/src/cli/commands/thesis.mjs
  playground/src/cli/index.mjs
  playground/src/render.mjs
  playground/src/version.mjs
  playground/test/render.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(tools): inventory writer did not create its output dir; verify-all-packages-used crashed when snapshot missing
  tools/inventory-workspace-packages.mjs
  tools/verify-all-packages-used.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(research): retention lookup for events with no applicable rules
  research/prototypes/compliance-receipt-framework.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(scripts): unrdf-package-discovery called .catch on a sync main() and crashed after success
  scripts/unrdf-package-discovery.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(scripts): audit-wip crashed on a dangling symlink; skip symlinks while walking
  scripts/audit-wip.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(scripts): version mutators and API doc generator hardcoded 5.0.1/6.0.0; read root package.json (or argv) instead, and exit non-zero on failure
  scripts/generate-api-docs.mjs
  scripts/make-all-public.mjs
  scripts/update-versions.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(codegen): generate-types parser found 0 packages and emitted invalid packages.mjs
  codegen/generated/packages.mjs
  codegen/generated/packages.ts
  codegen/scripts/generate-types.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(scripts): production-readiness-check crashed on missing terraform/sidecar files instead of reporting failed checks
  scripts/production-readiness-check.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(cli,cli-legacy): repoint dangling imports and symlink
  cli-legacy/unrdf.mjs
  cli/commands/sidecar/config.mjs
  cli/commands/sidecar/health.mjs
  cli/commands/sidecar/logs.mjs
  cli/commands/sidecar/status.mjs
  cli/middleware/error-handler.mjs
  cli/utils/validation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: restore data files corrupted by version sweep (openapi 3.0.0, versions, IPs)
  docs/agents/reference/api-contracts.json
  docs/agents/reference/capabilities.jsonld
  docs/agents/reference/error-codes.json
  docs/capability-map/capability-index.json
  docs/capability-map/insights.json
  docs/capability-map/openapi-schema.json
  docs/generated/compatibility-matrix.json
  docs/generated/dependencies.json
  docs/generated/stats.json
  docs/generated/validation-report.json
  docs/implementation-plan/risk-matrix.json
  docs/internal/planning/milestone-tracking.json
  docs/internal/research/conversion-checklist.json
  docs/internal/validation/gate-results.json
Due: prettier --write

docs/agents: fix duplicate const declarations in switch cases (SyntaxError)
  docs/agents/how-to/01-discover-capabilities.mjs
  docs/agents/tutorials/01-capability-discovery.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs/agents: point examples at existing @unrdf/* packages instead of removed 'unrdf' package
  docs/agents/how-to/01-discover-capabilities.mjs
  docs/agents/how-to/02-execute-mapek-cycle.mjs
  docs/agents/tutorials/01-capability-discovery.mjs
  docs/agents/tutorials/02-mapek-integration.mjs
  docs/agents/tutorials/03-knowledge-hook-creation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs/archive: restore JSON data mangled by version sweep; fix syntax errors in archived modules
  docs/archive/legacy-pre-2030/AGENT_1_REPORT.json
  docs/archive/legacy-pre-2030/INTEGRATION_METRICS.json
  docs/archive/legacy-pre-2030/analysis-by-module.json
  docs/archive/legacy-pre-2030/architecture-validation-report.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/agent-3/src/execute.mjs
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/agent-5/examples/add-del-conflict.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/agent-5/examples/commutative-overlap.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/agent-5/examples/disjoint-capsules.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/agent-5/examples/self-conflict.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/swarm-discovery/ATLAS.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/autonomic/AUTONOMIC_INNOVATION/swarm-discovery/LEDGER.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/enterprise/ENTERPRISE_MIGRATION/CONTRACTS.lock.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/enterprise/ENTERPRISE_MIGRATION/agent-6/index.mjs
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835191953/dependency-tree.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835191953/git-state.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835191953/manifest.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835652082/dependency-tree.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835652082/git-state.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835652082/manifest.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835999254/dependency-tree.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835999254/git-state.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-1766835999254/manifest.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-snapshot-20251227-112104/dependency-tree.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-snapshot-20251227-112104/git-state.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/test-snapshot-20251227-112104/manifest.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/v5-stable-baseline/dependency-tree.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/v5-stable-baseline/git-state.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/.rollback-snapshots/v5-stable-baseline/manifest.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/AUTONOMIC_ALLPACKAGES/INVENTORY.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/historical/AUTONOMIC_ALLPACKAGES/VERIFICATION_REPORT.json
  docs/archive/legacy-pre-2030/archive/2026-01-11/research/research-output/agent-05-mcp/METADATA.json
  docs/archive/legacy-pre-2030/benchmark-results.json
  docs/archive/legacy-pre-2030/benchmarks/yawl-daemon/baselines/baseline.json
  docs/archive/legacy-pre-2030/benchmarks/yawl-daemon/yawl-daemon-benchmarks-2026-01-11T03-39-40.json
  docs/archive/legacy-pre-2030/benchmarks/yawl-daemon/yawl-daemon-benchmarks-2026-01-11T03-50-59.json
  docs/archive/legacy-pre-2030/docs/v6/CONTRACT_INDEX.json
  docs/archive/legacy-pre-2030/packages-analysis.json
  docs/archive/legacy-pre-2030/rollback-report.json
  docs/archive/legacy-pre-2030/test-analysis-summary.json
  docs/archive/legacy-pre-2030/validation-results.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: fix runnable code (uuid dep, invalid TS in .mjs, dangling paths)
  docs/merge-schemas.zod.mjs
  docs/schemas/test-observation-schemas.mjs
  docs/schemas/zod-observation-schemas.mjs
  docs/templates/package-template/src/constants.mjs
  docs/tools/measure-coverage.mjs
  docs/unused-deps-analysis.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: restore literals corrupted by version-agnostic sweep (58cb2494)
  docs/DEPENDENCY-GRAPH.txt
  docs/KGC-PROBE-SPECIFICATION-MANIFEST.txt
  docs/KGC-PROBE-SPECIFICATION.json
  docs/claude-code-settings-reference.json
  docs/machine/README.jsonld
  docs/machine/protocols/consensus.jsonld
  docs/machine/protocols/knowledge-hook-execution.jsonld
  docs/machine/protocols/query-federation.jsonld
  docs/ontology/minimal-n3-routing.ttl
  docs/package-inventory/packages.json
  docs/schema/documentation-ontology.ttl
  docs/schema/examples.ttl
  docs/schema/shacl-validation.ttl
  docs/substrate/RECEIPT.json
  docs/system-design/circular-dependency-check.txt
  docs/system-design/event-schema.json
  docs/system-design/module-dependency-tree.json
  docs/tools/check-links.mjs
  docs/tools/validate-examples.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(benchmarks): remove suites for deleted @unrdf/yawl, port federation bench to real planner API
  benchmarks/integration/federation-benchmark.mjs
  benchmarks/optimization-benchmarks.mjs
  benchmarks/run-all.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(benchmarks): restore v6.0.0 baseline deleted by sweep, drop hardcoded absolute paths
  benchmarks/compare-baseline.mjs
  benchmarks/core/engine-performance.mjs
  benchmarks/core/workflow-performance.mjs
  benchmarks/run-statistical-benchmarks.mjs
  benchmarks/task-activation-bench.mjs
  benchmarks/v6.0.0-baseline.json
  benchmarks/workflow-e2e-bench.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(root): point mcp:sync at real .unrdf.toml, restore quality-report.mjs, drop scripts to missing files
  package.json
  scripts/quality-report.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
