Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Autonomic All-Packages Innovation Harness (mission override)
  AUTONOMIC_ALLPACKAGES/DELIVERY_SUMMARY.md
  AUTONOMIC_ALLPACKAGES/INVENTORY.json
  AUTONOMIC_ALLPACKAGES/README.md
  AUTONOMIC_ALLPACKAGES/REGISTRY_SNAPSHOT.json
  AUTONOMIC_ALLPACKAGES/VERIFICATION_REPORT.json
  AUTONOMIC_ALLPACKAGES/demo.mjs
  AUTONOMIC_ALLPACKAGES/usage-registry.mjs
  CONVENTIONS-FACADE-MASTER-PLAN.md
  MISSION_OVERRIDE_SUMMARY.md
  PLAN.md
  tools/inventory-workspace-packages.mjs
  tools/verify-all-packages-used.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Add 7-day consolidation final summary report
  CONSOLIDATION-FINAL-SUMMARY.md
Due: prettier --write

fix: Correct policy-engine SPARQL import and async/await
  packages/fusion/src/policy-engine.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat: Multi-agent swarm discovery system with 10-agent factorization
  AUTONOMIC_INNOVATION/swarm-discovery/ATLAS.json
  AUTONOMIC_INNOVATION/swarm-discovery/LEDGER.json
  AUTONOMIC_INNOVATION/swarm-discovery/agents/mu10-ranking.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/agents/mu2-atomization.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/agents/mu3-graph-inference.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/agents/mu5-search.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/agents/mu8-metrics.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/kernel/constraints.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/kernel/hash.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/kernel/run.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/kernel/stable-json.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/kernel/verify.mjs
  AUTONOMIC_INNOVATION/swarm-discovery/main.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Multi-agent swarm discovery report with full verification and metrics
  AUTONOMIC_INNOVATION/swarm-discovery/DISCOVERY_REPORT.md
Due: prettier --write

feat: Complete capability field discovery with composition graph analysis
  CAPABILITY-FIELD-DISCOVERY.md
  docs/composition-graph-README.md
  docs/composition-graph-SUMMARY.md
  docs/composition-graph-analysis-CORRECTIONS.md
  docs/composition-graph-analysis.md
  research-output/capability-atlas.json
  research-output/discovery-report.md
  research-output/experiment-receipts.json
  research/discovery-framework.mjs
  research/notebooks/composition-1-yawl-kgc4d-blockchain.mjs
  research/research-coordinator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: Correct fusion package exports and prove.mjs determinism
  ARTIFACTS/visualization.json
  packages/fusion/src/index.mjs
  packages/fusion/src/receipts-kernel.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Add GraphViz composition graph visualization
  docs/composition-graph.dot
Due: none

feat: Add Disney Global Ontology Substrate with governed universe model
  ontologies/disney-governed-universe.ttl
Due: none

feat: Complete 9-chapter PhD dissertation on KGC ontology governance
  books/kgc-thesis/src/chapter-03-ontology-substrate-design.md
  docs/DISCUSSION-IMPLICATIONS-CHAPTER.md
  docs/chapter-5-receipts-chaining-verification.md
  docs/chapter-6-disney-case-study.md
  docs/chapter-7-evaluation-methodology.md
  docs/thesis-publication/CHAPTER-04-DELTA-CAPSULES-ADMISSIBILITY.md
  docs/thesis-publication/CONCLUSION-CHAPTER.md
  thesis-chapter-1-problem-statement.md
Due: prettier --write

docs: Add governance substrate reports and test artifacts
  DELIVERABLES.md
  GOVERNANCE-CLI-IMPLEMENTATION.md
  SECURITY-QUALITY-AUDIT-REPORT.md
  TEST-SUITE-SUMMARY.md
  packages/diataxis-kit/ARTIFACTS/diataxis/inventory.json
  pnpm-lock.yaml
  test-governance-cli.mjs
  test-governance-cli/ontologies/registry.ttl
  test-governance-cli/overlays/bu/invalid.delta.ttl
  test-governance-cli/overlays/bu/studios.delta.ttl
  test-governance-cli/policies/system-policy.ttl
  test-governance-cli/receipts/admissions/admission-08a2286c-b44f-4d3a-ade4-b27a52c9a786.json
  test-governance-cli/receipts/admissions/admission-0cf3f4c1-478b-4c0f-b1b6-a6d93d060917.json
  test-governance-cli/receipts/admissions/admission-641503a0-dcda-40a6-93f9-a59a7eabe2ff.json
  test-governance-cli/receipts/admissions/admission-6572b520-f699-47f9-926e-30d9039ecaa4.json
  test-governance-cli/receipts/admissions/admission-8312f1fd-b574-47dc-ab54-27afca1bac80.json
  test-governance-cli/receipts/admissions/admission-8ff7ab22-3b7e-4df2-8a67-bed7ba12529f.json
  test-governance-cli/receipts/admissions/admission-94da8075-d193-43df-b903-8c78257e1a0a.json
  test-governance-cli/receipts/admissions/admission-b89b4f23-69ef-48d9-9d9f-4eedd9c01fa7.json
  test-governance-cli/receipts/admissions/admission-c11d8454-c51e-49d9-9a1b-7df481fd1b92.json
  test-governance-cli/receipts/admissions/admission-c8b6c220-2175-4f5f-b4a2-22b12d37b48b.json
  test-governance-cli/receipts/admissions/admission-f3d2c3b9-4fbe-4e7d-a282-e149dc9f29d5.json
  test/admission.test.mjs
  test/cli.test.mjs
  test/fixtures/invalid-delta.json
  test/fixtures/test-universe.ttl
  test/fixtures/valid-delta.json
  test/integration.test.mjs
  test/receipts.test.mjs
  test/universe.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Add 10-agent Claude Code capability research swarm
  .claude/agents/research/cc-agent-01-subagents.md
  .claude/agents/research/cc-agent-02-hooks.md
  .claude/agents/research/cc-agent-03-plugins.md
  .claude/agents/research/cc-agent-04-slash-commands.md
  .claude/agents/research/cc-agent-05-mcp.md
  .claude/agents/research/cc-agent-06-programmatic.md
  .claude/agents/research/cc-agent-07-checkpointing.md
  .claude/agents/research/cc-agent-08-ide.md
  .claude/agents/research/cc-agent-09-composition.md
  .claude/agents/research/cc-agent-10-librarian.md
  .claude/commands/research/claude-code-capabilities.md
  research/claude-code-capabilities/README.md
  research/claude-code-capabilities/capability-lattice.json
  research/claude-code-capabilities/composition-closure-report.md
  research/claude-code-capabilities/diataxis/explanations/why-compositions-matter.md
  research/claude-code-capabilities/diataxis/how-to/parallel-execution.md
  research/claude-code-capabilities/diataxis/how-to/policy-enforcement.md
  research/claude-code-capabilities/diataxis/reference/subagent-types.md
  research/claude-code-capabilities/diataxis/tutorials/01-first-subagent.md
  research/claude-code-capabilities/diataxis/tutorials/02-first-hook.md
  research/claude-code-capabilities/diataxis/tutorials/03-first-command.md
  research/claude-code-capabilities/novelty-metrics.json
  research/claude-code-capabilities/orchestrate-swarm-prompt.md
  research/claude-code-capabilities/spawn-swarm.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Add @unrdf/kgc-claude substrate for Claude integration
  packages/kgc-claude/package.json
  packages/kgc-claude/src/async-workflow.mjs
  packages/kgc-claude/src/autonomy-guard.mjs
  packages/kgc-claude/src/checkpoint.mjs
  packages/kgc-claude/src/constants.mjs
  packages/kgc-claude/src/index.mjs
  packages/kgc-claude/src/projection.mjs
  packages/kgc-claude/src/run-capsule.mjs
  packages/kgc-claude/src/shard-merge.mjs
  packages/kgc-claude/test/async-workflow.test.mjs
  packages/kgc-claude/test/autonomy-guard.test.mjs
  packages/kgc-claude/test/projection.test.mjs
  packages/kgc-claude/test/run-capsule.test.mjs
  packages/kgc-claude/test/shard-merge.test.mjs
  packages/kgc-claude/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test: Add comprehensive verification script for 10-agent swarm deliverables
  src/verification.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: Add comprehensive verification report for 10-agent swarm
  docs/VERIFICATION-REPORT-2025-12-27.md
Due: prettier --write

docs: Generate diataxis documentation artifacts for new packages
  packages/diataxis-kit/ARTIFACTS/diataxis/@unrdf/diataxis-kit/diataxis.json
  packages/diataxis-kit/ARTIFACTS/diataxis/@unrdf/governed-substrate/diataxis.json
  packages/diataxis-kit/ARTIFACTS/diataxis/@unrdf/projection/diataxis.json
  packages/diataxis-kit/ARTIFACTS/diataxis/@unrdf/receipts/diataxis.json
  packages/diataxis-kit/ARTIFACTS/diataxis/inventory.json
  packages/diataxis-kit/ARTIFACTS/diataxis/unrdf-workspace/diataxis.json
  packages/diataxis-kit/OUT/@unrdf/diataxis-kit/explanation/explanation.md
  packages/diataxis-kit/OUT/@unrdf/diataxis-kit/tutorials/tutorial-tutorial-getting-started-with-unrdf-diataxis-kit.md
  packages/diataxis-kit/OUT/@unrdf/governed-substrate/explanation/explanation.md
  packages/diataxis-kit/OUT/@unrdf/governed-substrate/how-to/howto-howto-integrate-with-rdf.md
  packages/diataxis-kit/OUT/@unrdf/governed-substrate/how-to/howto-howto-use-the-cli.md
  packages/diataxis-kit/OUT/@unrdf/governed-substrate/index.md
  packages/diataxis-kit/OUT/@unrdf/governed-substrate/reference/reference.md
  packages/diataxis-kit/OUT/@unrdf/governed-substrate/tutorials/tutorial-tutorial-getting-started-with-unrdf-governed-substrate.md
  packages/diataxis-kit/OUT/@unrdf/projection/explanation/explanation.md
  packages/diataxis-kit/OUT/@unrdf/projection/how-to/howto-howto-integrate-with-documentation.md
  packages/diataxis-kit/OUT/@unrdf/projection/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/@unrdf/projection/index.md
  packages/diataxis-kit/OUT/@unrdf/projection/reference/reference.md
  packages/diataxis-kit/OUT/@unrdf/projection/tutorials/tutorial-tutorial-getting-started-with-unrdf-projection.md
  packages/diataxis-kit/OUT/@unrdf/receipts/explanation/explanation.md
  packages/diataxis-kit/OUT/@unrdf/receipts/how-to/howto-howto-troubleshoot-common-issues.md
  packages/diataxis-kit/OUT/@unrdf/receipts/how-to/howto-howto-use-unrdf-receipts.md
  packages/diataxis-kit/OUT/@unrdf/receipts/index.md
  packages/diataxis-kit/OUT/@unrdf/receipts/reference/reference.md
  packages/diataxis-kit/OUT/@unrdf/receipts/tutorials/tutorial-tutorial-getting-started-with-unrdf-receipts.md
Due: prettier --write

feat: Implement deterministic CLI extension registry (@unrdf/kgc-cli)
  packages/kgc-cli/IMPLEMENTATION.md
  packages/kgc-cli/README.md
  packages/kgc-cli/package.json
  packages/kgc-cli/src/cli.mjs
  packages/kgc-cli/src/extensions/blockchain.mjs
  packages/kgc-cli/src/extensions/caching.mjs
  packages/kgc-cli/src/extensions/federation.mjs
  packages/kgc-cli/src/extensions/hooks.mjs
  packages/kgc-cli/src/extensions/kgc-4d.mjs
  packages/kgc-cli/src/extensions/knowledge-engine.mjs
  packages/kgc-cli/src/extensions/ml-inference.mjs
  packages/kgc-cli/src/extensions/ml-versioning.mjs
  packages/kgc-cli/src/extensions/observability.mjs
  packages/kgc-cli/src/extensions/oxigraph.mjs
  packages/kgc-cli/src/extensions/semantic-search.mjs
  packages/kgc-cli/src/extensions/streaming.mjs
  packages/kgc-cli/src/extensions/yawl-observability.mjs
  packages/kgc-cli/src/extensions/yawl.mjs
  packages/kgc-cli/src/index.mjs
  packages/kgc-cli/src/lib/registry.mjs
  packages/kgc-cli/src/manifest/extensions.mjs
  packages/kgc-cli/test/manifest.test.mjs
  packages/kgc-cli/test/registry.test.mjs
  packages/kgc-cli/test/smoke.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: Add auto-merge preparation summary for 10-agent swarm
  AUTO-MERGE-READY.md
Due: prettier --write

chore: Update swarm metrics and memory after all-agent merge completion
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

feat(kgc-cli): Complete 47-package extension manifest with deterministic load order
  packages/kgc-cli/MANIFEST-STATUS.md
  packages/kgc-cli/src/manifest/extensions.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(exploration): Complete UNRDF substrate exploration with 10-agent swarm
  exploration/README.md
  exploration/agents/agent-1/README.md
  exploration/agents/agent-1/index.mjs
  exploration/agents/agent-1/notes.md
  exploration/agents/agent-2/README.md
  exploration/agents/agent-2/evidence.json
  exploration/agents/agent-2/index.mjs
  exploration/agents/agent-2/notes.md
  exploration/agents/agent-3/README.md
  exploration/agents/agent-3/index.mjs
  exploration/agents/agent-3/notes.md
  exploration/agents/agent-3/sparql-explorer-results.json
  exploration/agents/agent-4/README.md
  exploration/agents/agent-4/index.mjs
  exploration/agents/agent-4/notes.md
  exploration/agents/agent-4/package.json
  exploration/agents/agent-5/MISSION_COMPLETE.txt
  exploration/agents/agent-5/README.md
  exploration/agents/agent-5/index.mjs
  exploration/agents/agent-5/notes.md
  exploration/agents/agent-6/PROOF.md
  exploration/agents/agent-6/README.md
  exploration/agents/agent-6/index.mjs
  exploration/agents/agent-6/notes.md
  exploration/agents/agent-7/README.md
  exploration/agents/agent-7/index.mjs
  exploration/agents/agent-7/notes.md
  exploration/agents/agent-8/EXECUTION-SUMMARY.md
  exploration/agents/agent-8/PROOF-OF-EXECUTION.txt
  exploration/agents/agent-8/README.md
  exploration/agents/agent-8/browser-safe-rdf.mjs
  exploration/agents/agent-8/index.mjs
  exploration/agents/agent-8/notes.md
  exploration/agents/agent-8/runtime-analysis.json
  exploration/agents/agent-8/test-browser-safe.mjs
  exploration/capability-map.json
  exploration/spine/index.mjs
  exploration/substrate-demo/README.md
  exploration/substrate-demo/index.mjs
  exploration/substrate-demo/result-report.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Create PhD-thesis LaTeX documentation of @unrdf ecosystem
  thesis/README.md
  thesis/main.tex
  thesis/packages/DISCOVERY-SUMMARY.md
  thesis/packages/agent_10_packages.tex
  thesis/packages/agent_3_packages.tex
  thesis/packages/agent_4_packages.tex
  thesis/packages/agent_5_packages.tex
  thesis/packages/agent_6_packages.tex
  thesis/packages/agent_7_packages.tex
  thesis/packages/agent_8_packages.tex
  thesis/packages/agent_9_packages.tex
  thesis/packages/generate-index-tex.mjs
  thesis/packages/index.json
  thesis/packages/index.tex
  thesis/preamble.tex
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Update exploration demo results and lock files
  exploration/substrate-demo/result-report.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

docs: Document Claude Code web VM environment with empirical fingerprinting
  docs/claude-code-vm-environment.md
  docs/pure-js-latex-constraints.md
Due: prettier --write

chore: Update swarm metrics after merge validation
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
