Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(cli): CLI crashed on startup (undeclared deps, js-yaml), stale [VERSION] placeholders
  packages/cli/package.json
  packages/cli/src/cli/commands/doctor/checks/env.mjs
  packages/cli/src/cli/commands/publish.mjs
  packages/cli/src/cli/commands/telco.mjs
  packages/cli/src/cli/commands/template.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/test/sync/template-renderer.test.mjs
  packages/cli/test/sync/templates.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(daemon,consensus): undo version-sweep damage; verifyProof returns false for tampered proofs
  packages/consensus/src/transport/websocket-transport.mjs
  packages/daemon/examples/03-event-sourcing.mjs
  packages/daemon/examples/07-rate-limiting.mjs
  packages/daemon/examples/07-security-hardening.mjs
  packages/daemon/src/integrations/kgc-4d-sourcing.mjs
  packages/daemon/src/mcp/tests/mcp.test.mjs
  packages/daemon/src/mcp/tests/open-ontologies.test.mjs
  packages/daemon/test/e2e-ecosystem-composition.test.mjs
  packages/daemon/test/e2e-jtbd.test.mjs
  packages/daemon/test/e2e-kgc-4d-sourcing.test.mjs
  packages/daemon/test/e2e-knowledge-rules.test.mjs
  packages/daemon/test/error-path-validation.test.mjs
  packages/daemon/test/groq-otel-traced.test.mjs
  packages/daemon/test/middleware-rate-limiter.test.mjs
  packages/daemon/test/security-headers.test.mjs
  packages/manufacturing/bin/errc-receipt.mjs
  packages/observability/examples/observability-demo.mjs
  packages/observability/test/custom-events.test.mjs
  packages/otel/scripts/sync-pm4py-otel.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ai-ml-innovations): secure-agg masks cancel, RDP accountant no double count, enforce DP budget before spending
  packages/ai-ml-innovations/src/federated-embeddings.mjs
  packages/ai-ml-innovations/src/privacy-budget.mjs
  packages/ai-ml-innovations/src/secure-aggregation.mjs
  packages/ai-ml-innovations/test/federated-learning.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(consensus): transport start awaits listen, no crash on refused peers, shutdown cannot hang
  packages/consensus/src/raft/raft-coordinator.mjs
  packages/consensus/src/transport/websocket-transport.mjs
  packages/consensus/test/consensus.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(blockchain): calculateGasSavings percentage truncated to integer
  packages/blockchain/src/merkle/merkle-proof-generator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(codegen): property-test generator read Zod v3 internals; sparql-type-generator bugs
  packages/codegen/package.json
  packages/codegen/src/meta-template-engine.mjs
  packages/codegen/src/property-test-generator.mjs
  packages/codegen/src/sparql-type-generator.mjs
  packages/codegen/test/meta-template-engine.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(chatman-equation): schemas accept example ids, shapes.ttl prefixes, test imports, zod range matches lockfile
  packages/chatman-equation/ontology/shapes.ttl
  packages/chatman-equation/package.json
  packages/chatman-equation/src/schemas.mjs
  packages/chatman-equation/test/loader.test.mjs
  packages/chatman-equation/test/ontology.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(kgc-probe): make reporter outputs optional (zod v4), run node:test file under node
  packages/kgc-probe/package.json
  packages/kgc-probe/src/reporter.mjs
  packages/kgc-probe/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(caching): MultiLayerCache store option must be optional (zod v4 z.any() is required)
  packages/caching/src/layers/multi-layer-cache.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ml-inference): load mock runner in streaming pipeline tests
  packages/ml-inference/test/inference.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: stale [VERSION] placeholders, never-run test suites, and thesis-builder result handling
  packages/core/package.json
  packages/core/src/health.mjs
  packages/core/src/metrics.mjs
  packages/core/src/profiling/profiler.mjs
  packages/core/src/utils/storage-utils.mjs
  packages/core/test/health.test.mjs
  packages/core/vitest.config.mjs
  packages/hooks/examples/hooks-marketplace.mjs
  packages/hooks/examples/knowledge-hook-manager-usage.mjs
  packages/hooks/examples/semantic-inference-hook.mjs
  packages/hooks/examples/validate-hooks.mjs
  packages/hooks/src/hooks/ontology-learner.mjs
  packages/hooks/src/hooks/policy-pack.mjs
  packages/hooks/test/admit-hook.test.mjs
  packages/hooks/test/export-entry-points.test.mjs
  packages/hooks/test/knowledge-hook-manager.test.mjs
  packages/hooks/test/ontology-learner.test.mjs
  packages/hooks/test/semantic-inference.test.mjs
  packages/manufacturing/bin/errc-receipt.mjs
  packages/receipts/package.json
  packages/receipts/vitest.config.mjs
  packages/streaming/package.json
  packages/streaming/vitest.config.mjs
  packages/v6-compat/package.json
  packages/v6-compat/vitest.config.mjs
  packages/v6-core/package.json
  packages/v6-core/src/docs/thesis-builder.mjs
  packages/v6-core/src/docs/thesis-builder.schema.mjs
  packages/v6-core/vitest.config.mjs
  packages/validation/test/test.mjs
  packages/validation/test/vitest.config.mjs
  packages/validation/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(fusion): correct kgn relative import in grammar-smoke tests
  packages/fusion/test/grammar-smoke-standalone.mjs
  packages/fusion/test/grammar-smoke.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(test-utils): standalone vitest config, export helpers/fixtures from index
  packages/test-utils/src/index.mjs
  packages/test-utils/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-cli): kgc binary exposed no commands; ecosystem test silently skipped all extensions
  packages/kgc-cli/src/cli.mjs
  packages/kgc-cli/src/extensions/docs.mjs
  packages/kgc-cli/src/extensions/yawl-api.mjs
  packages/kgc-cli/src/lib/registry.mjs
  packages/kgc-cli/test/ecosystem.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(src): regenerate package-exports without [VERSION] placeholders
  src/generated/package-exports.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-4d,kgc-substrate): unify universe graph IRIs so snapshots/commitments cover real state
  packages/kgc-4d/src/store.mjs
  packages/kgc-substrate/src/Allocator.mjs
  packages/kgc-substrate/src/KnowledgeStore.mjs
  packages/kgc-substrate/test/kgc-substrate.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(diataxis-kit): 4 of 7 test files never ran, and report tests failed 10/12
  packages/diataxis-kit/package.json
  packages/diataxis-kit/test/fixtures/test-artifacts/ARTIFACTS/diataxis/@unrdf/test-pkg-1/diataxis.json
  packages/diataxis-kit/test/fixtures/test-artifacts/ARTIFACTS/diataxis/@unrdf/test-pkg-2/diataxis.json
  packages/diataxis-kit/test/fixtures/test-artifacts/ARTIFACTS/diataxis/@unrdf/test-pkg-3/diataxis.json
  packages/diataxis-kit/test/report.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(kgc-4d): time-travel replay was a no-op (vector-clock predicate mismatch, deltas not stored, wrong SPARQL var)
  packages/kgc-4d/src/freeze.mjs
  packages/kgc-4d/src/git.mjs
  packages/kgc-4d/src/store.mjs
  packages/kgc-4d/src/time.mjs
  packages/kgc-4d/test/4d-time-travel-validation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(project-engine): package could not be imported; plan paths could escape outputRoot
  packages/project-engine/package.json
  packages/project-engine/src/fs-scan.mjs
  packages/project-engine/src/golden-structure.mjs
  packages/project-engine/src/materialize-apply.mjs
  packages/project-engine/src/project-diff.mjs
  packages/project-engine/test/materialize-apply.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(kgc-docs): generated changelog linked mangled spec URLs
  packages/kgc-docs/src/changelog-generator.mjs
  packages/kgc-docs/test/kgc-markdown.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(daemon): restore MCP tests deleted without explanation
  packages/daemon/src/mcp/tests/mcp.test.mjs
  packages/daemon/src/mcp/tests/open-ontologies.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-runtime): capsule replay rubber-stamp, hash lookup, OR-Set merge, LRU ties, cascading rollback, saga zod v4
  packages/kgc-runtime/src/atomic-admission.mjs
  packages/kgc-runtime/src/capsule.mjs
  packages/kgc-runtime/src/crdt.mjs
  packages/kgc-runtime/src/materialized-views.mjs
  packages/kgc-runtime/src/saga-orchestrator.mjs
  packages/kgc-runtime/test/capsule.test.mjs
  packages/kgc-runtime/test/freeze-restore.test.mjs
  packages/kgc-runtime/test/materialized-views.test.mjs
  packages/kgc-runtime/test/saga-orchestrator.test.mjs
  packages/kgc-runtime/test/transaction.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-runtime): work-item queries, GraphQL sort, duplicate receipt ids, unrun node:test suites
  packages/kgc-runtime/package.json
  packages/kgc-runtime/src/projections-api.mjs
  packages/kgc-runtime/src/receipt.mjs
  packages/kgc-runtime/src/work-item.mjs
  packages/kgc-runtime/test/fixtures/tool-registry.json
  packages/kgc-runtime/test/projections-docs.test.mjs
  packages/kgc-runtime/test/tool-registry.test.mjs
  packages/kgc-runtime/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(v6-core): align thesis-builder schemas/CONSTRUCT dump/LaTeX root with implementation; fix stale tests
  packages/v6-core/src/docs/latex-generator.mjs
  packages/v6-core/src/docs/thesis-builder.mjs
  packages/v6-core/src/docs/thesis-builder.schema.mjs
  packages/v6-core/test/docs/thesis-builder.test.mjs
  packages/v6-core/test/implementations.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-cli): apply manifest collision overrides so all extensions load
  packages/kgc-cli/src/cli.mjs
  packages/kgc-cli/src/extensions/federation.mjs
  packages/kgc-cli/src/lib/registry.mjs
  packages/kgc-cli/src/manifest/extensions.mjs
  packages/kgc-cli/test/manifest-collisions.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(deps): drop unresolvable @pictl/kernel, declare missing imports, regenerate lockfile
  packages/atomvm/package.json
  packages/chatman-equation/package.json
  packages/cli/package.json
  packages/codegen/package.json
  packages/collab/package.json
  packages/composables/package.json
  packages/core/package.json
  packages/daemon/package.json
  packages/dark-matter/package.json
  packages/decision-fabric/package.json
  packages/fusion/package.json
  packages/hooks/package.json
  packages/kgc-4d/package.json
  packages/kgc-cli/package.json
  packages/kgc-docs/package.json
  packages/kgc-probe/package.json
  packages/kgn/package.json
  packages/knowledge-engine/package.json
  packages/observability/package.json
  packages/project-engine/package.json
  packages/streaming/package.json
  packages/test-utils/package.json
  packages/v6-compat/package.json
  packages/validation/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(daemon): index.mjs re-exported names that did not exist
  packages/daemon/src/index.mjs
  packages/daemon/src/trigger-evaluator.mjs
  packages/daemon/test/index-exports.test.mjs
  scripts/check-package-exports.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(core): export ./utils/lockchain-writer
  packages/core/package.json
Due: prettier --write

test(streaming): make change-feed ring buffer memory test deterministic
  packages/streaming/test/change-feed-ring-buffer.test.mjs
  packages/streaming/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-swarm): add ./transport subpath export
  packages/kgc-swarm/package.json
  packages/kgc-swarm/test/transport-export.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(cli): wire up init command; lazy-load project-engine pipeline
  packages/cli/src/cli/commands/init.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/test/init-command.test.mjs
  packages/daemon/src/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ai-ml-innovations): deterministic federated validation loss and seedable RNG
  packages/ai-ml-innovations/src/federated-embeddings.mjs
  packages/ai-ml-innovations/test/federated-learning.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-swarm): non-canonical receipt/archive hashing, guard bypasses, receipt hash format
  packages/kgc-swarm/package.json
  packages/kgc-swarm/src/canonical.mjs
  packages/kgc-swarm/src/compression.mjs
  packages/kgc-swarm/src/guards.mjs
  packages/kgc-swarm/src/guards.test.mjs
  packages/kgc-swarm/src/index.mjs
  packages/kgc-swarm/src/receipts.mjs
  packages/kgc-swarm/test/arbitraries.mjs
  packages/kgc-swarm/test/compression.property.test.mjs
  packages/kgc-swarm/test/properties.test.mjs
  packages/kgc-swarm/test/receipts.property.test.mjs
  packages/kgc-swarm/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(kgc-swarm): Byzantine node crypto, seeded token generation
  packages/kgc-swarm/src/consensus/byzantine.mjs
  packages/kgc-swarm/src/token-generator.mjs
  packages/kgc-swarm/test/consensus/crdt.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(decision-fabric,kgc-4d): decision engine rejected every intent; jest never matched .mjs tests
  packages/decision-fabric/package.json
  packages/decision-fabric/src/engine.mjs
  packages/kgc-4d/src/core/patterns/hook-registry.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(atomvm): AVM packer wrote a bad trailer and swapped flags; spawn works on the shipped runtime
  packages/atomvm/bin/atomvm-wasm.mjs
  packages/atomvm/docs/explanation/continuum-tiers.md
  packages/atomvm/playground/public/hello_world.avm
  packages/atomvm/public/hello_world.avm
  packages/atomvm/scripts/build-tier-fixtures.mjs
  packages/atomvm/src/avm-packer.mjs
  packages/atomvm/src/erlang/tier_witness.erl
  packages/atomvm/test/continuum/atomvm-runtime-readiness.test.mjs
  packages/atomvm/test/fixtures/erlang/big_ints.erl
  packages/atomvm/test/fixtures/erlang/spawn_workers.erl
  packages/atomvm/test/fixtures/estdlib/README.md
  packages/atomvm/test/fixtures/estdlib/erlang.beam
  packages/atomvm/test/fixtures/programs/big_ints.avm
  packages/atomvm/test/fixtures/programs/crash_now.avm
  packages/atomvm/test/fixtures/programs/loop_forever.avm
  packages/atomvm/test/fixtures/programs/spawn_workers.avm
  packages/atomvm/test/fixtures/programs/spawn_workers_no_stdlib.avm
  packages/atomvm/test/fixtures/tiers/tier_browser.avm
  packages/atomvm/test/fixtures/tiers/tier_cloud.avm
  packages/atomvm/test/fixtures/tiers/tier_edge.avm
  packages/atomvm/test/fixtures/tiers/tier_fog.avm
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: restore underscore-prefixed file names stripped by version-agnostic sweep
  k8s/helm/unrdf-observability/templates/_helpers.tpl
  otel/pm4py-mcp/pm4py_mcp/__init__.py
  packages/cli/templates/config/_templates-directory.njk
  playground/server/routes/api/_auth.mjs
  playground/server/routes/api/data/_shared.mjs
  playground/server/routes/api/hooks/_shared.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgn): injection glob stub, lost concurrent updates, force flag, TS validation, turtle escaping; run src tests
  packages/kgn/src/injection/atomic-writer.js
  packages/kgn/src/injection/injection-engine.js
  packages/kgn/src/injection/target-resolver.js
  packages/kgn/src/injection/validation-engine.js
  packages/kgn/src/rdf/filters.js
  packages/kgn/test/rdf-core-integration.test.js
  packages/kgn/test/rdf-integration.test.js
  packages/kgn/vitest.config.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
