Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: Final metrics sync
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Sync runtime metrics
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Stop tracking runtime metrics files (already in gitignore)
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Update swarm metrics and memory state
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Update session metrics and swarm memory
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

feat(kgc-claude): Implement KGC-SWARM 10-agent calculus system
  packages/kgc-claude/demos/swarm-10-agents.mjs
  packages/kgc-claude/package.json
  packages/kgc-claude/src/agent-harness.mjs
  packages/kgc-claude/src/budget-enforcer.mjs
  packages/kgc-claude/src/drift-detector.mjs
  packages/kgc-claude/src/index.mjs
  packages/kgc-claude/src/info-scheduler.mjs
  packages/kgc-claude/src/observable-io.mjs
  packages/kgc-claude/src/poka-yoke-guards.mjs
  packages/kgc-claude/src/receipt-compositor.mjs
  packages/kgc-claude/src/swarm-orchestrator.mjs
  packages/kgc-claude/test/poka-yoke-guards.test.mjs
  packages/kgc-claude/test/receipt-compositor.test.mjs
  packages/kgc-claude/test/swarm-orchestrator.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Update lockfile
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  packages/kgc-cli/src/cli.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Update swarm metrics
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Sync metrics state
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Ignore dynamic metrics files
  .gitignore
Due: none

chore: Remove tracked dynamic files
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

feat(v6): 10-agent KGC-SWARM completion - P0+P1 architecture delivery
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  V6-SWARM-SYNTHESIS-REPORT.md
Due: prettier --write

feat: Implement KGC-SWARM system with 10 hyper-advanced agents
  docs/architecture/kgc-swarm-architecture.md
  docs/kgc-swarm/formal-specification.md
  docs/kgc-swarm/implementation-notes.md
  docs/kgc-swarm/user-guide.md
  packages/kgc-swarm/CONVERGENCE.md
  packages/kgc-swarm/INTEGRATION.md
  packages/kgc-swarm/MIGRATION.md
  packages/kgc-swarm/ORCHESTRATOR-IMPLEMENTATION.md
  packages/kgc-swarm/README.md
  packages/kgc-swarm/REVIEW.md
  packages/kgc-swarm/demo-receipts.mjs
  packages/kgc-swarm/examples/convergence-demo.mjs
  packages/kgc-swarm/examples/orchestrator-demo.mjs
  packages/kgc-swarm/examples/template-integration.mjs
  packages/kgc-swarm/package.json
  packages/kgc-swarm/src/compression.mjs
  packages/kgc-swarm/src/compression.test.mjs
  packages/kgc-swarm/src/convergence.mjs
  packages/kgc-swarm/src/convergence.test.mjs
  packages/kgc-swarm/src/guards.mjs
  packages/kgc-swarm/src/guards.test.mjs
  packages/kgc-swarm/src/index.mjs
  packages/kgc-swarm/src/metrics.mjs
  packages/kgc-swarm/src/orchestrator.mjs
  packages/kgc-swarm/src/receipts.mjs
  packages/kgc-swarm/src/receipts.test.mjs
  packages/kgc-swarm/src/token-generator.mjs
  packages/kgc-swarm/test/e2e.test.mjs
  packages/kgc-swarm/test/integration.test.mjs
  packages/kgc-swarm/test/orchestrator.test.mjs
  packages/kgc-swarm/test/properties.test.mjs
  packages/kgc-swarm/test/token-generator.test.mjs
  packages/kgc-swarm/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Update swarm metrics and memory after 10-agent completion
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

chore: Update session metrics and dependencies
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  packages/kgc-cli/src/cli.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Update metrics after awaiting user direction on next swarm task
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

feat: 10-agent swarm delivers narrative-state-chain hyper-advanced capabilities
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  BENCHMARK-SUMMARY.txt
  POKA-YOKE-DELIVERABLES.md
  POKA-YOKE-EXECUTION-SUMMARY.md
  TEST-DELIVERY-REPORT.md
  docs/narrative-state-chain/STRUCTURE.md
  docs/narrative-state-chain/explanation/README.md
  docs/narrative-state-chain/how-to/README.md
  docs/narrative-state-chain/reference/README.md
  docs/narrative-state-chain/tutorial/README.md
  packages/kgc-4d/src/guards/assert-invariant.mjs
  packages/kgc-4d/src/guards/compose.mjs
  packages/kgc-4d/src/guards/permission-guard.mjs
  packages/kgc-4d/src/schemas/delta-schema.mjs
  proofs/poka-yoke-guard-composition.test.mjs
  proofs/poka-yoke-permission-guard.test.mjs
  proofs/poka-yoke-sealed-universe.test.mjs
  proofs/poka-yoke-zod-delta.test.mjs
  src/narrative-state-chain/README.md
  test/narrative-state-chain/ARCHITECTURE.md
  test/narrative-state-chain/README.md
  test/narrative-state-chain/TEST-SUMMARY.md
  test/narrative-state-chain/adversarial/tampering.adversarial.mjs
  test/narrative-state-chain/package.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat: Implement UNRDF Multiverse Phase 1-2 (Core + Receipts)
  packages/kgc-multiverse/eslint.config.mjs
  packages/kgc-multiverse/examples/canary-test.mjs
  packages/kgc-multiverse/examples/proof-100-universes.mjs
  packages/kgc-multiverse/package.json
  packages/kgc-multiverse/src/guards.mjs
  packages/kgc-multiverse/src/index.mjs
  packages/kgc-multiverse/src/morphism.mjs
  packages/kgc-multiverse/src/schema-morphism.mjs
  packages/kgc-multiverse/src/universe-manager.mjs
  packages/kgc-multiverse/test/guards.test.mjs
  packages/kgc-multiverse/test/morphism.test.mjs
  packages/kgc-multiverse/test/universe-manager.test.mjs
  packages/kgc-multiverse/vitest.config.mjs
  packages/receipts/eslint.config.mjs
  packages/receipts/package.json
  packages/receipts/src/batch-receipt-generator.mjs
  packages/receipts/src/index.mjs
  packages/receipts/src/merkle-batcher.mjs
  packages/receipts/test/batch-receipt-generator.test.mjs
  packages/receipts/test/merkle-batcher.test.mjs
  packages/receipts/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: Final metrics sync after hyper-advanced capabilities deployment
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

feat: Implement UNRDF Multiverse Phase 1-2 (Core + Receipts) - 10-Agent Swarm
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  docs/poka-yoke-multiverse-specification.md
  pnpm-lock.yaml
Due: prettier --write

chore: Update metrics and memory after 10-agent research completion
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

fix(kgc-claude): Fix governance and policy enforcer pattern matching
  packages/kgc-claude/src/capabilities/governance-engine.mjs
  packages/kgc-claude/src/capabilities/hook-composition.mjs
  packages/kgc-claude/src/capabilities/policy-enforcer.mjs
  packages/kgc-claude/test/capabilities/governance-poc.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix
