Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(dashboards): restore Grafana queries/thresholds corrupted by version-agnostic sweep
  dashboards/02-validation-metrics.json
  dashboards/03-andon-signals.json
  dashboards/04-kgc-governance.json
  dashboards/05-performance.json
Due: prettier --write

feat(otel): enforce swarm admission before OCEL construction
  packages/otel/src/ocel/git-swarm.mjs
  packages/otel/test/ocel/fixtures/admission/missing-branch.json
  packages/otel/test/ocel/fixtures/admission/missing-repository.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(otel): cover fail-closed swarm runtime admission
  packages/otel/test/ocel/git-swarm.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: restore fixtures/defaults corrupted by [VERSION] sanitization (daemon, federation, observability, event-automation)
  packages/daemon/src/daemon.mjs
  packages/daemon/src/integrations/otel-sdk.mjs
  packages/daemon/src/mcp.mjs
  packages/daemon/src/mcp/index.mjs
  packages/daemon/src/mcp/open-ontologies-registry.mjs
  packages/daemon/src/middleware/rate-limiter.mjs
  packages/daemon/test/e2e-ecosystem-composition.test.mjs
  packages/daemon/test/e2e-jtbd.test.mjs
  packages/daemon/test/e2e-knowledge-rules.test.mjs
  packages/daemon/test/error-path-validation.test.mjs
  packages/daemon/test/groq-otel-traced.test.mjs
  packages/daemon/test/middleware-rate-limiter.test.mjs
  packages/daemon/test/security-headers.test.mjs
  packages/event-automation/src/index.mjs
  packages/federation/src/federation/distributed-query.mjs
  packages/federation/src/federation/health.mjs
  packages/federation/src/federation/peer-manager.mjs
  packages/federation/src/index.mjs
  packages/federation/test/health.test.mjs
  packages/observability/src/advanced-metrics.mjs
  packages/observability/test/custom-events.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(knowledge-engine): restore missing modules so package imports and tests pass
  dashboards/02-validation-metrics.json
  dashboards/03-andon-signals.json
  dashboards/04-kgc-governance.json
  dashboards/05-performance.json
  packages/knowledge-engine/package.json
  packages/knowledge-engine/src/advanced-schemas.mjs
  packages/knowledge-engine/src/canonicalize.mjs
  packages/knowledge-engine/src/condition-evaluator.mjs
  packages/knowledge-engine/src/config-schemas.mjs
  packages/knowledge-engine/src/define-hook.mjs
  packages/knowledge-engine/src/effect-sandbox.mjs
  packages/knowledge-engine/src/file-resolver.mjs
  packages/knowledge-engine/src/hook-executor.mjs
  packages/knowledge-engine/src/hook-management.mjs
  packages/knowledge-engine/src/hook-schemas.mjs
  packages/knowledge-engine/src/index.mjs
  packages/knowledge-engine/src/knowledge-substrate-core.mjs
  packages/knowledge-engine/src/lockchain-writer-browser.mjs
  packages/knowledge-engine/src/lockchain-writer.mjs
  packages/knowledge-engine/src/observability-schemas.mjs
  packages/knowledge-engine/src/parse.mjs
  packages/knowledge-engine/src/performance-optimizer.mjs
  packages/knowledge-engine/src/policy-pack.mjs
  packages/knowledge-engine/src/query-cache.mjs
  packages/knowledge-engine/src/query.mjs
  packages/knowledge-engine/src/reason.mjs
  packages/knowledge-engine/src/schemas.mjs
  packages/knowledge-engine/src/security-validator.mjs
  packages/knowledge-engine/src/security/error-sanitizer.mjs
  packages/knowledge-engine/src/security/path-validator.mjs
  packages/knowledge-engine/src/security/sandbox-restrictions.mjs
  packages/knowledge-engine/src/transaction-schemas.mjs
  packages/knowledge-engine/src/transaction.mjs
  packages/knowledge-engine/src/validate.mjs
  packages/knowledge-engine/src/validation-functions.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(root): repair monorepo-admission/universe tests and break workspace dependency cycles
  packages/oxigraph/package.json
  packages/receipts/package.json
  packages/v6-core/package.json
  packages/v6-core/src/store-receipts.mjs
  packages/v6-core/test/oxigraph-determinism.test.mjs
  pnpm-lock.yaml
  src/knowledge-engine/validators/index.mjs
  src/monorepo-admission/monorepo-admission-engine.mjs
  src/monorepo-admission/monorepo-admission.test.mjs
  src/monorepo-admission/monorepo-universe.mjs
  src/monorepo-admission/run-tests.mjs
  src/receipts/receipt-verification.mjs
  src/universe/monorepo-universe.test.mjs
  src/universe/ontology-release.mjs
  src/universe/package-rdf-model.mjs
  src/universe/universe.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(fusion): replace removed @unrdf/yawl receipts, split node:test runner, fix API drift
  packages/fusion/package.json
  packages/fusion/src/index.mjs
  packages/fusion/src/policy-engine.mjs
  packages/fusion/src/resource-manager.mjs
  packages/fusion/src/resource-receipt.mjs
  packages/fusion/test/api-layer.test.mjs
  packages/fusion/test/grammar-smoke-standalone.mjs
  packages/fusion/test/grammar-smoke.test.mjs
  packages/fusion/test/policy-engine.test.mjs
  packages/fusion/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(federation): conform spans to p2-otel-tracing rules; fix bypass TDZ/double-end; run node:test file via node
  packages/daemon/package.json
  packages/daemon/test/mcp/mcp.test.mjs
  packages/daemon/test/mcp/open-ontologies.test.mjs
  packages/federation/package.json
  packages/federation/src/federation/consensus-manager.mjs
  packages/federation/src/federation/coordinator.mjs
  packages/federation/src/federation/data-replication.mjs
  packages/federation/src/federation/distributed-query-engine.mjs
  packages/federation/src/federation/federation-coordinator.mjs
  packages/federation/src/federation/peer-manager.mjs
  packages/federation/src/federation/tracing.mjs
  packages/federation/src/ml/predictor.mjs
  packages/federation/test/otel-spans.test.mjs
  packages/federation/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(ml-versioning): do not import native tfjs-node at module load
  packages/ml-versioning/package.json
  packages/ml-versioning/src/examples/image-classifier.mjs
  packages/ml-versioning/src/tf.mjs
  packages/ml-versioning/src/version-store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix: rule-compliance fixes in caching, blockchain, ml-inference, rdf-graphql, chatman-equation, pictl-semantics
  packages/blockchain/src/merkle/merkle-proof-generator.mjs
  packages/caching/src/layers/multi-layer-cache.mjs
  packages/chatman-equation/config/examples.toml
  packages/chatman-equation/ontology/shapes.ttl
  packages/chatman-equation/package.json
  packages/chatman-equation/src/condition-evaluator.mjs
  packages/chatman-equation/src/mu-transform.mjs
  packages/chatman-equation/src/operators.mjs
  packages/chatman-equation/src/schemas.mjs
  packages/chatman-equation/src/simple-schemas.mjs
  packages/chatman-equation/test/loader.test.mjs
  packages/chatman-equation/test/mu-emit.test.mjs
  packages/chatman-equation/test/ontology.test.mjs
  packages/chatman-equation/test/operators.test.mjs
  packages/chatman-equation/test/schemas.test.mjs
  packages/chatman-equation/validation/validate-toml.mjs
  packages/ml-inference/test/inference.test.mjs
  packages/pictl-semantics/src/result-validator.mjs
  packages/pictl-semantics/test/validation.test.mjs
  packages/rdf-graphql/src/adapter.mjs
  packages/rdf-graphql/src/query-builder.mjs
  packages/rdf-graphql/src/resolver.mjs
  packages/rdf-graphql/src/schema-generator.mjs
  packages/rdf-graphql/test/injection.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

test(daemon): fix stale kgc-4d/consensus tests, run MCP tests under vitest include, assert 15 onto_* tools
  packages/daemon/test/e2e-consensus-integration.test.mjs
  packages/daemon/test/e2e-kgc-4d-sourcing.test.mjs
  packages/daemon/test/mcp/mcp.test.mjs
  packages/daemon/test/mcp/onto-tool-registration.test.mjs
  packages/daemon/test/mcp/open-ontologies.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(project-engine,cli): port init pipeline; fix codegen/serverless/cli test failures
  packages/cli/package.json
  packages/cli/src/cli/commands/template.mjs
  packages/cli/src/cli/main.mjs
  packages/cli/test/commands/init.test.mjs
  packages/cli/test/fixtures/run-init.mjs
  packages/cli/test/sync/template-renderer.test.mjs
  packages/cli/test/sync/templates.test.mjs
  packages/codegen/package.json
  packages/codegen/src/meta-template-engine.mjs
  packages/codegen/src/property-test-generator.mjs
  packages/codegen/src/sparql-type-generator.mjs
  packages/codegen/test/meta-template-engine.test.mjs
  packages/project-engine/package.json
  packages/project-engine/src/file-roles.mjs
  packages/project-engine/src/fs-scan.mjs
  packages/project-engine/src/golden-structure.mjs
  packages/project-engine/src/index.mjs
  packages/project-engine/src/initialize.mjs
  packages/project-engine/src/lens/project-structure.mjs
  packages/project-engine/src/namespaces.mjs
  packages/project-engine/src/project-diff.mjs
  packages/project-engine/src/project-model.mjs
  packages/project-engine/src/stack-detect.mjs
  packages/project-engine/test/initialize.test.mjs
  packages/serverless/package.json
  packages/serverless/src/deploy/lambda-bundler.mjs
  packages/serverless/test/lambda-bundler.test.mjs
  packages/serverless/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(privacy): make @unrdf/privacy a real package
  packages/privacy/package.json
  packages/privacy/src/differential-privacy-sparql.mjs
  packages/privacy/test/privacy.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(consensus,observability): transport errors no longer crash process; state.peers is membership; stop reconnect timers on shutdown; de-flake memory test
  packages/consensus/src/raft/raft-coordinator.mjs
  packages/consensus/src/transport/websocket-transport.mjs
  packages/consensus/test/consensus.test.mjs
  packages/observability/test/custom-events.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(daemon): explicit precondition for tests requiring the open-ontologies binary
  packages/daemon/test/adversarial-resilience.test.mjs
  packages/daemon/test/chaos-resilience.test.mjs
  packages/daemon/test/e2e-open-ontologies-full-lifecycle.test.mjs
  packages/daemon/test/e2e-powlv2-maximalist.test.mjs
  packages/daemon/test/helpers/open-ontologies-precondition.mjs
  packages/daemon/test/powlv2-open-ontologies.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(kgc-swarm): remove flaky perf threshold and invalid timestamp 0; dedupe canonicalization
  packages/kgc-swarm/src/compression.mjs
  packages/kgc-swarm/test/edge-cases.generative.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-4d): now() returned uptime, not epoch time; spurious first-call clock-jump warning
  packages/kgc-4d/src/time.mjs
  packages/kgc-4d/test/doctest-infrastructure.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: undo stray exec-bit change on packages/manufacturing/bin/errc-receipt.mjs (accidentally included in ddad501a; out of scope)
  packages/manufacturing/bin/errc-receipt.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(atomvm): read_priv packing, fast wasm exit, JS-packer fallback in build, CI install
  .github/workflows/atomvm-continuum.yml
  packages/atomvm/bin/atomvm-wasm.mjs
  packages/atomvm/docs/explanation/continuum-tiers.md
  packages/atomvm/playground/scripts/build.mjs
  packages/atomvm/scripts/build-tier-fixtures.mjs
  packages/atomvm/scripts/build.mjs
  packages/atomvm/scripts/pack-beam.mjs
  packages/atomvm/src/avm-packer.mjs
  packages/atomvm/test/continuum/atomvm-runtime-readiness.test.mjs
  packages/atomvm/test/continuum/build-pack-fallback.test.mjs
  packages/atomvm/test/fixtures/erlang/read_priv.erl
  packages/atomvm/test/fixtures/programs/read_priv.avm
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(daemon): ONTO_BINARY honors OPEN_ONTOLOGIES_PATH shared with sidecar/semantic-bridge
  packages/daemon/src/mcp/open-ontologies-registry.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test+fix: add real tests for composables, dark-matter, pictl-algorithms, react; fix bugs they exposed
  .claude/rules/scoped/p0-rdf-imports.md
  .claude/rules/scoped/p1-zod-schemas.md
  packages/composables/package.json
  packages/composables/src/context/index.mjs
  packages/composables/test/composables.test.mjs
  packages/dark-matter/package.json
  packages/dark-matter/src/dark-matter/query-analyzer.mjs
  packages/dark-matter/src/index.mjs
  packages/dark-matter/test/query-analyzer.test.mjs
  packages/integration-tests/test/chains/hooks.chain.test.mjs
  packages/kgc-4d-playground/app/api/sparql/route.js
  packages/kgc-4d-playground/lib/server/sparql-bind.mjs
  packages/kgc-4d-playground/lib/server/sparql-bind.test.mjs
  packages/pictl-algorithms/package.json
  packages/pictl-algorithms/src/index.mjs
  packages/pictl-algorithms/src/pictl-wrapper.mjs
  packages/pictl-algorithms/test/pictl-wrapper.test.mjs
  packages/pictl-semantics/package.json
  packages/pictl-semantics/src/ontology-loader.mjs
  packages/pictl-semantics/test/ontology.test.mjs
  packages/react/package.json
  packages/react/src/ai-semantic/index.mjs
  packages/react/src/ai-semantic/semantic-analyzer.mjs
  packages/react/src/index.mjs
  packages/react/test/semantic-analyzer.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(streaming,core,v6-compat,receipts): collect node:test suites via node --test; O(1) change-feed eviction
  packages/core/package.json
  packages/core/vitest.config.mjs
  packages/receipts/package.json
  packages/receipts/vitest.config.mjs
  packages/streaming/package.json
  packages/streaming/src/streaming/change-feed.mjs
  packages/streaming/vitest.config.mjs
  packages/v6-compat/package.json
  packages/v6-compat/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(hooks): restore semver fixtures scrubbed to [VERSION]; declare n3 devDependency
  packages/hooks/examples/hooks-marketplace.mjs
  packages/hooks/examples/knowledge-hook-manager-usage.mjs
  packages/hooks/examples/semantic-inference-hook.mjs
  packages/hooks/examples/validate-hooks.mjs
  packages/hooks/package.json
  packages/hooks/src/hooks/policy-pack.mjs
  packages/hooks/test/admit-hook.test.mjs
  packages/hooks/test/condition-cache.test.mjs
  packages/hooks/test/export-entry-points.test.mjs
  packages/hooks/test/knowledge-hook-manager.test.mjs
  packages/hooks/test/semantic-inference.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(validation): make test:fast actually collect its suite (wrong filename/import path, stale fixtures)
  packages/validation/package.json
  packages/validation/test/validation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(v6-core): split vitest/node:test suites, fix docs pipeline (dump graph, latex documentclass, template/schema contract), declare vitest
  packages/v6-core/package.json
  packages/v6-core/src/docs/latex-generator.mjs
  packages/v6-core/src/docs/thesis-builder.mjs
  packages/v6-core/src/docs/thesis-builder.schema.mjs
  packages/v6-core/test/docs/thesis-builder.test.mjs
  packages/v6-core/test/implementations.test.mjs
  packages/v6-core/vitest.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(ai-ml-innovations): correct privacy accounting, pairwise secure-agg masks, seedable RNG, real loss
  packages/ai-ml-innovations/src/dp-mechanism.mjs
  packages/ai-ml-innovations/src/federated-embeddings.mjs
  packages/ai-ml-innovations/src/privacy-budget.mjs
  packages/ai-ml-innovations/src/rng.mjs
  packages/ai-ml-innovations/src/schemas.mjs
  packages/ai-ml-innovations/src/secure-aggregation.mjs
  packages/ai-ml-innovations/test/federated-learning.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(prototypes): make the three prototypes run and produce correct results
  prototypes/01-temporal-sparql.mjs
  prototypes/02-materialized-views.mjs
  prototypes/03-federated-inference.mjs
  prototypes/demo-store.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(examples): replace dangling @unrdf/yawl and federation APIs in project examples
  examples/blockchain-audit/src/audit-trail.mjs
  examples/blockchain-audit/test/tamper.test.mjs
  examples/distributed-orchestration/src/monitoring-dashboard.mjs
  examples/distributed-orchestration/src/orchestrator.mjs
  examples/distributed-orchestration/src/transport.mjs
  examples/distributed-orchestration/src/worker-node.mjs
  examples/distributed-orchestration/test/e2e.test.mjs
  examples/distributed-orchestration/test/integration.test.mjs
  examples/graphql-gateway/src/server.mjs
  examples/lib/workflow-engine.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(examples): repair stale imports and underscore-mangled import names in demo scripts
  examples/FIBO-CASE-STUDY-INDEX.md
  examples/comprehensive-feature-test.mjs
  examples/debug-context.mjs
  examples/define-hook-example.mjs
  examples/git-hooks-lifecycle.mjs
  examples/git-knowledge-hooks-integration.mjs
  examples/htf-thesis-example.mjs
  examples/ken-git.mjs
  examples/ken-swarm.mjs
  examples/knowledge-engine-example.mjs
  examples/lockchain-dark-matter-test.mjs
  examples/lockchain-demo.mjs
  examples/lockchain-validation-test.mjs
  examples/minimal-core-example.mjs
  examples/production-hook-test.mjs
  examples/profiling-example.mjs
  examples/rdf-kgn/data/sample-ontology.ttl
  examples/rdfengine-context-example.mjs
  examples/real-system-test.mjs
  examples/sidecar-client-example.mjs
  examples/single-store-demo.mjs
  examples/test-async-jsonld.mjs
  examples/unrdf-init-pipeline.mjs
  examples/validate-new-features.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(research): make research prototypes and workflow example run
  research/prototypes/compliance-receipt-framework.mjs
  research/prototypes/consensus-governance.mjs
  research/prototypes/temporal-policy-engine.mjs
  research/workflow-pattern-example.mjs
  research/workflow-pattern-implementations.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(root src): multi-swarm retry/queue/aggregation, receipt emission serialization, admission schema leniency
  src/admission/delta-capsule.mjs
  src/multi-swarm/queen.mjs
  src/multi-swarm/tests/coordination.test.mjs
  src/multi-swarm/tests/queen.test.mjs
  src/multi-swarm/worker-swarm.mjs
  src/narrative-state-chain/types.mjs
  src/receipts/receipt-generator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(profiling): repoint mega framework test, drop hardcoded checkout paths
  profiling/.gitignore
  profiling/mega-framework-load-test.mjs
  profiling/run-all-profiling.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(beta-test): harness paths, valid results JSON, honest unit-test gate
  beta-test/.gitignore
  beta-test/beta-readiness-validation.sh
  beta-test/beta-test-harness.sh
Due: none

fix(examples): valid hook hashes, streaming paths, openapi config name, declare deps
  examples/dark-matter-80-20.mjs
  examples/define-hook-example.mjs
  examples/hook-lifecycle-test.mjs
  examples/openapi/verify.mjs
  examples/package.json
  examples/policy-pack-demo.mjs
  examples/policy-pack-usage.mjs
  examples/streaming/basic-subscription.mjs
  examples/streaming/change-feed-integration.mjs
  examples/streaming/real-time-validation.mjs
  examples/streaming/stream-processing-pipeline.mjs
  examples/test-utils-demo.mjs
  examples/validate-new-features.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(sidecar): cron patterns no longer terminate JSDoc block comments in task files
  sidecar/server/tasks/health/self-heal.mjs
  sidecar/server/tasks/hooks/evaluate-periodic.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(test-utils,receipts,ai-ml,root): make test:fast reach every suite; export helpers; root test:root; orchestration/compression fixes
  package.json
  packages/ai-ml-innovations/package.json
  packages/receipts/package.json
  packages/test-utils/package.json
  packages/test-utils/src/index.mjs
  packages/test-utils/vitest.config.mjs
  src/compression/adaptive-selector.mjs
  src/compression/semantic-compressor.mjs
  src/orchestration/agent-router.mjs
  src/orchestration/parallel-orchestrator.mjs
  src/universe/partition.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(kgn): render SHACL templates with nested for/if blocks and whitespace control
  packages/kgn/src/base/shacl-templates.js
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs(sidecar): restore version literals clobbered by the [VERSION] sweep
  sidecar/README.md
  sidecar/docs/architecture-design.md
  sidecar/test/IMPLEMENTATION-COMPLETE.md
  sidecar/test/PERFORMANCE-VALIDATION-REPORT.md
Due: prettier --write

test(sidecar): add runnable unit suite (syntax, schemas, middleware, client) with #imports stub
  sidecar/test/mocks/nitro-imports.mjs
  sidecar/test/unit/client.test.mjs
  sidecar/test/unit/middleware.test.mjs
  sidecar/test/unit/schemas.test.mjs
  sidecar/test/unit/syntax.test.mjs
  sidecar/vitest.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
