Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(atomvm): generate successful AtomVM entrypoint
  packages/atomvm/scripts/build.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(atomvm): bind runtime success and source identity
  .github/workflows/atomvm-runtime-alive.yml
Due: prettier --write

fix(atomvm): canonicalize RDF federation links
  packages/atomvm/src/swarm-cluster.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(atomvm): preserve unique OCEL object identities
  packages/atomvm/src/innovation-checkpoints.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(atomvm): build dependency-closed runtime targets
  .github/workflows/atomvm-runtime-alive.yml
Due: prettier --write

fix(atomvm): use real Generic UNIX runtime in Node
  packages/atomvm/src/node-runtime.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(atomvm): make native Node runtime self-contained
  packages/atomvm/src/node-runtime.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(atomvm): remove stale native runtime import
  packages/atomvm/src/node-runtime.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci(atomvm): verify public Node runtime against built VM
  .github/workflows/atomvm-runtime-alive.yml
Due: prettier --write

docs(atomvm): document built runtime and swarm scope
  packages/atomvm/README.md
Due: prettier --write

docs(atomvm): bind architecture to real runtime evidence
  packages/atomvm/docs/explanation/federated-swarm-control-plane.md
Due: prettier --write

chore(atomvm): expose OTP pattern validation entrypoints
  packages/atomvm/package.json
Due: prettier --write

test(atomvm): remove London-style doubles package-wide
  packages/atomvm/test/atomvm-runtime.test.mjs
  packages/atomvm/test/hooks-bridge.test.mjs
  packages/atomvm/test/hot-code-loader-policies.test.mjs
  packages/atomvm/test/hot-code-loader.test.mjs
  packages/atomvm/test/service-worker-manager.test.mjs
  packages/atomvm/test/terminal-ui.test.mjs
  packages/atomvm/test/vm-e2e.test.mjs
  packages/atomvm/test/vm-facade.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): validate policy packs with canonical IRIs
  packages/atomvm/test/hot-code-loader-policies.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): bind one-for-one book projection and no-skip Chicago proof
  .github/workflows/atomvm-runtime-alive.yml
  packages/atomvm/books/atomvm-patterns/pattern-manifest.mjs
  packages/atomvm/package.json
  packages/atomvm/scripts/verify-chicago-tdd.mjs
  packages/atomvm/scripts/verify-pattern-book.mjs
  packages/atomvm/test/process-broker.test.mjs
  packages/atomvm/test/vm-e2e.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(atomvm): add Armstrong process kernel and failure laws
  .github/workflows/atomvm-armstrong-alive.yml
  packages/atomvm/books/atomvm-patterns/src/SUMMARY.md
  packages/atomvm/books/atomvm-patterns/src/joe-armstrong-standard.md
  packages/atomvm/examples/erlang/armstrong_kernel_probe.erl
  packages/atomvm/scripts/verify-armstrong-kernel.mjs
  packages/atomvm/src/otp/index.mjs
  packages/atomvm/src/otp/links.mjs
  packages/atomvm/src/otp/proc.mjs
  packages/atomvm/src/otp/references.mjs
  packages/atomvm/src/otp/values.mjs
  packages/atomvm/test/armstrong-kernel-chicago.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(multiverse): admit explicit manual resolutions
  packages/kgc-4d-playground/app/api/multiverse/merge/route.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(multiverse): implement three-way manual merge
  packages/kgc-4d-playground/lib/server/multiverse.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(multiverse): prove automatic and manual merge laws
  packages/kgc-4d-playground/lib/server/multiverse.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

feat(audit): add executable repository WIP receipt
  scripts/audit-wip.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): derive quality standing from execution receipts
  packages/daemon/test/verify-integration-quality.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(swarm): prove CRDT transport and completion laws
  packages/kgc-swarm/test/consensus/distributed-orchestrator.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(daemon): remove superseded benchmark placeholder
  packages/daemon/benchmarks/placeholder.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(kgn): remove stale macro template backup
  packages/kgn/src/base/macro-templates.js.bak
Due: none

fix(swarm): implement CRDT transport and completion ordering
  packages/kgc-swarm/src/consensus/distributed-orchestrator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(ci): execute bounded WIP closure transport
  .github/workflows/finish-unrdf-wip-transport.yml
Due: prettier --write

fix(cli): inspect executable WIP syntax without lexical false positives
  packages/cli/src/cli/commands/doctor/checks/quality.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): activate semantic CONSTRUCT integration proof
  packages/core/test/sparql/semantic-query.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(kgc-4d): activate delete replay time-travel proof
  packages/kgc-4d/test/4d-time-travel-validation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(ci): remove superseded WIP transport
  .github/workflows/finish-unrdf-wip-transport.yml
Due: prettier --write

docs(audit): record WIP dispositions and verification boundary
  docs/reports/unrdf-wip-audit-2026-08-04.md
Due: prettier --write

chore(audit): keep receipt executable rather than duplicated prose
  docs/reports/unrdf-wip-audit-2026-08-04.md
Due: prettier --write

noop
  THIS_FILE_SHOULD_NOT_EXIST
Due: none

chore: remove unintended empty sentinel
  THIS_FILE_SHOULD_NOT_EXIST
Due: none

noop
  THIS_FILE_SHOULD_NOT_EXIST_2
Due: none

chore: remove second unintended empty sentinel
  THIS_FILE_SHOULD_NOT_EXIST_2
Due: none

fix(daemon): align Merkle proof verification with root construction
  packages/daemon/src/integrations/kgc-4d-merkle.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): bind Merkle proof identity to leaf count
  packages/daemon/src/integrations/kgc-4d-validation.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): emit and verify leaf-count-bound Merkle proofs
  packages/daemon/src/integrations/kgc-4d-sourcing.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix
