Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

test(benchmarks): make vitest suites runnable (deps, test script, tinybench v6 API)
  benchmarks/integration.test.mjs
  benchmarks/package.json
  benchmarks/validation.test.mjs
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(codegen): generated package used module.exports under type:module, dangling ./registry export, hardcoded version
  codegen/generated/index.cjs
  codegen/generated/index.mjs
  codegen/generated/package.json
  codegen/scripts/generate-index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(infra): make docker/monitoring configs valid and runnable
  .env.example
  Dockerfile
  docker-compose.yml
  monitoring/alertmanager/config.yml
  monitoring/alerts.yml
  monitoring/otel/otel-collector-config.yaml
  monitoring/prometheus/prometheus.yml
Due: prettier --write

fix(make): portable version-bump (BSD-only sed -i '' failed on GNU sed)
  Makefile
Due: none

fix(infra): restore version literals clobbered by sweep (helm image tags, README examples, runbook)
  .github/scripts/README.md
  k8s/helm/unrdf-observability/values.yaml
  monitoring/RUNBOOK.md
Due: prettier --write

fix(ci): install pnpm before setup-node pnpm cache, use pnpm 10 for the v9 lockfile, drop Node 18
  .github/workflows/cache-optimization.yml
  .github/workflows/capability-docs.yml
  .github/workflows/ci.yml
  .github/workflows/cli-sync-tests.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependency-update.yml
  .github/workflows/deploy-benchmark-dashboard.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/nextjs.yml
  .github/workflows/otel-weaver-validate.yml
  .github/workflows/perf.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/quality-gates.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/unrdf-sync-integration.yml
Due: prettier --write

fix(benchmarks/v6): BigInt in delta size estimate, missing xsd PREFIX in complex query
  benchmarks/v6/2-delta-compression.mjs
  benchmarks/v6/3-query-performance.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(ci): repair ci.yml for the monorepo layout
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix(ci): make release.yml work for the version-agnostic monorepo
  .github/workflows/release.yml
Due: prettier --write

fix(ci): restore root eslint.config.mjs, retarget quality-gates, drop dead nextjs workflow, real integration tests in staging
  .github/workflows/deploy-benchmark-dashboard.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/nextjs.yml
  .github/workflows/otel-weaver-validate.yml
  .github/workflows/perf.yml
  .github/workflows/quality-gates.yml
  eslint.config.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

Fix dangling package.json exports and scripts found by integrity sweep
  packages/blockchain/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/daemon/package.json
  packages/kgc-cli/package.json
  packages/otel/package.json
  packages/semantic-search/package.json
  packages/v6-core/package.json
Due: prettier --write

Add package integrity checker (check:integrity)
  package.json
  scripts/check-package-integrity.mjs
  scripts/check-package-integrity.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(ci): perf workflows
  .github/workflows/perf.yml
  .github/workflows/performance-tracking.yml
Due: prettier --write

fix(ci): cli-sync test steps actually select their tests
  .github/workflows/ci.yml
  .github/workflows/cli-sync-tests.yml
  .github/workflows/performance-tracking.yml
Due: prettier --write

fix(ci): dependency-update and security workflows
  .github/workflows/dependency-update.yml
  .github/workflows/security.yml
Due: prettier --write

fix(infra): drop dangling workspace globs and gitlink, declare js-yaml, repair otel-weaver workflow
  .github/workflows/otel-weaver-validate.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  weaver.yaml
Due: prettier --write

fix(root): volta pins match .tool-versions node and CI pnpm 10
  package.json
Due: prettier --write

fix(ci): benchmark dashboard workflow built a Next.js app that no longer exists; cache workflow permissions and hashFiles
  .github/workflows/cache-optimization.yml
  .github/workflows/deploy-benchmark-dashboard.yml
Due: prettier --write

fix(k8s): consistent host/node ports, OTLP NodePorts, valid doctor Job
  Makefile
  k8s/doctor-job.yaml
  k8s/helm/unrdf-observability/templates/service-otel-collector.yaml
  k8s/kind-config.yaml
Due: prettier --write

fix(benchmarks): CI template uses pnpm 10 / Node 20+22 and real vitest invocations
  benchmarks/ci-integration.yml
Due: prettier --write

fix(ci): replace shut-down/too-old action versions (upload-artifact v3, create-pull-request v5, action-gh-release v1, codecov v3)
  .github/workflows/dependency-update.yml
  .github/workflows/otel-weaver-validate.yml
  .github/workflows/release.yml
Due: prettier --write

fix(sidecar): restore n3 dep, security-headers default export and rateLimitMiddleware named export; sync sidecar lockfile
  sidecar/package.json
  sidecar/pnpm-lock.yaml
  sidecar/server/middleware/03.rate-limit.mjs
  sidecar/server/utils/security-headers.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(playground,prototypes): restore original count query and vitest json/html reporters, narrow gitignore
  playground/.gitignore
  playground/vitest.config.mjs
  prototypes/01-temporal-sparql.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

docs: revert invented version literals to base, keep only spec-required openapi 3.0.0; restore VERSION latest; note non-runnable MAPEK examples
  docs/agents/how-to/02-execute-mapek-cycle.mjs
  docs/agents/reference/api-contracts.json
  docs/agents/reference/capabilities.jsonld
  docs/agents/reference/error-codes.json
  docs/agents/tutorials/02-mapek-integration.mjs
  docs/archive/legacy-pre-2030/archive/2026-01-11/enterprise/ENTERPRISE_MIGRATION/agent-6/index.mjs
  docs/capability-map/capability-index.json
  docs/capability-map/insights.json
  docs/capability-map/openapi-schema.json
  docs/generated/compatibility-matrix.json
  docs/generated/dependencies.json
  docs/generated/stats.json
  docs/generated/validation-report.json
  docs/implementation-plan/risk-matrix.json
  docs/internal/planning/milestone-tracking.json
  docs/internal/research/conversion-checklist.json
  docs/internal/validation/gate-results.json
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

docs: keep unused-deps-analysis at base; UUID validator accepts any version like uuid.validate
  docs/schemas/zod-observation-schemas.mjs
  docs/unused-deps-analysis.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(infra): restore CI verification, Dockerfile test/HEALTHCHECK/EXPOSE, compose healthcheck; drop default password and latest tag
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  Dockerfile
  docker-compose.yml
Due: prettier --write

fix(benchmarks): restore receipt-batch benchmark on @unrdf/receipts, drop synthetic baseline, regenerate lockfile
  benchmarks/optimization-benchmarks.mjs
  benchmarks/package.json
  benchmarks/run-statistical-benchmarks.mjs
  benchmarks/v6.0.0-baseline.json
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

Follow-ups after merging the outside-packages fixes
  docs/agents/how-to/02-execute-mapek-cycle.mjs
  docs/agents/tutorials/02-mapek-integration.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/bench-all.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(hooks): define evaluateSemanticInference used by semantic-inference conditions
  packages/hooks/src/hooks/condition-evaluator.mjs
  packages/hooks/test/semantic-inference-condition.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(hooks): remove unused imports/bindings flagged by lint
  packages/hooks/src/hooks/observability.mjs
  packages/hooks/src/hooks/parallel-executor.mjs
  packages/hooks/src/hooks/worker-pool.mjs
  packages/hooks/test/parallel-execution.test.mjs
  packages/hooks/test/semantic-inference.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(daemon): restore OTel resource attribute imports in otel-sdk
  packages/daemon/src/integrations/otel-sdk.mjs
  packages/daemon/test/otel-sdk-init.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(kgc-probe): hoist catch-scope bindings in concurrency probes, clear src lint
  packages/kgc-probe/src/agents/index.mjs
  packages/kgc-probe/src/artifact.mjs
  packages/kgc-probe/src/cli.mjs
  packages/kgc-probe/src/merge.mjs
  packages/kgc-probe/src/orchestration-core.mjs
  packages/kgc-probe/src/orchestrator.mjs
  packages/kgc-probe/src/probes/concurrency.mjs
  packages/kgc-probe/src/probes/network.mjs
  packages/kgc-probe/src/probes/performance.mjs
  packages/kgc-probe/src/probes/persistence.mjs
  packages/kgc-probe/src/probes/tooling.mjs
  packages/kgc-probe/src/probes/wasm.mjs
  packages/kgc-probe/src/reporter.mjs
  packages/kgc-probe/src/reporters/rdf.mjs
  packages/kgc-probe/src/storage/index.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci: fix two workflow defects that fail independent of code changes
  .github/workflows/otel-weaver-validate.yml
  .github/workflows/unrdf-sync-integration.yml
Due: prettier --write

chore(daemon): remove unused imports/bindings, prefix intentionally unused params
  packages/daemon/src/groq/schema-prompts.mjs
  packages/daemon/src/mcp/powl-handlers.mjs
  packages/daemon/test/autonomous-components.test.mjs
  packages/daemon/test/chaos-resilience.test.mjs
  packages/daemon/test/e2e-edge-cases.test.mjs
  packages/daemon/test/e2e-maximalist-autonomics.test.mjs
  packages/daemon/test/e2e-powlv2-maximalist.test.mjs
  packages/daemon/test/powlv2-open-ontologies.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(atomvm): build-pack-fallback must not skip - use a committed beam instead of erlc
  packages/atomvm/test/continuum/build-pack-fallback.test.mjs
  packages/atomvm/test/fixtures/beams/fallback_probe.beam
  packages/atomvm/test/fixtures/erlang/fallback_probe.erl
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore: ignore .build/ receipts produced by the atomvm and interchangeable-parts gates
  .gitignore
Due: none

core: remove unused imports/bindings flagged by lint
  packages/core/src/evidence-store.mjs
  packages/core/src/sparql/semantic-executor.mjs
  packages/core/src/utils/semantic-bridge.mjs
  packages/core/test/interchangeable-part-canonical.test.mjs
  packages/core/test/sparql/semantic-query.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

chore(kgc-probe): remove unused imports and bindings from tests
  packages/kgc-probe/test/agents.test.mjs
  packages/kgc-probe/test/fixtures/frozen-environment.mjs
  packages/kgc-probe/test/performance.test.mjs
  packages/kgc-probe/test/persistence.test.mjs
  packages/kgc-probe/test/receipts.test.mjs
  packages/kgc-probe/test/storage.test.mjs
  packages/kgc-probe/test/test-determinism.test.mjs
  packages/kgc-probe/test/test-e2e-integration.test.mjs
  packages/kgc-probe/test/test-guard-enforcement.test.mjs
  packages/kgc-probe/test/test-merge-correctness.test.mjs
  packages/kgc-probe/test/test-receipt-verification.test.mjs
  packages/kgc-probe/test/types.test.mjs
  packages/kgc-probe/test/unit/agents.test.mjs
  packages/kgc-probe/test/unit/artifact.test.mjs
  packages/kgc-probe/test/unit/storage.test.mjs
  packages/kgc-probe/test/unit/types.test.mjs
  packages/kgc-probe/test/utils.test.mjs
  packages/kgc-probe/test/validation/validation.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

Add JSDoc to federation query planner core exports
  packages/federation/src/federation/query-planner-core.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

core: add JSDoc to capability/receipt/lease/policy modules
  packages/core/src/admission-boundary.mjs
  packages/core/src/bounded-cache.mjs
  packages/core/src/capability-graph.mjs
  packages/core/src/capability-ledger.mjs
  packages/core/src/command-verifier.mjs
  packages/core/src/event-log.mjs
  packages/core/src/evidence-store.mjs
  packages/core/src/execution-plan.mjs
  packages/core/src/lease.mjs
  packages/core/src/policy-engine.mjs
  packages/core/src/receipt-chain.mjs
  packages/core/src/replay-runner.mjs
  packages/core/src/snapshot.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix
