Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

refactor(docs): remove redundant v6 refs from DOCUMENTATION-INDEX.md
  docs/v6/DOCUMENTATION-INDEX.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from PATTERN_INDEX and STATUS_DASHBOARD
  docs/v6/PATTERN_INDEX.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from CORE-CONCEPTS.md
  docs/v6/CORE-CONCEPTS.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from PATTERNS.md
  docs/v6/PATTERNS.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from PATTERN_INDEX.md
  docs/v6/PATTERN_INDEX.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from PATTERN_TUTORIALS.md
  docs/v6/PATTERN_TUTORIALS.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from diataxis/README.md
  docs/v6/diataxis/README.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from API-REFERENCE.md
  docs/v6/API-REFERENCE.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from DELIVERABLES_SUMMARY.md
  docs/v6/DELIVERABLES_SUMMARY.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from RECEIPT_IMPLEMENTATION_SUMMARY.md
  docs/v6/RECEIPT_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from MIGRATION_RUNBOOKS.md
  docs/v6/MIGRATION_RUNBOOKS.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from V6_MIGRATION_STRATEGY.md
  docs/v6/V6_MIGRATION_STRATEGY.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from PROGRAM_CHARTER.md
  docs/v6/PROGRAM_CHARTER.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from CAPSULE_BACKLOG.md
  docs/v6/CAPSULE_BACKLOG.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from 12-WEEK-FAST-TRACK-PLAN.md
  docs/v6/12-WEEK-FAST-TRACK-PLAN.md
Due: prettier --write

refactor(docs): update broken links and remove v6 refs from DOCUMENTATION-COMPLETION-REPORT.md
  docs/v6/DOCUMENTATION-COMPLETION-REPORT.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from TEST_SUITE_DELIVERY.md
  docs/v6/TEST_SUITE_DELIVERY.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from ARCHITECTURE_REVIEW.md
  docs/v6/ARCHITECTURE_REVIEW.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from VALIDATION_REPORT.md
  docs/v6/VALIDATION_REPORT.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from MIGRATION-GUIDE.md
  docs/v6/MIGRATION-GUIDE.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from QUICK-START.md
  docs/v6/QUICK-START.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from ARCHITECTURE.md
  docs/v6/ARCHITECTURE.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from GRAMMAR_CLOSURE_SUMMARY.md
  docs/v6/GRAMMAR_CLOSURE_SUMMARY.md
Due: prettier --write

refactor(docs): remove redundant v6 refs from multiple documentation files
  docs/v6/CI_CD_QUICKSTART.md
  docs/v6/CONTROL_PLANE.md
  docs/v6/GRAMMAR_MATRIX.md
  docs/v6/MATURITY_LADDER.md
  docs/v6/MODERNIZATION.md
  docs/v6/PERFORMANCE.md
  docs/v6/PROGRAM_CHARTER.md
  docs/v6/ROLLBACK-SUMMARY.md
  docs/v6/STATUS_DASHBOARD.md
Due: prettier --write

feat(otel): update custom conventions and SDK integrations
  docs/v6/MIGRATION_DELIVERABLES_SUMMARY.md
  otel/custom-conventions.yaml
  packages/daemon/custom-conventions.yaml
  packages/daemon/package.json
  packages/daemon/src/integrations/otel-sdk.mjs
  packages/hooks/package.json
  packages/hooks/src/hooks/observability.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(deps): update internal dependencies to 26.4.7 and fix OTEL versions
  packages/core/package.json
  packages/daemon/package.json
  packages/dark-matter/package.json
  packages/federation/package.json
  packages/hooks/package.json
  packages/kgc-4d/package.json
  packages/streaming/package.json
  packages/v6-core/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core): preserve arbitrary properties in cloneQuad function
  packages/core/src/utils/quad-utils.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(daemon): gracefully skip open-ontologies integration test when binary not found
  packages/daemon/test/open-ontologies-integration.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(daemon): also check for test data file before running open-ontologies integration test
  packages/daemon/test/open-ontologies-integration.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(core): relax timing assertion in performanceTimer test to 5ms minimum
  packages/core/test/logger.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix: resolve test failures and push to remote
  package.json
  packages/cli/src/cli/commands/sync/config-parser.mjs
  packages/daemon/vitest.config.mjs
  packages/streaming/test/change-feed-ring-buffer.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

feat(sync): fix CodeManufactory sync templates and add BusinessOS RevOps config
  codemanufactory-businessos-revops.toml
  codemanufactory.unrdf.toml
  generated/businessos-revops/businessos/deals/_deal.ttl
  generated/businessos-revops/businessos/otel/semconv/revops_attributes.yaml
  generated/businessos-revops/businessos/workflows/_workflow.ex
  generated/businessos-revops/lib/quality/_metric.ex
  generated/businessos-revops/mcp_tools/_tool.mjs
  generated/codemanufactory/.github/workflows/ci.yml
  generated/codemanufactory/.gitlab-ci.yml
  generated/codemanufactory/Dockerfile
  generated/codemanufactory/README.md
  generated/codemanufactory/openapi.yaml
  generated/codemanufactory/queries/.rq
  generated/codemanufactory/service/README.md
  generated/codemanufactory/test/Name of the test suite.test.js
  generated/codemanufactory/test/integration/Name of the integration test suite.test.js
  packages/cli/templates/config/dockerfile.njk
  packages/cli/templates/scaffolding/service-init.njk
  packages/cli/templates/scaffolding/sparql-query.njk
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: add generated/ to .gitignore to prevent prettier issues
  .gitignore
Due: none

feat(sync): add per-row rendering and regenerate all RevOps artifacts
  codemanufactory-businessos-revops.toml
  generated/businessos-revops/businessos/deals/benchmark_deal.ttl
  generated/businessos-revops/businessos/deals/case-study_deal.ttl
  generated/businessos-revops/businessos/deals/documentation_deal.ttl
  generated/businessos-revops/businessos/deals/mcp-participant-surface_deal.ttl
  generated/businessos-revops/businessos/deals/ontology_deal.ttl
  generated/businessos-revops/businessos/deals/package_deal.ttl
  generated/businessos-revops/businessos/deals/receipt_deal.ttl
  generated/businessos-revops/businessos/deals/release-artifact_deal.ttl
  generated/businessos-revops/businessos/deals/repository_deal.ttl
  generated/businessos-revops/businessos/deals/schema_deal.ttl
  generated/businessos-revops/businessos/deals/semantic-convention_deal.ttl
  generated/businessos-revops/businessos/deals/source-code_deal.ttl
  generated/businessos-revops/businessos/deals/telemetry-mapping_deal.ttl
  generated/businessos-revops/businessos/deals/validation-artifact_deal.ttl
  generated/businessos-revops/businessos/deals/workflow-model_deal.ttl
  generated/businessos-revops/businessos/otel/semconv/revops_attributes.yaml
  generated/businessos-revops/businessos/workflows/wf_cmf_purchase_workflow.ex
  generated/businessos-revops/lib/codemanufactory_revops/quality/artifact_delivery_sigma_metric.ex
  generated/businessos-revops/lib/codemanufactory_revops/quality/payment_processing_accuracy_metric.ex
  generated/businessos-revops/lib/codemanufactory_revops/quality/purchase_approval_cycle_time_hours_metric.ex
  generated/businessos-revops/lib/codemanufactory_revops/quality/purchase_workflow_dpmo_metric.ex
  generated/businessos-revops/mcp_tools/approve_purchase_tool.mjs
  generated/businessos-revops/mcp_tools/create_purchase_request_tool.mjs
  generated/businessos-revops/mcp_tools/process_payment_tool.mjs
  generated/businessos-revops/mcp_tools/trigger_manufacturing_tool.mjs
  generated/businessos-revops/mcp_tools/verify_delivery_tool.mjs
  packages/cli/src/cli/commands/sync/orchestrator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(federation): resolve linting errors and add Fortune 5 sales simulation
  packages/federation/src/federation/coordinator.mjs
  packages/federation/src/ml/predictor.mjs
  scripts/simulate-fortune5-sales-cycle.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

26.4.10
  package.json
Due: prettier --write

26.4.11
  package.json
Due: prettier --write

chore(cli): bump version to 26.4.11
  packages/cli/package.json
Due: prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --cache-strategy content --fix: any of: *.{mjs,js}
  prettier --write: any of: *.{json,md,yml,yaml}
