Repository seanchatmangpt/unrdf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

.lintstagedrc.json:

{
  "*.{mjs,js}": ["eslint --cache --cache-location .eslintcache --cache-strategy content --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(security): close shell-injection sites and fix scanner false positives
  .github/scripts/release-notes.mjs
  docs/archive/legacy-pre-2030/security-test-advanced.mjs
  packages/caching/src/layers/multi-layer-cache.mjs
  packages/cli/src/cli/commands/doctor/checks/integration.mjs
  packages/cli/src/cli/commands/doctor/checks/publish.mjs
  packages/core/src/utils/semantic-bridge.mjs
  packages/kgc-swarm/test/arbitraries.mjs
  scripts/documentation/generate-changelog.mjs
  src/knowledge-engine/lockchain-writer.mjs
  src/security/injection-checker.mjs
  src/security/secret-detector.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

test(benchmarks): give the remaining suite-running tests the 60s timeout
  benchmarks/integration.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

fix(scripts): kill the whole process group when a matrix command times out
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

style: prettier-format the 9 files CI's format:check flags
  packages/hooks/src/hooks/dependency-graph.mjs
  packages/hooks/src/hooks/observability.mjs
  packages/hooks/src/hooks/parallel-executor.mjs
  packages/hooks/src/hooks/schemas.mjs
  packages/hooks/src/hooks/wasm4pm-conformance-bridge.mjs
  packages/hooks/src/hooks/worker-pool.mjs
  packages/kgc-probe/src/index.mjs
  packages/kgc-probe/src/orchestration-core.mjs
  packages/kgc-probe/src/orchestrator.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci: timeouts, concurrency, PR-comment permissions and security ratchets
  .github/baselines/README.md
  .github/baselines/audit.json
  .github/baselines/injection-critical.json
  .github/workflows/atomvm-armstrong-alive.yml
  .github/workflows/cache-optimization.yml
  .github/workflows/capability-docs.yml
  .github/workflows/ci.yml
  .github/workflows/cli-sync-tests.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependency-update.yml
  .github/workflows/deploy-benchmark-dashboard.yml
  .github/workflows/deploy-book.yml
  .github/workflows/otel-weaver-validate.yml
  .github/workflows/package-matrix.yml
  .github/workflows/perf.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/quality-gates.yml
  .github/workflows/r83-tcps-ready-set-consumer.yml
  .github/workflows/r88-r86-qualification-capsule.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/thesis-validation.yml
  .github/workflows/unrdf-sync-integration.yml
  scripts/ci/audit-ratchet.mjs
  scripts/ci/findings-ratchet.mjs
  scripts/ci/ratchet-lib.mjs
  scripts/ci/ratchet.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

fix(cli): add the ontology and templates advanced.unrdf.toml references
  packages/cli/examples/sync/ontology/complete-schema.ttl
  packages/cli/examples/sync/templates/api-docs.njk
  packages/cli/examples/sync/templates/instances.njk
  packages/cli/examples/sync/templates/properties.njk
  packages/cli/examples/sync/templates/relationships.njk
Due: none

bench: regenerate interchangeable-parts receipt for prettier-formatted kernel
  benchmarks/interchangeable-parts/bench-receipt.json
Due: prettier --write

fix: address CodeQL high alerts (race, backslash escaping, ReDoS)
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/core/src/sparql/semantic-executor.mjs
  packages/v6-compat/src/schema-codec.mjs
  packages/v6-compat/src/schema-generator.mjs
  packages/v6-compat/test/schema-codec.node.test.mjs
  packages/v6-compat/test/schema-generator.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci: rebuild pull-request CI around one workflow, measured queue wait and shared setup
  .github/actions/setup/action.yml
  .github/baselines/README.md
  .github/workflows/autofix.yml
  .github/workflows/capability-docs.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/cli-sync-tests.yml
  .github/workflows/code-quality.yml
  .github/workflows/codeql.yml
  .github/workflows/ggen-legacy-package-admission.yml
  .github/workflows/package-matrix.yml
  .github/workflows/perf.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/quality-gates.yml
  .github/workflows/quality.yml
  .github/workflows/scheduled.yml
  .github/workflows/security.yml
  .github/workflows/thesis-validation.yml
  docs/ci-architecture.md
  packages/chatman-equation/src/index.mjs
  packages/kgc-probe/src/reporters/rdf.mjs
  scripts/ci/affected.mjs
  scripts/ci/affected.test.mjs
  scripts/ci/package-weights.json
  scripts/ci/security-gate.sh
  scripts/ci/sync-example-configs.sh
  scripts/ci/sync-generated-code.sh
  scripts/verify-workspace-packages.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix, prettier --write

chore: ignore security-gate scan reports
  .gitignore
Due: none

fix(cli): make sync skip/backup writes atomic (CodeQL file system race)
  packages/cli/src/cli/commands/sync/template-renderer.mjs
  packages/cli/test/sync/template-renderer.test.mjs
Due: eslint --cache --cache-location .eslintcache --cache-strategy content --fix

ci: skip the CI Gate when the run is cancelled by a newer push
  .github/workflows/ci.yml
Due: prettier --write

ci: run deep scans and quality reports on the schedule only, not on every push to main
  .github/workflows/scheduled.yml
  .github/workflows/security.yml
  docs/ci-architecture.md
Due: prettier --write

ci: fix workflow validation step (action-validator takes one file per call)
  .github/workflows/ci.yml
Due: prettier --write
